<div class="main-right col-xs-12" ng-controller="DriverSheetCntrl">
    <div class="row">
        <div class="col-sm-4">
            <h3>Driver Attendance Sheet</h3>
        </div>
        <div class="col-sm-3">

        </div>

        <div class="col-sm-3 mb-10 pall-zero">
            <date-picker id="permitExpiry" ng-model="driver.date" placeholder="'Date*'"
                         class="'custom-form-control'" past-present="'pastPresentDate'">
            </date-picker>
        </div>
        <span class="col-sm-1 pall-zero">
            <button type="submit" ng-click="getAllDriversAttendance(driver.date);" class="btn go">
                                <i class="fa fa-search sear" aria-hidden="true"></i>
                            </button>
        </span>
    </div>
    <div class="col-sm-12 pall-zero mb-10">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="saveAll()"> Save</button>
        </div>
    </div>


    <table class="table table-bordered table-striped table-condensed table-hover">
        <tr>
            <th>S No</th>
            <th>Driver Name</th>
            <th>Mobile Number</th>
            <th>Attendance</th>
        </tr>
        <tr ng-repeat="driver in driverSheets" style="text-align: center;">
            <td class="col-sm-1">{{$index+1}}</td>
            <td class="col-sm-1">{{driver.driverName | uppercase}}</td>
            <td class="col-sm-2">{{driver.contactPhone}}</td>
            <td class="col-sm-1">
            <label>  Yes <input type="radio" name="{{$index}}" ng-value="true" ng-model="driver.isPresent">&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>No <input type="radio" name="{{$index}}" ng-value="false" ng-model="driver.isPresent"></label>
            </td>

        </tr>
    </table>
    <div class="col-sm-12 pall-zero">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="saveAll()"> Save</button>
        </div>
    </div>
</div>
