<div class="main-right col-xs-12" ng-controller="DriverSheetCntrl">
    <div class="row">
        <div class="col-sm-4">
            <h3>Driver Attendance Sheet</h3>
        </div>
    </div>
    <div class="col-sm-12 pall-zero mb-10">
        <div class=" mt-20">
            <div class="col-sm-1">
                <button type="button" class="btn btn-default" ng-click="previousDay()"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </div>

            <div class="col-sm-3 mb-10 pall-zero">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"
                           style="height: 34px !important;" ng-change="getAllDriversAttendance(dt)"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>

            <div class="col-sm-1">
                <button type="button" class="btn btn-default" ng-click="nextDay()"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </div>

            <div class="pull-right">
                <button class="btn btn-primary" ng-click="saveAll()"> Save</button>
            </div>
        </div>

    </div>


    <table class="table table-bordered table-striped table-condensed table-hover">
        <tr>
            <th>S No</th>
            <th>Driver Name</th>
            <th>Mobile Number</th>
            <th>Attendance</th>
        </tr>
        <tr ng-repeat="driver in driverSheets" style="text-align: center;">
            <td class="col-sm-1">{{$index+1}}</td>
            <td class="col-sm-1">{{driver.driverName | uppercase}}</td>
            <td class="col-sm-2">{{driver.contactPhone}}</td>
            <td class="col-sm-1">
            <label>  Yes <input type="radio" name="{{$index}}" ng-value="true" ng-model="driver.isPresent">&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>No <input type="radio" name="{{$index}}" ng-value="false" ng-model="driver.isPresent"></label>
            </td>

        </tr>
    </table>
    <div class="col-sm-12 pall-zero">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="saveAll()"> Save</button>
        </div>
    </div>
</div>
