<div class="main-right col-xs-12" ng-controller="DriverSheetCntrl">
    <div class="row">
        <div class="col-sm-4">
            <h3>Driver Attendance Sheet</h3>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-4">
                <ui-select ng-model="driversList.driver" theme="select2"
                           title="Choose a Driver" append-to-body="true">
                    <ui-select-match class="form-control" placeholder="Select a Driver">
                        {{$select.selected.fullName || driverName}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="driver in driversList | propsFilter: {fullName: $select.search}">
                        <div ng-bind-html="driver.fullName | highlight: $select.search">
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div>
                <ul class="list-inline report-expense">
                    <li class="filterFromDate">
                        <date-picker ng-model="fromDate" past-present="'pastPresentDate'"
                                     class="'textfield'" placeholder="'from date'">
                        </date-picker>
                    </li>
                    <li class="filterToDate">
                        <date-picker ng-model="toDate" past-present="'pastPresentDate'"
                                     class="'textfield'" placeholder="'to date'"></date-picker>
                    </li>
                    <li class="pall-zero">
                        <button type="submit" ng-click="showDriverReport(driversList.driver._id, fromDate, toDate );"
                                class="btn go">
                            <i class="fa fa-search sear" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="pall-zero">
                        <button type="submit" ng-click="downloadDriverReport(driversList.driver._id, fromDate, toDate );"
                                class="btn go">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 pall-zero mb-10" ng-show="!validateTable">
        <div class=" mt-20">
            <div class="col-sm-1">
                <button type="button" class="btn btn-default" ng-click="previousDay()"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </div>

            <div class="col-sm-3 mb-10 pall-zero">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"
                           style="height: 34px !important;" ng-change="getAllDriversAttendance(dt)"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>

            <div class="col-sm-1">
                <button type="button" class="btn btn-default" ng-click="nextDay()"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </div>

            <div class="pull-right">
                <button class="btn btn-primary" ng-click="saveAll()"> Save</button>
            </div>
        </div>

    </div>


    <table class="table table-bordered table-striped table-condensed table-hover" ng-show="!validateTable">
        <tr>
            <th>S No</th>
            <th>Driver Name</th>
            <th>Mobile Number</th>
            <th>Attendance</th>
        </tr>
        <tr ng-repeat="driver in driverSheets" style="text-align: center;">
            <td class="col-sm-1">{{$index+1}}</td>
            <td class="col-sm-1">{{driver.driverName | uppercase}}</td>
            <td class="col-sm-2">{{driver.contactPhone}}</td>
            <td class="col-sm-1">
            <label>  Yes <input type="radio" name="{{$index}}" ng-value="true" ng-model="driver.isPresent">&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>No <input type="radio" name="{{$index}}" ng-value="false" ng-model="driver.isPresent"></label>
            </td>

        </tr>
    </table>
    <div class="col-sm-12 pall-zero" ng-show="!validateTable">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="saveAll()"> Save</button>
        </div>
    </div>
<!--<div class="center-block" style="width: 60%;">-->
    <!--<div class="alert alert-danger" role="alert" ng-show="errors.length">-->
        <!--<ul>-->
            <!--<li ng-repeat="error in errors">{{error}}</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

    <table class="table table-bordered table-striped table-condensed table-hover mt-20" ng-show="validateTable">
        <tr>
            <th>S No</th>
            <th>Driver Name</th>
            <th>Mobile Number</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="driver in showDriverReport" style="text-align: center;">
            <td class="col-sm-1">{{$index+1}}</td>
            <td class="col-sm-1">{{driver.driverName | uppercase}}</td>
            <td class="col-sm-2">{{driver.contactPhone}}</td>
            <td class="col-sm-1">{{driver.isPresent}}</td>
            <td class="col-sm-1">{{driver.date}}</td>

        </tr>
    </table>

</div>
