<top-navigation></top-navigation>
<div class="container-fluid">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>
        <div class="main-right col-xs-9" ng-controller="ShowAccountsCtrl">

            <h3>Accounts</h3>
            <button class="btn  btn-blue pull-right mb-10" ng-click="goToEditAccountPage()">Add Account</button>

            <table class="table table-bordered table-striped table-condensed table-hover" ng-table="accountParams">
                <tr ng-repeat="accounts in currentPageOfAccounts" style="text-align: center;">

                    <td data-title="'Username'" sortable="'userName'" class="clickable-item col-sm-2">{{accounts.userName}}
                    </td>
                    <td data-title="'password'" sortable="'password'" class="clickable-item col-sm-2">{{
                        accounts.password }}
                    </td>
                    <td data-title="'Mobile'" sortable="'contactPhone'" class="clickable-item col-sm-2">{{
                        accounts.contactPhone }}
                    </td>
                    <td data-title="'ERP Status'" sortable="'erpEnabled'" class="clickable-item col-sm-2">{{
                        accounts.erpEnabled }}
                    </td>
                    <td data-title="'GPS Status'" sortable="'gpsEnabled'" class="clickable-item col-sm-2">{{
                        accounts.gpsEnabled }}
                    </td>
                    <td data-title="'Status'" sortable="'isActive'" class="clickable-item col-sm-1">{{
                        accounts.isActive }}
                    </td>

                    <td data-title="'Created By'" sortable="'createdByName'"
                        class="clickable-item col-sm-1">{{ accounts.attrs.createdByName }}
                    </td>
                    <td data-title="'Action'" class="col-sm-2">
                        <a href="#" class="btn" ng-click="goToEditAccountPage(accounts._id)">
                            <span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
                <tr ng-if="!currentPageOfAccounts || currentPageOfAccounts.length === 0">
                    <td colspan="8">No account Records exist.</td>
                </tr>
            </table>

        </div>
    </div>
</div>
