<div class="main-right col-xs-12" ng-controller="ShowAccountsCtrl">
    <div class="col-xs-12 pall-zero mb-10">
        <div class="col-sm-3 pall-zero"><h3>Accounts</h3></div>
        <div class="col-xs-5 pull-right pall-zero">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" ng-model="filter" placeholder="Search"
                           ng-click="findAccounts()">
                    <span class="input-group-addon">
                    <button type="button" ng-click="findAccounts()">
                            <i class="fa fa-search sear" aria-hidden="true"></i>
                    </button>
                </span>
                </div>
        </div>
    </div>

    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="accountParams">
        <tr ng-repeat="account in currentPageOfAccounts" style="text-align: center;">

            <td data-title="'Username'" sortable="'userName'" class="clickable-item">{{account.userName}}
            </td>
            <td data-title="'password'" sortable="'password'" class="clickable-item">{{account.password }}
            </td>
            <td data-title="'Mobile'" sortable="'contactPhone'" class="clickable-item">{{account.contactPhone
                }}
            </td>
            <td data-title="'ERP Status'" sortable="'erpEnabled'" class="clickable-item">{{account.erpEnabled
                }}
            </td>
            <td data-title="'GPS Status'" sortable="'gpsEnabled'" class="clickable-item">{{account.gpsEnabled
                }}
            </td>
            <td data-title="'Status'" sortable="'isActive'" class="clickable-item">{{account.isActive }}
            </td>

            <td data-title="'Created By'" sortable="'createdByName'"
                class="clickable-item">{{ account.attrs.createdByName }}
            </td>
            <td data-title="'Action'">
                <a href="#" class="btn edit-icon" ng-click="goToEditAccountPage(account._id)">
                    <span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td data-title="'Last Login Time'">{{account.lastLogin |date : "dd/MM/y HH:mm"}} </td>
        </tr>
        <tr ng-if="!currentPageOfAccounts || currentPageOfAccounts.length === 0">
            <td colspan="8">No account Records exist.</td>
        </tr>

    </table>


    <div class="add-image pull-right">
        <figure>
            <a href="#" ng-click="goToEditAccountPage()">
                <img src="images/Add_Expenses.png" alt="Add Expenses"  title="Add Expenses"></a>
        </figure>
    </div>
</div>

