<div class="main-right col-xs-12" ng-controller="AddEditAccountCtrl">
    <div class="col-xs-12 account-edit">
        <h2 class="title-name">{{pagetitle}}</h2>
        <form ng-submit="addOrUpdateNewAccount()" class="mt-10">
            <div class="col-sm-6 col-xs-12 col-sm-push-3">
                <div class="form-group col-xs-12">
                    <div class="col-xs-12 styling-input-list">
                        <input ng-model="addNewAccount.userName" type="text" class="form-control custom-form-control">
                        <label class="focus-effect-for-input">User Name</label>
                    </div>
                </div>

                <div class="form-group col-xs-12">

                    <div class="col-xs-12 styling-input-list">
                        <input ng-model="addNewAccount.password" type="password"
                               class="form-control custom-form-control" id="password">
                        <label class="focus-effect-for-input">Password</label>

                    </div>
                </div>

                <div class="form-group col-xs-12">

                    <div class="col-xs-12 styling-input-list">
                        <input ng-model="addNewAccount.contactPhone" type="text"
                               class="form-control custom-form-control" id="contactPhone">
                        <label for="contactPhone" class="focus-effect-for-input">Mobile</label>

                    </div>
                </div>


                <div class=" col-xs-12 form-group">
                    <div class="erp-gps col-xs-6 form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="addNewAccount.erpEnabled">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                ERP Status
                            </label>
                        </div>
                    </div>


                    <div class="erp-gps col-xs-6 form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="addNewAccount.gpsEnabled">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                GPS Status
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12">
                    <div class="erp-gps col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="addNewAccount.isActive">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Account Status
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-xs-4 col-xs-push-4">

                <div>
                    <div class="alert alert-danger" role="alert" ng-show="addNewAccount.errors.length">
                        <ul>
                            <li ng-repeat="error in addNewAccount.errors">{{error}}</li>
                        </ul>
                    </div>

                    <div class="alert alert-success" role="alert" ng-show="addNewAccount.success.length">
                        <ul>
                            <li ng-repeat="success in addNewAccount.success">{{success}}</li>
                        </ul>
                    </div>
                    <button type="button" class="btn can" ng-click="cancel()">Cancel</button>

                    <button type="submit" class="btn can last">Submit</button>
                </div>
            </div>

        </form>

    </div>
</div>
</div>
</div>




