<div ng-controller="AccountsCtrl">
    <h3>Accounts</h3>
    <div class="pull-right">
        <button class="btn btn-success" ng-click="openAddAccountModal()">Add Account</button>
    </div>

    <script type="text/ng-template" id="add-account.html">
        <div class="add-account-modal">

            <span ng-click="closeModal()" class="glyphicon glyphicon-remove pull-right cursor-pointer"></span>
            <form ng-submit="addAccount()">
                <h2 class="login-heading">Add Account</h2>
                <div class="form-group">
                    <label for="accountId">Account Name</label>
                    <input ng-model="account.name" type="text" class="form-control" id="accountId"
                           placeholder="Account Name">
                </div>

                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input ng-model="account.userName" type="text" class="form-control" id="userName"
                           placeholder="User name">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input ng-model="account.password" type="password" class="form-control" id="password"
                           placeholder="Password">
                </div>

                <div>
                    <div class="alert alert-danger" role="alert" ng-show="account.error">
                        <strong>{{account.error}}</strong>
                    </div>

                    <div class="alert alert-success" role="alert" ng-show="account.success">
                        <strong>{{account.success}}</strong>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </script>

</div>