
<div class="main-temp col-xs-12 mt-20" ng-init="getAmountsByparty();getAllParties();">
    <div class="col-xs-12 pall-zero db-expenses">
        <div class="col-xs-3 pall-zero"><p>Total Receivables</p></div>
        <div class="col-xs-9 pall-zero">
            <ul class="list-inline report-expense">
                <li class="filterFromDate">
                    <date-picker ng-model="filters.fromDate" past-present="'pastPresentDate'" class="'textfield'">
                    </date-picker>
                </li>
                <li class="filterToDate">
                    <date-picker ng-model="filters.toDate" ban-future="'banFutureDate'" class="'textfield'"></date-picker>
                </li>
                <li class="col-xs-3 pall-zero pos-relative">
                    <span class="bot-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    

                           <input type="text" ng-model="filters.partyName" 
                           uib-typeahead="party.name for party in partiesList | filter:$viewValue"
                           class="form-control textfield" typeahead-min-length="1"
                           typeahead-on-select="selectPartyId($item)"
                           ng-change="resetPartyName();"
                           typeahead-select-on-exact="true" placeholder="Party Name"
                           typeahead-no-results="noParty" autocomplete="false">
                    <div ng-show="noTrucks">
                        <i class="glyphicon glyphicon-remove red"></i>
                        <span class="red"> No Results Found </span>
                    </div>
                </li>
                <li class="col-xs-1">
                    <button ng-click="getAmountsBypartyWithFilters()" type="button" class="btn go">Go</button>
                </li>
            </ul>
            <ul class="list-inline mailDownload">
                <li>
                    <button type="button" ng-click="sharePaymentsDetailsByPartyViaEmail();"  class="btn mailImage"><img src="images/Reports_Mail.png"></button>
                </li>

                <li>
                    <button type="button" class="btn mailImage"><img src="images/Reports_Download.png"></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12">
        <div>
            <div class="alert alert-danger" role="alert" ng-show="filters.error.length">
                <ul>
                    <li ng-repeat="error in filters.error">{{error}}</li>
                </ul>
            </div>
            <div class="alert alert-success" role="alert" ng-show="filters.success.length">
                <ul>
                    <li ng-repeat="success in filters.success">{{success}}</li>
                </ul>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="partyParams">
        <tr ng-repeat="amountByParties in parties" style="text-align: center;">
            <td data-title="'Party Name'" sortable="'partyName'" class="clickable-item col-sm-2">
                <a href="#"
                ng-click="gotoPaymentBypartyId(amountByParties.id, amountByParties.attrs.partyName )"> 
                  {{amountByParties.attrs.partyName }}</a>
            </td>
            <td data-title="'Party Mobile'" sortable="'partyContact'" class="clickable-item col-sm-2">
                    {{ amountByParties.attrs.partyContact}}
                </td>
            <td data-title="'Total Fright'" sortable="'totalFright'" class="clickable-item col-sm-2">
                {{ amountByParties.totalFright}}
            </td>
            <td data-title="'Paid Amount'" sortable="'totalPayment'" class="clickable-item col-sm-2">
                {{ amountByParties.totalPayment}}
            </td>

            <td data-title="'Due Amount'" sortable="'totalDue'" class="clickable-item col-sm-2">
                {{ amountByParties.totalDue}}
            </td>
           
        </tr>
        <tr ng-if="!parties || parties.length === 0">
            <td colspan="8">No Records exist.</td>
        </tr>
        <tr class="text-center">
            <td colspan="2"><b>Total</b></td>
            <td><b>{{partiesAmount.grossFreight}}</b></td>
            <td><b>{{partiesAmount.grossExpenses}}</b></td>
            <td><b>{{partiesAmount.grossDue}}</b></td>


        </tr>
    </table>
</div>
</div>

