
<div class="main-temp col-xs-12 mt-20">
    <h3>Payments - {{partyName}}</h3>
    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="partyParams">
        <tr ng-repeat="amountListByPartyId in results" style="text-align: center;">

                <td data-title="'Date'" sortable="'date'" class="clickable-item col-sm-2">
                        {{amountListByPartyId.date | date:'dd-MM-yyyy' }}
                    </td>
            <td data-title="'Trip Id'" sortable="'tripId'" class="clickable-item col-sm-2">
                {{ amountListByPartyId.tripId }}
            </td>
            <td data-title="'Registration No'" sortable="'truckName'" class="clickable-item col-sm-2">
                {{ amountListByPartyId.attrs.truckName }}
                
            </td>

            <td data-title="'Freight Amount'" sortable="'freightAmount'" class="clickable-item col-sm-2">
                {{ amountListByPartyId.freightAmount }}
            </td>
            
            <td data-title="'Paid Amount'" sortable="'amount'" class="clickable-item col-sm-2" >
                {{ amountListByPartyId.amount}}
            </td>
           
        </tr>
        <tr ng-if="!results || results.length === 0">
            <td colspan="8">No Records exist.</td>
        </tr>
        <tr class="text-center">
            <td colspan="3"><b>Total</b></td>
            <td><b>{{amountPaid.totalFreight}}</b></td>
            <td><b>{{amountPaid.totalPaid}}</b></td>

        </tr>
    </table>
</div>


