
<div class="main-temp col-xs-12 mt-20" >
    
    <h3 class="db-title">Expenses  - {{partyName}}:</h3>
    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="paybleParams">
        <tr ng-repeat="party in payableAmounts" style="text-align: center;">
            <td data-title="'Date'" sortable="'partyName'" class="clickable-item col-sm-2">
              
                {{party.date | date:"dd MMM yyyy"}}
            </td>
            <td data-title="'Expense Type'" sortable="'partyContact'" class="clickable-item col-sm-2">
                    {{party.expenseType.expenseName}}
                </td>
            <td data-title="'Total Amount'" sortable="'totalFright'" class="clickable-item col-sm-2">
                {{party.totalAmount}}
            </td>
            <td data-title="'Paid Amount'" sortable="'totalPayment'" class="clickable-item col-sm-2">
                {{party.paidAmount}}
            </td>

            <td data-title="'Payable'" sortable="'totalDue'" class="clickable-item col-sm-2">
                {{party.payableAmount}}
            </td>
           
        </tr>
        <tr ng-if="!paybleList || paybleList.length === 0">
            <td colspan="8">No Records exist.</td>
        </tr>
        <tr class="text-center">
            <td colspan="2"><b>Total</b></td>
            <td><b>{{grossAmounts.totalAmount}}</b></td>
            <td><b>{{grossAmounts.paidAmount}}</b></td>
            <td><b>{{grossAmounts.payableAmount}}</b></td>


        </tr>
    </table>
</div>
</div>

