
<div class="main-temp col-xs-12 mt-20">
      <table class="table table-bordered table-striped table-condensed table-hover" ng-table="revenueParams">
    <div class="col-xs-12 pall-zero db-expenses">
        <div class="col-xs-3"><p>Total Revenue</p></div>
        <div class="col-xs-9">
            <ul class="list-inline">
                <li class="col-xs-3"> <date-picker id="fromDate" ng-model="fromDate" class="fromDate"></date-picker></li>
                <li class="col-xs-3"> <date-picker id="toDate" ng-model="toDate" class="toDate"></date-picker></li>
                <li class="col-xs-3">
                    <select>
                        <option>All Vehicles</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>

    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="revenueParams">
        <tr ng-repeat="revenueListByRegNo in revenueByVehicle" style="text-align: center;">
            <td data-title="'Registration No'" sortable="'registrationNo'" class="clickable-item col-sm-2">
                <a href="#"
                   ng-click="gotorevenueByVehicleId(revenueListByRegNo.registrationNo, revenueListByRegNo.attrs.truckName)">
                    {{revenueListByRegNo.attrs.truckName}}</a>
            </td>
            <td data-title="'Total Freight'" sortable="'totalFreight'" class="clickable-item col-sm-2">
                {{ revenueListByRegNo.totalFreight}}
            </td>
            <td data-title="'Total Expense'" sortable="'totalExpense'" class="clickable-item col-sm-2">
                {{ revenueListByRegNo.totalExpense}}
            </td>

            <td data-title="'Total Revenue'" sortable="'totalRevenue'" class="clickable-item col-sm-2">
                {{ revenueListByRegNo.totalRevenue}}
            </td>
        </tr>

        <tr ng-if="!revenueByVehicle || revenueByVehicle.length === 0">
            <td colspan="8">No Records exist.</td>
        </tr>
        <tr class="text-center">
            <td><b>Total</b></td>
            <td><b>{{totalRevenue.grossFreight}}</b></td>
            <td><b>{{totalRevenue.grossExpenses}}</b></td>
            <td><b>{{totalRevenue.grossRevenue}}</b></td>
        </tr>
    </table>
</div>

