<head>
    <style>
        table td
        {
            table-layout:fixed;
            width:20px;
            overflow:hidden;
            word-wrap:break-word;
        }
    </style>
</head>
<div class="main-right col-xs-12" ng-controller="loadRequestListCtrl">
    <div class="col-xs-12 pall-zero mb-10">
        <div class="col-sm-3 pall-zero"><h3>Load Request</h3></div>
    </div>
    <div class="mt-10">
        <table class="table table-bordered table-striped table-condensed table-hover"
               ng-table="studentParams">
            <tr ng-repeat="x in loadRequests" style="text-align: center;">
                <td data-title="'Source'" sortable="'source'" class="clickable-item">
                    {{x.source.sourceAddress}}
                </td>
                <td data-title="'Destination'" sortable="'destination'" class="clickable-item">
                    {{x.destination.destinationAddress}}
                </td>
                <td data-title="'Price'" sortable="'price'" class="clickable-item">
                    {{x.price}}
                </td>
                <td data-title="'Expected Loading Date'" sortable="'dateAvailable'" class="clickable-item">
                    {{x.dateAvailable | date:'dd-MM-yyyy'}}
                </td>
                <td data-title="'Action'" class="col-sm-2">
                    <a href="#" class="btn" ng-click="goToEditPage(x._id)">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" class="btn" ng-click="delete(x._id)">

                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a href="#" class="btn" ng-click="share(x._id)">
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="add-image pull-right">
        <figure>
            <a href="#" ng-click="goToEditPage()"><img src="images/Add_Truck.png" alt="Add Load Request" title="Add Load Request"></a>
        </figure>
    </div>
</div>
