<div class="main-right col-xs-12" ng-controller="loadRequestCtrl" ng-init="getAllParties()">
    <h2 class="title-name ">Share Load Request</h2>
    <div class="col-xs-12">
        <div class="form-group col-xs-12">
            <div class="leftLabel">
                <label>Enter Message Here* </label>
            </div>
            <div class="styling-input-list rightLabel">
                <!-- <input type="text" class="form-control cust" ng-model="shareDetails.load"/>-->
                <textarea class="form-control"
                          ng-model="shareDetails.load"></textarea>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <h2 class="inner-title">Please Select the Parties from List:</h2>

            <div class="sms">
                <div class="checkbox">
                    <label class="allParties">
                        <input type="checkbox" ng-model="all" ng-click="selectAllParties()">
                        <span class="cr ntfns"><i class="cr-icon ntfns-icon fa fa-check"></i></span>
                        <span ng-show="all" >All Parties Selected</span>
                        <span ng-hide="all" >Select All</span>
                    </label>
                </div>
            </div>
            <div ng-repeat="party in parties">
                <div class="sms col-xs-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="party.isChecked"  ng-change="checkParties();">
                            <span class="cr ntfns"><i class="cr-icon ntfns-icon fa fa-check"></i></span>
                            {{party.name}}({{party.contact}})
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-4 mtb-25 sub-can">
            <button type="submit" class="btn can" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn can  last" ng-click="shareLoadRequest(parties)">Share</button>
        </div>
    </div>
</div>