<div class="main-right col-xs-12" ng-controller="GeoFencesReportsListController">
    <div class="col-xs-12 pall-zero mb-10">
        <div class="col-sm-3 pall-zero"><h3>Geo Fences Reports</h3></div>
            <ul class="col-sm-9 pall-zero list-inline">
                <li class="col-sm-3 pall-zero">
                    <date-picker ng-model="fromDate" class="'paymentscontrol'"
                                 past-present="'pastPresentDate'" placeholder="'from date'"></date-picker>
                </li>
                <li class="col-sm-3 pall-zero">
                    <date-picker class="'paymentscontrol'" past-present="'pastPresentDate'" ng-model="toDate"
                                 placeholder="'to date'" ></date-picker>
                </li>
                <li class="col-sm-2 pall-zero">
                    <button type="submit" ng-click="getCount();" class="btn go">
                        <i class="fa fa-search sear" aria-hidden="true"></i>
                    </button>
                </li>
                <li class="col-sm-3 pos-relative">
                    <div class="select-box erp-box">
                        <ui-select ng-model="query.truckName" theme="select2"
                                   title="Choose a person" append-to-body="true"
                                   ng-change="getCount();">
                            <ui-select-match placeholder="Search By Truck" class="form-control ui-select-control">
                                {{$select.selected.registrationNo || registrationNo}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="truck in trucksList  | propsFilter: {registrationNo: $select.search}">
                                <div ng-bind-html="truck.registrationNo | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </li>
            </ul>
    </div>

    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="lrParams">
        <tr ng-repeat="gfr in geoFencesList" style="text-align: center;">

            <td data-title="'Truck No'" sortable="'registrationNo'" class="clickable-item">{{
                gfr.registrationNo}}
            </td>
            <td data-title="'Geo Fence Name'" sortable="'depot'" class="clickable-item">{{
                gfr.depot }}
            </td>
            <td data-title="'Start time'" sortable="'startTime'" class="clickable-item">{{
                gfr.start | date : 'medium' || '--'}}
            </td>
            <td data-title="'End Time'" sortable="'endTime'" class="clickable-item">{{
                gfr.end |  date : 'medium' || '--'}}
            </td>



        </tr>
        <tr ng-if="!geoFencesList || geoFencesList.length === 0">
            <td colspan="8"> Geo Fences Records not found.</td>
        </tr>
    </table>

</div>
