<div class="main-right col-xs-12" ng-controller="GeoFencesReportsListController">
    <div class="col-xs-12 pall-zero mb-10">
        <div class="col-sm-3 pall-zero"><h3>Geo Fences Reports</h3></div>
        <div class="col-xs-9 pall-zero">
            <ul class="list-inline report-expense">
                <li class="filterFromDate">
                    <date-picker ng-model="filters.fromDate" past-present="'pastPresentDate'"
                                 class="'textfield'" placeholder="'from date'">
                    </date-picker>
                </li>
                <li class="filterToDate">
                    <date-picker ng-model="filters.toDate"  past-present="'pastPresentDate'"
                                 class="'textfield'" placeholder="'to date'"></date-picker>
                </li>
                <li class="filterToDate pall-zero pos-relative">
                    <span class="bot-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    <input type="text" ng-model="filters.regNumber"
                           uib-typeahead="truck.registrationNo for truck in trucksList | filter:$viewValue"
                           class="form-control textfield" typeahead-min-length="1"
                           typeahead-on-select="selectTruckId($item)"

                           typeahead-select-on-exact="true" placeholder="Type Reg No"
                           typeahead-no-results="noTruck" autocomplete="false">

                    <div ng-show="noTrucks">
                        <i class="glyphicon glyphicon-remove red"></i>
                        <span class="red"> No Results Found </span>
                    </div>

                </li>
                <li class="col-sm-1 pall-zero">
                    <button type="submit" ng-click="getCount();" class="btn go">
                        <i class="fa fa-search sear" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>

    </div>

    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="lrParams">
        <tr ng-repeat="gfr in geoFencesList" style="text-align: center;">

            <td data-title="'Truck No'" sortable="'registrationNo'" class="clickable-item">{{
                gfr.registrationNo}}
            </td>
            <td data-title="'Geo Fence Name'" sortable="'depot'" class="clickable-item">{{
                gfr.depot }}
            </td>
            <td data-title="'Start time'" sortable="'startTime'" class="clickable-item">{{
                gfr.startTime | date : 'medium' || '--'}}
            </td>
            <td data-title="'End Time'" sortable="'endTime'" class="clickable-item">{{
                gfr.endTime |  date : 'medium' || '--'}}
            </td>



        </tr>
        <tr ng-if="!geoFencesList || geoFencesList.length === 0">
            <td colspan="8"> Geo Fences Records not found.</td>
        </tr>
    </table>

</div>
