<div ng-controller="addAndAssignDevicesCrtl">
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>S No.</th>
            <th>IMEI No</th>
            <th>SIM No</th>
            <th>SIM ID</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devicesToAdd">
            <td><input type="checkbox"/>{{$index+1}}</td>
            <td><input type="text" class="form-control custom-form-control" name="" placeholder="IMEI Number" ng-model="device.imei"/></td>
            <td><input type="text" class="form-control custom-form-control" name="" placeholder="SIM No" ng-model="device.simPhoneNumber"/></td>
            <td><input type="text" class="form-control custom-form-control" name="" placeholder="SIM ID" ng-model="device.simNumber"/></td>
            <td>
                <a href="#" class="btn" ng-click="addDeviceRow()" ng-show="$index === devicesToAdd.length-1"><i class="fa fa-plus-square"></i></a>
                <a href="#" class="btn" ng-click="removeDeviceRow($index)" ng-show="$index < devicesToAdd.length-1"><i class="fa fa-minus-square"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-xs-12 text-center add-product-error">
        <div ng-show="errors.length > 0">
            <ul class="col-xs-4 col-xs-push-4" style="list-style: none">
                <li class="alert alert-danger" ng-repeat="error in errors">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
            <div ng-show="alreadyadded.length" ng-repeat="added in alreadyadded">{{added}} already added in database</div>
            <div class="col-sm-5">
                <p>Selected Devices to be Assigned to </p>
            </div>
            <div class="form-group col-sm-4">
                <select class="form-control custom-form-control" ng-model="assignedTo">
                    <option value="" selected>Select</option>
                    <option ng-repeat="employee in employees" value="{{employee.id_admin}}">{{employee.displayName}}</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <a href="#" class="btn btn-primary" ui-sref="services.gpsDevices"> Cancel</a>
                <a href="#" class="btn btn-primary" ng-click="addDevices()"> Submit</a>
            </div>
        </div>
    </div>
</div>