<div ng-controller="addAndAssignDevicesCrtl" class="col-xs-12">
    <table class="table table-bordered">
        <thead>
        <tr>
            <!--<th></th>-->
            <th>S No.</th>
            <th>IMEI No</th>
            <th>SIM No</th>
            <th>SIM ID</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devicesToAdd">
           <!-- <td>
                <div class="checkbox mtb-0">
                    <label>
                        <input type="checkbox" value=""/>
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    </label>
                </div>
            </td>-->
            <td>{{$index+1}}</td>
            <td><input type="text" class="form-control" placeholder="IMEI Number" ng-model="device.imei" ng-change="addImeiNumbers($index,device.imei)"/></td>
            <td><input type="text" class="form-control" placeholder="SIM No" ng-model="device.simPhoneNumber" ng-change="addPhoneNumbers($index,device.simPhoneNumber)"/></td>
            <td><input type="text" class="form-control" placeholder="SIM ID" ng-model="device.simNumber" ng-change="addSimIds($index,device.simNumber)"/></td>
            <td>
                <a href="#" class="btn" ng-click="addDeviceRow()" ng-show="$index === devicesToAdd.length-1">
                    <i class="fa fa-plus-square"></i></a>
                <a href="#" class="btn" ng-click="removeDeviceRow($index)" ng-show="$index < devicesToAdd.length-1">
                    <i class="fa fa-minus-square"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-xs-12 text-center add-product-error">
        <div ng-show="errors.length > 0">
            <ul class="col-xs-4 col-xs-push-4" style="list-style: none">
                <li class="alert alert-danger" ng-repeat="error in errors">
                    {{error}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div ng-show="alreadyadded.length" ng-repeat="added in alreadyadded">{{added}} already added in database
        </div>
        <ul class="list-inline pull-right">
            <li><p>Selected Devices to be Assigned to </p></li>

            <li class="form-group">
                <select class="form-control" ng-model="assignedTo">
                    <option value="" selected>Select</option>
                    <option ng-repeat="employee in employees" value="{{employee._id}}">{{employee.displayName}}
                    </option>
                </select>
            </li>
            <li>
                <a href="#" class="btn btn-danger" ui-sref="services.gpsDevices"> Cancel</a>
                <a href="#" class="btn btn-primary" ng-click="addDevices()"> Submit</a>
            </li>
        </ul>

    </div>
</div>