<div class="col-xs-12 newCust" ng-controller="accountsAddEditCrtl">
    <h4>{{pageTitle}}</h4>
    <div class="col-xs-12">

        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpen">
                <uib-accordion-heading>
                    User Information <i class="pull-right glyphicon"
                                        ng-class="{'glyphicon-chevron-down':status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
                </uib-accordion-heading>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="accountDetails.userName" ng-change="checkAvailablity()"/>
                            <label class="focus-effect-for-input">User Name*</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="accountDetails.contactName"/>
                            <label class="focus-effect-for-input">Contact Name*</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="accountDetails.contactPhone"/>
                            <label class="focus-effect-for-input">Contact Number*</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <select class="form-control custom-form-control" ng-model="accountDetails.role">
                                <option value="" selected>Type*</option>
                                <option>Truck Owner</option>
                                <option>Manufacturer</option>
                                <option>Commission Agent</option>
                                <option>Transporter</option>
                                <option>GPS</option>
                            </select>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="password" class="form-control custom-form-control"
                                   ng-model="accountDetails.password"/>
                            <label class="focus-effect-for-input">Password*</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="accountDetails.email"/>
                            <label class="focus-effect-for-input">Email*</label>
                        </div>
                    </div>
                </div>

            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenOne">
                <uib-accordion-heading>
                    Address <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': status.isOpenOne,
                               'glyphicon-chevron-right': !status.isOpenOne}"></i>
                </uib-accordion-heading>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="accountDetails.companyName"/>
                            <label class="focus-effect-for-input">Company Name*</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="accountDetails.contactAddress"/>
                            <label class="focus-effect-for-input">Address</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="accountDetails.city"/>
                            <label class="focus-effect-for-input">City</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="accountDetails.state"/>
                            <label class="focus-effect-for-input">State</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="accountDetails.pincode"/>
                            <label class="focus-effect-for-input">Pincode</label>
                        </div>
                    </div>
                </div>

            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenTwo">
                <uib-accordion-heading>
                    Service Info <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': status.isOpenTwo, 'glyphicon-chevron-right': !status.isOpenTwo}"></i>
                </uib-accordion-heading>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <ul class="list-inline">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="accountDetails.gpsEnabled">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            ERP
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="accountDetails.erpEnabled">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            GPS
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="accountDetails.loadEnabled"
                                                   disabled>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            LOAD
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <select class="form-control custom-form-control">
                                <option value="" selected>Vehicle Type*</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <p class="smsenabled">SMS Enabled*:</p>
                            <ul class="list-inline">
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="sms" ng-value="true"
                                                   ng-model="accountDetails.smsEnabled">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            Enable
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="sms" ng-value="false"
                                                   ng-model="accountDetails.smsEnabled">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            Disable
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <p class="smsenabled">Is Active*:</p>
                            <ul class="list-inline">
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="active" ng-value="true"
                                                   ng-model="accountDetails.isActive">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            Enable
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="active" ng-value="false"
                                                   ng-model="accountDetails.isActive">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            Disable
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6 account-rotues">
                        <div class="row">
                            <p>Operating Routes</p>
                            <a href="#" ng-click="addRoute()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
                        </div>
                        <div class="clearfix"></div>
                        <div ng-repeat="route in operatingRoutes">
                            <div class="form-group col-xs-5">
                                <input id="{{$index}}s" type="text" class="form-control order-form-control"
                                       placeholder="Source" ng-model="route.sourceAddress"
                                       ng-change="getLonLat($index, 'source')"/>
                            </div>
                            <div class="form-group col-xs-5">
                                <input id="{{$index}}d" type="text" class="form-control order-form-control"
                                       placeholder="Destination" ng-model="route.destinationAddress"
                                       ng-change="getLonLat($index, 'destination')"/>
                            </div>
                            <div class="form-group col-xs-1">
                                <a href="#" ng-click="deleteRoute($index)">
                                    <i class="fa fa-minus-square" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenThre"
                 ng-show="accountDetails.erpEnabled && pageTitle==='Edit GPS / ERP Account'">
                <uib-accordion-heading>Assign ERP Plan<i class="pull-right glyphicon"
                                                         ng-class="{'glyphicon-chevron-down': status.isOpenThre, 'glyphicon-chevron-right': !status.isOpenThre}"></i>
                </uib-accordion-heading>
                <div class="col-xs-12" ng-show="enableForm">
                    <ul class="list-inline plans">
                        <!--<li>
                            <select class="form-control custom-form-control planfc" ng-change="getPlansOfService()" ng-model="serviceSelected">
                                <option selected value="">Select Service*</option>
                                <option value="gps">GPS</option>
                                <option value="erp">ERP</option>
                                <option value="both">GPS & ERP</option>
                            </select>
                        </li>-->
                        <li>
                            <select class="form-control custom-form-control planfc" ng-model="ERPPlanDEtails.planId">
                                <option selected value="">Plans*</option>
                                <option ng-repeat="plan in plans" value="{{plan._id}}">{{plan.planName}} -
                                    {{plan.amount}}
                                </option>
                            </select>
                        </li>
                        <li>
                            <admin-date-picker ng-model="ERPPlanDEtails.startTime" placeholder="'Start Time *'"
                                               class="'custom-form-control planfc'"></admin-date-picker>
                        </li>
                        <li>
                            <admin-date-picker ng-model="ERPPlanDEtails.expiryTime" placeholder="'Expiry Time *'"
                                               class="'custom-form-control planfc'"></admin-date-picker>
                        </li>
                        <li class="styling-input-list">
                            <input type="text" class="form-control custom-form-control planfc"
                                   ng-model="ERPPlanDEtails.amount"/>
                            <label class="focus-effect-for-input">Amount</label>
                        </li>
                        <li class="styling-input-list">
                            <input type="text" class="form-control custom-form-control planfc"
                                   ng-model="ERPPlanDEtails.remark"/>
                            <label class="focus-effect-for-input">Remark</label>
                        </li>
                        <button class="btn btn-success" ng-click="assignERPPlan()">Assign</button>
                    </ul>
                    <div ng-repeat="err in ERPPlanDEtails.errors">{{err}}</div>
                </div>
                <div class="col-xs-12 mt-20" ng-show="assignedPlans.length">
                    <table class="table table-bordered">
                        <thead>
                        <th>Plan Type</th>
                        <th>Plan Name</th>
                        <th>Plan Amount</th>
                        <th>Payble Amount</th>
                        <th>Received</th>
                        <th>Remarks</th>
                        <th>Created Time</th>
                        <th>Start Time</th>
                        <th>Expiry Time</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="singlePlan in assignedPlans">
                            <td>ERP</td>
                            <td>{{singlePlan.planId.planName}}</td>
                            <td>{{singlePlan.planId.amount}}</td>
                            <td>{{singlePlan.amount}}</td>
                            <td>{{singlePlan.received}}</td>
                            <td>{{singlePlan.remark}}</td>
                            <td>{{singlePlan.creationTime | date: 'mediumDate'}}</td>
                            <td>{{singlePlan.startTime | date: 'mediumDate'}}</td>
                            <td>{{singlePlan.expiryTime | date: 'mediumDate'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="!assignedPlans.length">No Erp plans</div>
            </div>
        </uib-accordion>

        <div class="col-sm-4 col-xs-push-4 margin-top-20">
            <div class="alert alert-danger" role="alert" ng-show="accountDetails.errors.length">
                <!--<strong>{{truck.error}}</strong>-->
                <ul>
                    <li ng-repeat="error in accountDetails.errors">{{error}}</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 save-btns">
            <a href="#" class="btn btn-danger" ui-sref="services.gpsAccounts">Cancel</a>
            <a href="#" class="btn btn-primary" ng-click="addOrUpdateAccount()">Submit</a>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
