<div class="col-xs-12 newCust" ng-controller="DeviceEditCrtl" ng-init="">
    <h4>GPS / ERP Account</h4>
    <div class="col-xs-12">
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpen">
                <uib-accordion-heading>
                    User Information <i class="pull-right glyphicon"
                                        ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group" style="margin-left: 15px;">
                          <!--  <select class="form-control custom-form-control" ng-model="deviceDetails.accountId"
                                    ng-change="getTrucksOfAccount()">
                                <option ng-repeat="account in accounts" value="{{account._id}}">{{account.userName}}
                                </option>

                            </select>-->   <div class="form-group select-box">
                            <ui-select ng-model="deviceDetails.accountId" theme="select2"
                                       style="min-width: 390px;"
                                       title="Customer *" reset-search-input="false" ng-change="getTrucksOfAccount()">

                                <ui-select-match placeholder="Select Customer *" class="form-control custom-form-control" >
                                    {{$select.selected.userName || userName}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="account in accounts " refresh="searchAccountOwner($select.search)"
                                        refresh-delay="0" scroll-detector="loadMore()">
                                    <b>
                                        <div ng-bind-html="account.userName "></div>
                                    </b>
                                  <!--  <small>
                                        Mobile: {{truck.contactPhone || '-&#45;&#45;'}}
                                    </small>-->
                                </ui-select-choices>
                            </ui-select>

                        </div>

                        </div>

                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.imei"/>
                            <label class="focus-effect-for-input">Device Id</label>
                        </div>
                        <div class="form-group ">
                            <select class="form-control custom-form-control" ng-model="deviceDetails.truckId"
                                    ng-change="getSelectedTruckDetails()">
                                <option ng-repeat="truck in trucks" value="{{truck._id}}">{{truck.registrationNo}}
                                </option>
                            </select>
                            <!--<label class="focus-effect-for-input">Truck Reg no</label>-->
                        </div>
                        <div class="form-group ">
                            <select class="form-control custom-form-control" ng-model="deviceDetails.installedBy">
                                <option value="" >Select Employee</option>
                                <option ng-repeat="employee in employees" value="{{employee._id}}">
                                    {{employee.displayName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.address"/>
                            <!--<label class="focus-effect-for-input">Address</label>-->
                        </div>
                        <div class="form-group">
                            <p class="smsenabled"><b>Is Damaged</b></p>
                            <ul class="list-inline">
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="damaged" ng-value="true"
                                                   ng-model="deviceDetails.isDamaged">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            YES
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="damaged" ng-value="false"
                                                   ng-model="deviceDetails.isDamaged">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            NO
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <p class="smsenabled"><b>Is Active*:</b></p>
                            <ul class="list-inline">
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="active" value="true"
                                                   ng-model="deviceDetails.isActive">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            Enable
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="active" value="false"
                                                   ng-model="deviceDetails.isActive">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            Disable
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.imei"/>
                            <label class="focus-effect-for-input">IMEI Number</label>

                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.simPhoneNumber"/>
                            <label class="focus-effect-for-input">SIM Number</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.simNumber"/>
                            <label class="focus-effect-for-input">SIM Id</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.truck.insuranceExpiry"/>
                            <label class="focus-effect-for-input">Insurance Expiry</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.truck.fitnessExpiry"/>
                            <label class="focus-effect-for-input">Fitness Expiry</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.rcNumber"/>
                            <label class="focus-effect-for-input">RC Number</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.insuranceAmount"/>
                            <label class="focus-effect-for-input">Insurance Amount</label>
                        </div>
                        <div class="form-group">
                            <p class="smsenabled"><b>NP Available</b></p>
                            <ul class="list-inline">
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="np">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            NO
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="mp">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            YES
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control"
                                   ng-model="deviceDetails.npExpiry"/>
                            <label class="focus-effect-for-input">NP Expire</label>
                        </div>
                    </div>
                    <div>Current Location: MR11 Rd, Dewas Naka, Lasudia Mori, Indore, Madhya Pradesh 453771, India</div>
                </div>

            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenOne">
                <uib-accordion-heading>Assign GPS Plan<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isOpenOne, 'glyphicon-chevron-right': !status.isOpenOne}"></i>
                </uib-accordion-heading>
                <div class="col-xs-12" ng-show="showGpsForm">
                    <ul class="list-inline">
                        <li class="col-sm-4 form-group">
                            <select class="form-control order-form-control" ng-model="GPSPlanDEtails.planId">
                                <option selected value="">Plans*</option>
                                <option ng-repeat="plan in plans" value="{{plan._id}}">{{plan.planName}} -
                                    {{plan.amount}}
                                </option>
                            </select>
                        </li>
                        <li class="col-sm-4 form-group">
                            <admin-date-picker ng-model="GPSPlanDEtails.startTime" placeholder="'Start Time *'"
                                               class="'order-form-control'"></admin-date-picker>
                        </li>
                        <li class="col-sm-4 form-group">
                            <admin-date-picker ng-model="GPSPlanDEtails.expiryTime" placeholder="'Expiry Time *'"
                                               class="'order-form-control'"></admin-date-picker>
                        </li>
                        <li class="styling-input-list col-sm-4 form-group">
                            <input type="text" class="form-control order-form-control"
                                   ng-model="GPSPlanDEtails.amount"/>
                            <label class="focus-effect-for-input">Amount</label>
                        </li>
                        <li class="styling-input-list form-group col-sm-4">
                            <input type="text" class="form-control order-form-control"
                                   ng-model="GPSPlanDEtails.remark"/>
                            <label class="focus-effect-for-input">Remark</label>
                        </li>
                        <button class="btn btn-success" ng-click="assignGPSPlan()">Assign</button>
                    </ul>
                    <div ng-repeat="err in GPSPlanDEtails.errors">{{err}}</div>
                </div>
                <div class="col-xs-12 mt-20" ng-show="true">
                    <table class="table table-bordered">
                        <thead>
                        <th>Plan Type</th>
                        <th>Plan Name</th>
                        <th>Plan Amount</th>
                        <th>Payble Amount</th>
                        <th>Received</th>
                        <th>Remarks</th>
                        <th>Created Time</th>
                        <th>Start Time</th>
                        <th>Expiry Time</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="singlePlan in devicePlanHistory">
                            <td>GPS</td>
                            <td>{{singlePlan.planId.planName}}</td>
                            <td>{{singlePlan.planId.amount}}</td>
                            <td>{{singlePlan.amount}}</td>
                            <td>{{singlePlan.received}}</td>
                            <td>{{singlePlan.remark}}</td>
                            <td>{{singlePlan.creationTime | date: 'mediumDate'}}</td>
                            <td>{{singlePlan.startTime | date: 'mediumDate'}}</td>
                            <td>{{singlePlan.expiryTime | date: 'mediumDate'}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="devicePlanHistory.length === 0">No GPS plans</div>
                </div>
            </div>
        </uib-accordion>
        <div class="col-xs-12 save-btns">
            <div ng-show="deviceDetails.error">{{deviceDetails.error}}</div>
            <a href="#" class="btn btn-danger" ui-sref="services.gpsDevices">Cancel</a>
            <a href="#" class="btn btn-primary" ng-click="updateDevice()">Submit</a>
        </div>
    </div>
</div>