<div ng-controller="accountsListCrtl">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">GPS Accounts</li>

        <li class="pull-right col-xs-2">
            <select class="form-control">
                <option>Select</option>
                <option>Trucks</option>
                <option>Non Trucks</option>
                <option>Both</option>
                <option>SMS Enabled</option>
                <option>SMS Disabled</option>
                <option>Status Enabled</option>
                <option>Status Disbaled</option>
            </select>
        </li>
        <div class="clearfix"></div>
    </ul>
    <table class="table table-bordered table-striped table-condensed table-hover ng-table-responsive" ng-table="accountParams">
        <tr ng-repeat="account in currentPageOfAccounts" style="text-align: center;">
            <td data-title="'ID'" sortable="'id'" class="clickable-item">
                {{account.id}}
            </td>
            <td data-title="'Customer Name'" sortable="'contactName'" class="clickable-item">
                {{account.contactName}}
            </td>
            <td data-title="'type'" sortable="'type'" class="clickable-item">
                {{account.type}}
            </td>
            <td data-title="'mobile'" sortable="'contactPhone'" class="clickable-item">
                {{account.contactPhone}}
            </td>
            <td data-title="'Reg Date'" sortable="'createdAt'" class="clickable-item">
                {{account.createdAt | date:'yyyy-MM-dd'}}
            </td>
            <td data-title="'Sold By'" sortable="'createdBy.userName'" class="clickable-item">
                {{account.createdBy.userName | date:'yyyy-MM-dd'}}
            </td>
            <td data-title="'ERP'" sortable="'erpEnabled'" class="clickable-item">
                {{account.erpEnabled}}
            </td>
            <td data-title="'LOAD'" sortable="'loadEnabled'" class="clickable-item">
                {{account.loadEnabled}}
            </td>
            <td data-title="'Status'" sortable="'isActive'" class="clickable-item">
                {{account.isActive}}
            </td>
            <td data-title="'Edit/Delete'" sortable="'imei'" class="clickable-item">
                <a href="#" ui-sref="services.addNewAccount({accountId: account._id})" class="edit_icon">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" ng-click="deleteAccount($index)" class="delete_icon">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr ng-if="!currentPageOfAccounts || currentPageOfAccounts.length === 0">
            <td colspan="8">No GPS Accounts exist</td>
        </tr>
    </table>
</div>