<div ng-controller="DeviceCtrl">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">GPS Device</li>
        <li class="pull-right">
            <button class="btn btn-success" ng-click="assignDevicesModal()">Assign Devices</button>
        </li>
        <li class="pull-right">
            <button class="btn btn-primary" ui-sref="services.addDevice">Add Devices</button>
        </li>
        <li class="pull-right col-xs-2">
            <select class="form-control" ng-model="sortableString" ng-change="init()">
                <option selected value="">Select</option>
                <option value="damaged">Damaged</option>
                <option value="notdamaged">Not Damaged</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </li>
        <li class="col-xs-4 pull-right">
            <form role="search">
                <div class="input-group add-on">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term"
                           ng-model="searchString" ng-change="init();">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </li>
        <div class="clearfix"></div>
    </ul>
    <table class="table table-bordered table-striped table-condensed table-hover ng-table-responsive"
           ng-table="deviceParams">
        <tr ng-repeat="device in currentPageOfDevices" style="text-align: center;">
            <td data-title="'Account ID'" sortable="'accountId'" class="clickable-item">
                {{device.accountId.userName}}
            </td>
            <td data-title="'SIM Phone No'" sortable="'simPhoneNumber'" class="clickable-item">
                {{device.simPhoneNumber}}
            </td>
            <td data-title="'imei'" sortable="'imei'" class="clickable-item">
                {{device.imei}}
            </td>
            <td data-title="'GPS Update'" sortable="'updatedAt'" class="clickable-item">
                {{device.updatedAt | date:'yyyy-MM-dd'}}
            </td>
            <td data-title="'Plan Expiry'" sortable="'expiryTime'" class="clickable-item">
                {{device.expiryTime | date:'yyyy-MM-dd'}}
            </td>
            <td data-title="'Date Created'" sortable="'createdAt'" class="clickable-item">
                {{device.createdAt | date:'yyyy-MM-dd'}}
            </td>
            <td data-title="'Installed By'" sortable="'installedBy'" class="clickable-item">
                {{device.installedBy.userName}}
            </td>
            <!--<td data-title="'Payment'" sortable="'received'" class="clickable-item">
                {{device.received}}
            </td>-->
            <td data-title="'Status'" sortable="'isDamaged'" class="clickable-item">
                {{device.isDamaged == '0' && 'working' || 'Not working'}}
            </td>
            <td data-title="'Edit/Delete'" sortable="'imei'" class="clickable-item">
                <a href="#" ui-sref="services.editGpsDevice({device: device._id})" class="edit_icon">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" ng-click="deleteDevice($index)" class="delete_icon">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr ng-if="!currentPageOfDevices || currentPageOfDevices.length === 0">
            <td colspan="8">No GPS Devices exist.</td>
        </tr>
    </table>
</div>


<script type="text/ng-template" id="assignDevicesModal.html">

        <!--<a href="#" class="btn btn-primary" ui-sref="services.gpsDevices"> Cancel</a>-->
        <!--<a href="#" class="btn btn-primary" ng-click="transferDevices()"> Submit</a>-->


        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Transfer Devices</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div ng-dropdown-multiselect=""
                     options="allDevices"
                     selected-model="selectedDevices"
                     extra-settings="selected_baseline_settings" class="col-sm-4 col-xs-12" translation-texts="customText">
                </div>
                <div class="col-sm-7 col-xs-12">
                <select class="form-control" ng-model="assignedTo">
                    <option value="" selected>Transfer To</option>
                    <option ng-repeat="employee in employees" value="{{employee.id_admin}}">{{employee.displayName}}
                    </option>
                </select>
                </div>
            </div>
            <div ng-show="error">{{error}}</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="transferDevices()">Submit</button>
            <button class="btn btn-danger" type="button" ng-click="closeAssignDevice()">Cancel</button>
        </div>
</script>