<div ng-controller="DeviceCtrl">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">GPS Device</li>
        <li class="pull-right">
            <button class="btn btn-success" ng-click="assignDevicesModal()">Transfer Devices</button>
        </li>
        <li class="pull-right">
            <button class="btn btn-primary" ui-sref="services.addDevice">Add Devices</button>
        </li>
        <li class="pull-right col-sm-2 col-xs-12 mobile-mar">
            <select class="form-control" ng-model="sortableString" ng-change="init()">
                <option selected value="">Select</option>
                <option value="damaged">Damaged</option>
                <option value="notdamaged">Not Damaged</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select>
        </li>
        <li class="col-sm-2 col-xs-12 pull-right">
            <form role="search">
                <div class="input-group add-on">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term"
                           ng-model="searchString">
                    <div class="input-group-btn" ng-click="init();">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </li>
        <li class="col-sm-2 col-xs-12 pull-right">
            <form role="search">
                <div class="input-group add-on">
                    <input type="text" class="form-control" placeholder="Search by accountName" name="srch-term"
                           ng-model="query.searchAccount">
                    <div class="input-group-btn" ng-click="getCount();">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </li>
        <div class="clearfix"></div>
    </ul>
    <div class="table-res">
        <table class="table table-bordered table-striped table-condensed table-hover"
               ng-table="deviceParams">
            <tr ng-repeat="device in currentPageOfDevices" style="text-align: center;">
                <td data-title="'Account ID'" sortable="'accountId'" class="clickable-item">
                    {{device.accountId.userName}}
                </td>
                <td data-title="'Truck No'" sortable="'installedBy'" class="clickable-item">
                    <a href="#" data-toggle="modal" data-target="#latestLocation" ng-if="device.attrs.latestLocation"
                       ng-click="getLatestLocation(device.attrs.latestLocation,device.registrationNo);">
                        {{device.registrationNo || '--' | uppercase}}
                    </a>
                    <span ng-if="!device.attrs.latestLocation">{{device.registrationNo || '--' | uppercase}}</span>
                </td>
                <td data-title="'IMEI'" sortable="'imei'" class="clickable-item">
                    {{device.imei}}
                </td>
                <td data-title="'SIM Phone No'" sortable="'simPhoneNumber'" class="clickable-item">
                    {{device.simPhoneNumber}}
                </td>
                <td data-title="'SIM No'" sortable="'simPhoneNumber'" class="clickable-item">
                    {{device.simNumber}}
                </td>
                <td data-title="'GPS Update'" sortable="'updatedAt'" class="clickable-item">
                    {{device.updatedAt | date:'yyyy-MM-d HH:mm'}}
                </td>
                <td data-title="'Plan Expiry'" sortable="'expiryTime'" class="clickable-item">
                    {{device.expiryTime | date:'dd-MM-yyyy'}}
                </td>
                <td data-title="'Date Created'" sortable="'createdAt'" class="clickable-item">
                    {{device.createdAt | date:'dd-MM-yyyy'}}
                </td>
                <td data-title="'Installed By'" sortable="'installedBy'" class="clickable-item">
                    {{device.assignedTo.displayName}}
                </td>
                <td data-title="'Status'" sortable="'isDamaged'" class="clickable-item">
                    {{device.status}}
                </td>
                <td data-title="'Edit/Delete'" sortable="'imei'" class="clickable-item">
                    <a href="#" ui-sref="services.editGpsDevice({device: device._id})" class="edit_icon">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#" ng-click="deleteDevice($index)" class="delete_icon">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            <tr ng-if="!currentPageOfDevices || currentPageOfDevices.length === 0" class="text-center">
                <td colspan="10">No GPS Devices exist.</td>
            </tr>
        </table>
    </div>

</div>
<script type="text/ng-template" id="latestLocationModal.html">
    <!--<a href="#" class="btn btn-primary" ui-sref="services.gpsDevices"> Cancel</a>-->
    <div class="modal-header">
        <h3 class="modal-title">Device Location</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 20px;">
            <p style="font-size: 15px;"><b>Vehicle number</b> : {{regNo | uppercase}}</p>
            <p style="font-size: 15px;"><b>Latest Co-ordinates </b>: {{latestLocation.location.coordinates}}
            <p style="font-size: 15px;"><b>Latest Location </b>: {{latestLocation.address}}
            </p>
            <p style="font-size: 15px;"><b>Speed </b>: {{latestLocation.speed | number:0}}
                KMPH</p>
            <p style="font-size: 15px;"><b>Time </b>: {{latestLocation.deviceTime
                |date:'dd-MM-yyyy HH:mm:ss '}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="cancel();">Close</button>
    </div>

</script>

<script type="text/ng-template" id="assignDevicesModal.html">
    <!--<a href="#" class="btn btn-primary" ui-sref="services.gpsDevices"> Cancel</a>-->
    <!--<a href="#" class="btn btn-primary" ng-click="transferDevices()"> Submit</a>-->
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Transfer Devices</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <!--<div ng-dropdown-multiselect=""
                 options="allDevices"
                 selected-model="selectedDevices"
                 extra-settings="selected_baseline_settings" class="col-sm-4 col-xs-12" translation-texts="customText">
            </div>-->
            <div class="col-sm-6">
                <textarea ng-model="selectedDevices" class="form-control" cols="22" rows="15">
                </textarea>
            </div>
            <div class="col-sm-4 col-xs-12">
                <select class="form-control" ng-model="assignedTo">
                    <option value="" selected>Transfer To</option>
                    <option ng-repeat="employee in employees" value="{{employee._id}}">{{employee.displayName}}
                    </option>
                </select>
            </div>
            <div class="col-sm-6">
                <div ng-show="error" style="color: red;">{{error}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="transferDevices()">Submit</button>
        <button class="btn btn-danger" type="button" ng-click="cancel();">Cancel</button>
    </div>
</script>


