<div ng-controller="deviceManagementCrtl" ng-init="getAssignedDevices();">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">Installed Devices List : <b>{{Name | uppercase}}</b></li>
        <div class="clearfix"></div>
    </ul>
    <div class="table-res">
        <table class="table table-bordered table-striped table-condensed table-hover"
               ng-table="deviceParams">
            <tr ng-repeat="device in currentPageOfDeviceDetails" style="text-align: center;">
                <td data-title="'S No'">
                    {{$index+1}}
                </td>
                <td data-title="'Accounts'" sortable="'userName'" class="clickable-item">
                    {{device.userName}}
                </td>
               <!-- <td data-title="'Registration No'" sortable="'registrationNo'" class="clickable-item">
                    {{device.registrationNo || '&#45;&#45;'}}
                </td>-->
                <td data-title="'Device ID'" class="clickable-item">
                    {{device.deviceId || '--'}}
                </td>
                <td data-title="'SIM Id'" class="clickable-item">
                    {{device.simNumber || '--'}}
                </td>
                <td data-title="'SIM No'" class="clickable-item">
                    {{device.simPhoneNumber || '--'}}
                </td>
                <td data-title="'IMEI Number'" class="clickable-item">
                    {{device.imei || '--'}}
                </td>
                <td data-title="'Installed By'" class="clickable-item" sortable="'installedBy'">
                    {{device.installedBy.userName || '--'}}
                </td>
                <td data-title="'Date Created'" sortable="'createdAt'" class="clickable-item">
                    {{device.createdAt | date:'dd-MM-yyyy' || '--'}}
                </td>
                <td data-title="'Status'" sortable="'isActive'" class="clickable-item">
                    {{device.isActive || '--'}}
                </td>
            </tr>
            <tr ng-if="!currentPageOfDeviceDetails || currentPageOfDeviceDetails.length === 0">
                <td colspan="12">No Records exist.</td>
            </tr>
        </table>
    </div>
</div>