<div ng-controller="paymentCrtl">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">Payments</li>
        <li class="pull-right col-xs-3">
            <select class="form-control" ng-model="type" ng-change="init()">
                <option value="" selected>--Select--</option>
                <option value="erp">ERP Service</option>
                <option value="gps">GPS Service</option>
                <option value="both">Both the services</option>
                <!--<option>Payment pending</option>-->
            </select>
        </li>
        <li class="col-xs-4 pull-right">
            <form role="search">
                <div class="input-group add-on">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term"
                           ng-model="searchString">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="init();"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </li>
        <div class="clearfix"></div>
    </ul>
    <div class="table-res">
        <table class="table table-bordered table-striped table-condensed table-hover"
               ng-table="accountParams">
            <tr ng-repeat="payment in currentPageOfAccounts" style="text-align: center;">
                <td data-title="'S No'">
                    {{$index+1}}
                </td>
                <td data-title="'Customer name'" sortable="'userName'" class="clickable-item">
                    {{payment.userName}}
                </td>
                <td data-title="'Mobile'" sortable="'contactPhone'" class="clickable-item">
                    {{payment.contactPhone }}
                </td>
                <td data-title="'GPS Reg Date'" sortable="'gpsDate'" class="clickable-item">
                    {{payment.gpsDate | date:'dd/MM/yyyy'}}
                </td>
                <td data-title="'GPS'" sortable="'gpsEnabled'" class="clickable-item">
                    {{payment.gpsEnabled}}
                </td>
                <td data-title="'ERP Reg Date'" sortable="'erpDate'" class="clickable-item">
                    {{payment.erpDate | date:'dd/MM/yyyy'}}
                <td data-title="'ERP'" sortable="'erpEnabled'" class="clickable-item">
                    {{payment.erpEnabled}}
                </td>
                <td data-title="'Payment'" class="clickable-item">
                    <a href="#" ui-sref="services.paymentDetails({id:payment._id})">Payment Details</a>
                </td>
            </tr>
        </table>
    </div>
</div>