<div class="col-xs-12 cus-main">
    <ul class="list-inline custom-ul">
        <li>
            <button class="btn btn-primary">New Account</button>
        </li>
        <li ui-sref-active="activated"><a href="#" ui-sref="services.gpsAccounts">GPS Accounts</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="services.erpAccounts">ERP Accounts</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="services.gpsDevices">GPS Devices</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="services.deviceManagement">Device Management</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="services.payments">Payments</a></li>
        <li class="col-xs-3 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </li>

    </ul>
    <ui-view></ui-view>
</div>