<div ng-controller="settingsCtrl" ng-init="getGpsPlanCount('gps')">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">GPS Renewal Plans</li>
        <li class="pull-right">
            <button class="btn btn-primary" ng-click="saveRenewalPlan()">Create New</button>
        </li>
        <li class="pull-right col-xs-3">
            <select class="form-control" ng-model="status1" ng-change="searchByPlan('gps',status1,'');">
                <option value="" selected>Select by Status</option>
                <option ng-value="true">Enabled</option>
                <option ng-value="false">Disabled</option>
            </select>
        </li>
        <li class="pull-right col-xs-4">
            <form role="search">
                <div class="input-group add-on">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term"
                           ng-model="gpsPlan1">
                    <div class="input-group-btn" ng-click="searchByPlan('gps','',gpsPlan1);">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </li>

        <div class="clearfix"></div>
    </ul>
    <table class="table table-bordered table-striped table-condensed table-hover text-center"
           ng-table="settingParams" >
        <tr ng-repeat="plan in currentPageOfgpsPlans">
            <td data-title="'S No'">{{$index+1}}</td>
            <td data-title="'Plan Name'" sortable="'planName'" class="clickable-item">{{plan.planName}}</td>
            <td data-title="'Duration in Months'" sortable="'durationInMonths'" class="clickable-item">
                {{plan.durationInMonths}}
            </td>
            <td data-title="'Amount'" sortable="'amount'" class="clickable-item">{{plan.amount}}</td>
            <td data-title="'Status'" sortable="'status'" class="clickable-item">{{plan.status?'Enabled':'Disabled'}}</td>
            <td data-title="'Action'" class="clickable-item">
                <a href="#" ng-click="editPlanPopup(plan._id)" class="edit_icon">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" ng-click="delGpsPlan(plan._id, plan.plan)" class="delete_icon">
                    <span class="glyphicon glyphicon-trash  "></span>
                </a></td>

        </tr>
        <tr ng-if="!currentPageOfgpsPlans || currentPageOfgpsPlans.length === 0">
            <td colspan="8">No GPS Plans exist.</td>
        </tr>
    </table>
    <script type="text/ng-template" id="addNewGPSandERP.html">
        <div ng-init="initGPSandERPPlan();">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">{{pageTitle}}</h3>
                <span class="close-btn" ng-click="cancel()"><i class="fa fa-close"></i></span>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="addRenewalPlan.planName"
                                   placeholder="Plan Name *"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="addRenewalPlan.amount"
                                   placeholder="Amount *"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="addRenewalPlan.durationInMonths"
                                   placeholder="Duration in Months *"/>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <p class="smsenabled">Status</p>
                            <ul class="list-inline">
                                <li>
                                    <div class="radio">
                                        <label class="pl-0">
                                            <input type="radio" ng-model="addRenewalPlan.status" ng-value="true"
                                                   name="status">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            Enable
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" ng-model="addRenewalPlan.status" ng-value="false"
                                                   name="status">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            Disable
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <input type="button" class="btn btn-primary" value="Submit" ng-click="addGPSPlan('gps')"/>
                    </div>
                </div>
            </div>
        </div>
    </script>

</div>

<script type="text/ng-template" id="checkbox.html">
    <input type="checkbox"  ng-change="checkAll()" ng-model="checkAllStatus" checked="checked" />
</script>