<div>
    <div>
        <ul class="list-inline title-ul">
            <li class="pull-left name-head">GPS Renewal Plans</li>
            <li class="pull-right">
                <button class="btn btn-primary" ng-click="openPopup()">Add New</button>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="row mt-20">
        <div class="col-sm-7 col-sm-offset-5">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option value="" selected>Select</option>
                        <option>Enabled</option>
                        <option>Disabled</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <table class="table table-bordered table-striped table-condensed table-hover mt-20">
        <thead>
        <tr>
            <th></th>
            <th>S No.</th>
            <th>Plan Name</th>
            <th>Duration</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Edit / Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td align="center"><input type="checkbox"/></td>
            <td>S No.</td>
            <td>Plan Name</td>
            <td>Duration</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Edit / Delete</td>
        </tr>
        <tr>
            <td align="center"><input type="checkbox"/></td>
            <td>S No.</td>
            <td>Plan Name</td>
            <td>Duration</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Edit / Delete</td>
        </tr>
        <tr>
            <td align="center"><input type="checkbox"/></td>
            <td>S No.</td>
            <td>Plan Name</td>
            <td>Duration</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Edit / Delete</td>
        </tr>
        <tr>
            <td align="center"><input type="checkbox"/></td>
            <td>S No.</td>
            <td>Plan Name</td>
            <td>Duration</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Edit / Delete</td>
        </tr>
        <tr>
            <td align="center"><input type="checkbox"/></td>
            <td>S No.</td>
            <td>Plan Name</td>
            <td>Duration</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Edit / Delete</td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="addNewGPS.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">GPS Renewal Plans</h3>
    </div>
    <div class="modal-body" id="modal-body">
        asdfasdfasdfasdf
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>