h3 {
    color: green;
    text-decoration: underline;
    text-align: left;
    margin-top: -10px;
    margin: 0%;
}

h6 {
    color: green;
    text-decoration: underline;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0%;
}

p {
    text-align: left;
    margin: 0%;
    font-size: 8PX;

}

.table1 {
    width: 100%;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    margin-top: -8px;
}

.table2 {
    width: 100%;
    margin-top: 5px;
    border: 1px solid black;
    border-collapse: collapse;


}

th,
td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    /*line-height: 1.6;*/
}