<div class="container-fluid" ng-controller="rolesEditController">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>
        <div class="main-right col-xs-9">
            <div class="col-xs-6 account-edit">
                <h2 class="login-heading">Add Role</h2>
                <form ng-submit="AddorUpdateRole()" class="margin-top-20">
                    <div class="form-group">
                        <label for="name">Role Name</label>
                        <input ng-model="rolesDetails.roleName" type="text" class="form-control" id="name"
                               placeholder="Role Name">
                    </div>
                    <div>
                        <div>
                            <div class="alert alert-danger" role="alert" ng-show="rolesDetails.error">
                                <strong>{{rolesDetails.error}}</strong>
                            </div>

                            <div class="alert alert-success" role="alert" ng-show="rolesDetails.success">
                                <strong>{{rolesDetails.success}}</strong>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
