<div class="col-xs-12" ng-controller="LeftNavCtrl">
    <div class="col-xs-12">
        <div class="col-xs-12 profile-page">
            <div class="col-xs-11 profile-tabs">
                <div class="top-block">
                <ul class="list-inline">
                    <li><a href="#" ui-sref="myProfile">My Profile</a></li>
                    <li><a href="#" ui-sref="myGroup">My Group</a></li>
                    <li><a href="#" ui-sref="addGroup" class="activeProfileTab">Add Group</a></li>
                </ul>
                </div>

                <div class="user-form col-xs-12 mt-30" ng-controller="groupEditController">
                    <div class="col-xs-12 pall-zero">
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control"
                                       ng-model="groupDetails.name"/>
                                <label class="focus-effect-for-input" aria-hidden="true">User Name</label>
                            </div>
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Group User Name</label>
                            </div>
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Password</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Confirm Password</label>
                            </div>
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Contact Name</label>
                            </div>
                            <div class="form-group styling-input-list">
                                <input type="number" class="form-control custom-form-control"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Mobile</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Location</label>
                            </div>
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Select Vehicles</label>
                            </div>

                        </div>

                    </div>
                    <div class="col-xs-12 pall-zero">
                        <div class="form-group erp-gps">
                            <div class="erp">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""><span class="cr"><i
                                            class="cr-icon fa fa-check"></i></span>
                                        ERP
                                    </label>
                                </div>
                            </div>

                            <div class="gps">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""><span class="cr"><i
                                            class="cr-icon fa fa-check"></i></span>
                                        GPS
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4 mtb-25 sub-can">
                            <button type="submit" class="btn can">Cancel</button>
                            <button type="submit" class="btn can  last">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

