<div class="col-xs-12">
    <div class="col-xs-12">
        <div class="col-xs-12 profile-page">

            <div class="col-xs-11 profile-tabs">
                <div class="top-block">
                    <ul class="list-inline">
                        <li><a href="#" ui-sref="myProfile">My Profile</a></li>
                        <li><a href="#" ui-sref="myGroup" ng-show="type==='account'">My Group</a></li>
                        <li><a href="#" ui-sref="addGroup" ng-show="type==='account'"  class="activeProfileTab">Add Group</a></li>
                    </ul>
                </div>

                <div class="user-form col-xs-12 mt-30 pall-zero" ng-controller="AddEditAccountCtrl">
                    <div class="col-xs-12 pall-zero">
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control" ng-model="group.groupName"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Group Name</label>
                            </div>

                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control" ng-model="group.password"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Password</label>
                            </div>
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control"
                                       ng-model="group.confirmPassword"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Confirm Password</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control" ng-model="group.userName"/>
                                <label class="focus-effect-for-input" aria-hidden="true">User Name</label>
                            </div>

                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control"
                                       ng-model="group.contactName"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Contact Name</label>
                            </div>
                            <div class="form-group styling-input-list">
                                <input type="number" class="form-control custom-form-control"
                                       ng-model="group.contactPhone"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Mobile</label>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control" ng-model="group.location" id="location" ng-change="searchLocation()"/>
                                <label class="focus-effect-for-input" aria-hidden="true">Location</label>
                            </div>

                            <div class="form-group">
                                <div class="dropdown pall-zero">
                                    <button class="tl btn dropdown-toggle custom-form-control col-xs-12" type="button"
                                            data-toggle="dropdown">Select Truck
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu assign-trucks list-inline col-xs-12">
                                        <li ng-repeat="truck in trucks" class="col-xs-5">
                                            <input type="checkbox"  ng-model="truckId2[$index]"
                                                   ng-change="truckSelected($index,truck._id)" id="RegNo{{$index}}">
                                            <label for="RegNo{{$index}}">{{truck.registrationNo}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--<div class="col-xs-12 pall-zero">
                        <div class="form-group erp-gps">
                            <div class="erp">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="group.erpEnabled"><span class="cr"><i
                                            class="cr-icon fa fa-check"></i></span>
                                        ERP
                                    </label>
                                </div>
                            </div>

                            <div class="gps">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="group.gpsEnabled"><span class="cr"><i
                                            class="cr-icon fa fa-check"></i></span>
                                        GPS
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>-->
                    <div class="col-xs-4 col-xs-push-4">
                        <div class="alert alert-danger" role="alert" ng-show="group.errors.length">
                            <ul>
                                <li ng-repeat="error in group.errors">{{error}}</li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-4 mtb-25 sub-can">
                            <button type="submit" class="btn can" ng-click="cancel()">Cancel</button>
                            <button type="submit" class="btn can last" ng-click="addOrUpdateAccountGroup()">Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
