<div class="col-xs-12">
    <div class="col-xs-12 col-sm-8 col-md-4 admin-login">
        <h3>Admin Login</h3>
        <ul class="login-form">

            <li class="form-group">
                <input type="text" class="form-control custom-form-control" name="userName"
                       placeholder="User Name"/>
            </li>
            <li class="form-group">
                <input type="text" class="form-control custom-form-control" name="password"
                       placeholder="Password"/>
            </li>
            <li class="form-group">
                <input type="text" class="form-control custom-form-control" name="mobileNum"
                       placeholder="Mobile Num"/>
            </li>
            <li class="form-group">
                <input type="submit" class="btn custom-btn" value="Login" />
            </li>
        </ul>
    </div>
</div>