<div class="main-right col-xs-12 invocie" ng-controller="invoicesListController">
    <div class="col-xs-12 pall-zero mb-10">
        <div class="col-sm-3 pall-zero">

            <h3>Invoice List: </h3>
        </div>
        <ul class="col-sm-9 pall-zero list-inline">
            <li class="col-sm-3 pall-zero">
                <date-picker ng-model="fromDate" class="'paymentscontrol'" past-present="'pastPresentDate'" placeholder="'from date'"></date-picker>
            </li>
            <li class="col-sm-3 pall-zero">
                <date-picker class="'paymentscontrol'" past-present="'pastPresentDate'" ng-model="toDate" placeholder="'to date'"></date-picker>
            </li>
            <li class="col-sm-3 pall-zero">
                <div class="select-box erp-box">
                    <ui-select ng-model="partyName.party" theme="select2" title="Choose a person" append-to-body="true">
                        <ui-select-match placeholder="Select a Party" class="form-control ui-select-control">
                            {{$select.selected.name || name}}
                        </ui-select-match>
                        <ui-select-choices repeat="parties in partiesList | propsFilter: {name: $select.search}">
                            <div ng-bind-html="parties.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </li>
            <li class="col-sm-1 pall-zero">
                <button type="submit" ng-click="getInvoice(partyName.party);" class="btn go">
                    <i class="fa fa-search sear" aria-hidden="true"></i>
                </button>
            </li>
            <li class="col-sm-1 pall-zero">
                <button type="button" ng-click="downloadDetails( );" class="btn mailImage">
                    <img src="images/Reports_Download.png"></button>
            </li>
            <li class="col-sm-1 pall-zero">
                <button type="button" ng-click="printArea( )" class="btn mailImage">
                    <i class="fa fa-print fa-2x" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </div>
    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="invoiceParams">
        <tr class="print-style" ng-repeat="invoice in invoices track by $index" style="text-align: center;">
            <td data-title="'S.No'" sortable="''" class="clickable-item">{{$index + 1}}
            </td>
            <td data-title="'Party Name'" sortable="'partyId'" class="clickable-item">{{
                invoice.partyId}}
            </td>
            <td data-title="'Date'" sortable="'createdAt'" class="clickable-item">{{
                invoice.createdAt | date: "dd/MM/y"}}
            </td>
            <td data-title="'From'" sortable="'trip'">
                {{invoice.trip[0].from}}
            </td>
            <td data-title="'To'" sortable="'trip'">
                {{invoice.trip[0].to}}
            </td>
            <td data-title="'Truck No'" sortable="'vehicleNo'" class="clickable-item">{{
                invoice.trip[invoice.trip.length-1].vehicleNo.registrationNo ||
                invoice.trip[invoice.trip.length-1].vehicleNo}}
            </td>
            <td data-title="'Rate/Trip'" sortable="'rate'" class="clickable-item">{{
                invoice.rate}}
            </td>
            <td data-title="'No of Trips'" sortable="'No of Trips'" class="clickable-item">{{
                invoice.quantity}}
            </td>
            <td data-title="'Status'" sortable="'status'" class="clickable-item">{{
                invoice.status}}
            </td>
            <td data-title="'Action'" class="col-sm-2">
                <a href="#" class="btn" ng-click="goToEditPage(invoice._id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="btn" ng-click="delete(invoice._id)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="#" class="btn" ng-click="generatePdf(invoice._id)">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn" ng-click="printInvoice(invoice._id)" >
                    <i class="fa fa-print fa-2x" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        <tr class="print-style" ng-if="!invoices || invoices.length === 0">
            <td colspan="8"> No Invoices Exist.</td>
        </tr>
    </table>
    <div class="add-image pull-right">
        <figure>
            <a href="#" ui-sref="invoiceEdit"><img src="images/Add_Payments.png" alt="Add Invoice" title="Add Invoice"></a>
        </figure>
    </div>


    <div class="report_left_inner" style="margin: 10px 0px; display:none;">
        <table class="table" style="border: 1px solid #000000; border-collapse: collapse;">
            <thead>
                <tr class="print-style">
                    <th colspan="7" style="text-align: center; border: 1px solid #000000">
                        <h4 style="margin-bottom: 0rem !important;">
                            <b> {{partyName.party.name}}</b>
                        </h4>
                    </th>
                </tr>
                <tr class="print-style">
                    <th style="border: none"></th>
                    <th style="border: none"></th>
                    <th style="border: none"></th>
                    <th style="border: none"></th>
                    <th style="border: none"></th>
                    <th style="text-align:right; border: none">Date:</th>
                    <th style="text-align: center; border: 1px solid #000000">{{date | date:'dd.MM.yyyy'}}</th>
                </tr class="print-style">
                <tr class="print-style" style="text-align: center;border: 1px solid #ccc;">
                    <th style="border: 1px solid #000000">S.No</th>
                    <th style="border: 1px solid #000000">Date</th>
                    <th style="border: 1px solid #000000">Bill No</th>
                    <th style="border: 1px solid #000000">Vehicle No</th>
                    <th style="border: 1px solid #000000">From</th>
                    <th style="border: 1px solid #000000">To</th>
                    <th style="border: 1px solid #000000">Amount in Rs.</th>
                </tr class="print-style">
            </thead>
            <tbody>
                <tr class="print-style" ng-repeat="invoice in invoices track by $index" style="text-align: center;border: 1px solid #ccc;">
                    <td style="border: 1px solid #000000" scope="row">{{$index + 1}}</td>
                    <td style="border: 1px solid #000000">{{invoice.createdAt | date: "dd.MM.y"}}</td>
                    <td style="border: 1px solid #000000">TS{{$index + -741}}</td>
                    <td style="border: 1px solid #000000">{{invoice.trip[invoice.trip.length-1].vehicleNo.registrationNo
                        ||
                        invoice.trip[invoice.trip.length-1].vehicleNo}}</td>
                    <td style="border: 1px solid #000000">{{invoice.trip[0].from}}</t>
                    <td style="border: 1px solid #000000">{{invoice.trip[0].to}}</td>
                    <td style="border: 1px solid #000000">10,000.00</td>
                </tr class="print-style">
                <tr class="print-style">
                    <th colspan="6" style="text-align:right; border: 1px solid #000000">Total:</th>
                    <th style="text-align: center; border: 1px solid #000000;">13,000.00</th>
                </tr class="print-style">
                <tr class="print-style">
                    <th colspan="7" style="text-align: left; border: 1px solid #000000">
                        <b>Ruppees Only:</b>
                    </th>
                </tr class="print-style">
                <tr class="print-style">
                    <td colspan="7" style="text-align: right; border: 1px solid #000000">
                        <p>For Sri Anjana Logistics</p>
                        <br>
                        <p>Authorised Signature</p>
                    </td>
                </tr class="print-style">
            </tbody>
        </table>
    </div>
    <!--<div class="invoice_Container" style="line-height: 1.6;">
        <div>
            <table class="table1" style="width: 100%;border-collapse: collapse;margin-top: -8px;line-height: 1.6;">
                Invoice:{{invoice}}
                <tr>
                    <th style="border:none">
                        <h3 style="color: green;text-decoration: underline;text-align: left;margin-top: -10px;margin: 0%;"><b>SRI ANJANA TRANSPORT</b></h3>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">PLOT NO.506/9, DATATREYA NAGAR COLONY,</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">YELLAMMA BANDA, KUKATPALLY,</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">HYDERABAD-72</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">MOBILE NO:9848799473</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">PAN NO.ABVFS5272J</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">GSTIN CODE:36ABVFS5272J1ZD</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;"> <a href="srianjanatransport@redifmail.com">srianjanatransport@redifmail.com</a></p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;"> <a href="http://www.srianjanatransport.com">http://www.srianjanatransport.com</a> </p>
                    </th>
                    <th style=" border: none; float: right; padding-left: 300px">
                        <h3 style="color: green;text-decoration: underline;text-align: left;margin-top: -10px;margin: 0%;">INVOICE</h3>
                        <h3 style="color: green; text-decoration: underline;text-align: left;margin-top: 5px;margin-bottom: 0%;">RTGS DETAILS:</h3>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">HDFC BANK LTD.</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">VIVEKANANDA NAGAR, KUKATPALLY</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">IFSC-HDFC0001639</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">CURRENT A/C.#16392000002774</p>

                    </th>
                </tr>
            </table>
            <div class="container">
                <div style="margin: 10px 0px;">
                    <table class="table1" style="margin-bottom:-6px !important;width: 100%;border-bottom: 2px solid black;border-collapse: collapse;margin-top: -8px;">
                        <thead>
                        <tr>
                            <th colspan="3" style="font-size: 12px;text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <b>INVOICE</b>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="7" scope="row" style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <b>
                                    <p style="text-align: left;margin: 0%;font-size: 12PX;"> SRI ANJANA TRANSPORT</p>
                                </b> <br>
                                <small>
                                    <p style="text-align: left;margin: 0%;font-size: 12PX;"> Pol No: 506/9, DATTATREYA COLONY,</p>
                                    <p style="text-align: left;margin: 0%;font-size: 12PX;"> YELLAMMABANDA, KUKATPALLY, HYDERABAD-72,</p>
                                    <p style="text-align: left;margin: 0%;font-size: 12PX;"> GSTIN: 36ABVFS5272J1ZD </p>
                                    <p style="text-align: left;margin: 0%;font-size: 12PX;" > Email:<a href="#">srianjanatransport@rediffmail.com</a></p>
                                    <p style="text-align: left;margin: 0%;font-size: 12PX;" > <a href="#">http://www.srianjanatransport.com</a></p>
                                    <p style="text-align: left;margin: 0%;font-size: 12PX;" > PH NO: 9848799473, 9573009187br </p>
                                </small>
                            </td>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">Invoice No</p>
                            </th>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">Dated</p>
                            </th>
                        </tr>


                        <tr >
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;font-size: 8px ">122</td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">{{invoice.invoiceDate}}</p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">LR No:<p>
                            </th>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">Dated<p>
                            </th>
                        </tr>
                        <tr>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;">{{invoice.invoiceDetails.lrNo}}<p>
                            </td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">{{invoice.invoiceDetails.lrDate}}</p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">Consignor INVOICE No.</p>
                            </th>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">Dated</p>
                            </th>
                        </tr>
                        <tr>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">{{invoice.invoiceDetails.consignorInvoiceNo}}</p>
                            </td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">{{invoice.invoiceDetails.consignorInvoiceDate}}</p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">Gate Pass No</p>
                            </th>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;"">Dated</p>
                            </th>
                        </tr>
                        <tr>
                            <td style="text-align: center;border: 1px solid black;border-collapse: collapse;" rowspan="5" scope="row">
                                <p style="text-align: left;margin: 0%;font-size: 12PX;">Buyer</p>
                                <p style="text-align: left;margin: 0%;font-size: 12PX;"> <b>
                                <p style="text-align: left;margin: 0%;font-size: 12PX;">{{partyName}}</p>
                                </b>
                                <p style="text-align: left;margin: 0%;font-size: 12PX;">{{partyAddress}}</p>
                                &lt;!&ndash;{{#each invoiceDetails.trip}}&ndash;&gt;

                                &lt;!&ndash;{{/each}}&ndash;&gt;
                                <p style="text-align: left;margin: 0%;font-size: 12PX;"> <b>GSTIN: {{gstNo}}</b></p>
                            </td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">{{invoiceDetails.gatePassNo}}</p>
                            </td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">{{invoiceDetails.gatePassDate}}</p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">No of Pallets</p>
                            </th>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">Despatched through</p>
                            </th>
                        </tr>
                        <tr>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">{{invoiceDetails.pallets}}</p>
                            </td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">By Road</p>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">Departure</p>
                            </th>
                            <th style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: center;font-size: 12PX;">Destination</p>
                            </th>
                        </tr>
                        <tr>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                &lt;!&ndash;{{#each invoiceDetails.trip}}
                                <p style="text-align: center;">{{this.from}}</p>
                                {{/each}}&ndash;&gt;
                            </td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                &lt;!&ndash; {{#each invoiceDetails.trip}}
                                 <p style="text-align: center;">{{this.to}}</p>
                                 {{/each}}&ndash;&gt;
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <table class="table2" style="margin-bottom:-10px !important;width: 100%;margin-top: 5px;border: 1px solid black;border-collapse: collapse;line-height: 1.6;">
                        <thead>
                        <tr>
                            <th style="font-size: 12px">S.No.</th>
                            <th colspan="" style="font-size: 12px">Particulars</th>
                            <th style="font-size: 12px">Quantity</th>
                            <th style="font-size: 12px">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;" scope="row"><p style="font-size:12px;text-align: center">1</p>
                            </td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;" colspan="">
                                <p style="text-align: left;margin: 0%;font-size: 12PX;"><b>Vehicle No:{{this.vehicleNo}}</b></p>
                                <p style="text-align: left;margin: 0%;font-size: 12PX;"> Temparature cargo {{invoiceDetails.temparatureCargo}}</p>
                                <p style="text-align: left;margin: 0%;font-size: 12PX;"> {{invoiceDetails.pallets}} Pallets</p>
                                <p style="text-align: left;margin: 0%;font-size: 12PX;">Loading Date:{{this.loadedOn}}</p>
                                <p style="text-align: left;margin: 0%;font-size: 12PX;">Unloading Date:{{this.unloadedOn}}</p>
                                <p style="text-align: left;margin: 0%;font-size: 12PX;"> {{ invoiceDetails.trip}}{{this.from}},<b>To</b>{{invoiceDetails.trip}}
                                    {{this.to}}</p>
                            </td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;"><p style="font-size:12px;text-align: center"></p></td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;"><p style="font-size:12px;text-align: center">
                                &lt;!&ndash;{{this.ratePerTonne}}&ndash;&gt;
                            </p></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;" scope="row"><p style="font-size:12px;text-align: center">2</p></td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">
                                <p style="text-align: left;margin: 0%;font-size: 12PX;">Detention Charges</p>
                            </td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;" colspan="">
                                <table style="border:1px solid black;width: 101.5%;border-collapse: collapse;margin: -2px;">
                                    <tr>
                                        <td>
                                            <p style="text-align: left;margin: 0%;font-size: 12PX;">No. Days</p>
                                        </td>
                                        <td>
                                            <p style="text-align: left;margin: 0%;font-size: 12PX;">Amount</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14px;text-align: center;
            border: 1px solid black;
            border-collapse: collapse;"></td>
                                        <td style="font-size: 14px;text-align: center;
            border: 1px solid black;
            border-collapse: collapse;">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: right;font-size:10px;
            border: 1px solid black;
            border-collapse: collapse; ">Total</td>
                            <td style="text-align: center;
            border: 1px solid black;
            border-collapse: collapse;"><p style="font-size:10px;text-align: center">

                                &lt;!&ndash;{{#each invoiceDetails.trip}}&ndash;&gt;
                                &lt;!&ndash;{{this.amountPerTonne}}&ndash;&gt;
                                &lt;!&ndash;{{/each}}</p>&ndash;&gt;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <table style="width:100%;border:1px solid black;border-collapse: collapse;line-height:1.6;">
                <tr>
                    <td style="border:none;text-align: center;
            border-collapse: collapse;">
                        <p style="font-size: 13px;text-align: left;margin: 0%;">Amount chargeable (in words)</p>
                        <p style="font-size: 13px;text-align: left;margin: 0%;"><b>INR:</b></p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;"><b>Company's PAN:ABVFS5272J</b></p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;"><b><u> Declaration:</u></b></p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;"><b>Transporter is not liable to pay Goods and Service Tax:</b></p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;"><b>(1)Goods and Service tax is paid on reverse charge mechanism
                            under sub-section(4) of section 9 of Goods and Service Tax Act.</b></p>
                        <b><p style="text-align: left;margin: 0%;font-size: 12PX;">(2)No deductions from the freight bill will be permitted unless supported by advance debit
                            note.</b></p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;"><b>(3)Exempted vide Sr.No 22of notifications no 12/2017-Central Tax(Rate)Dated 28<sup>th</sup>
                            june 2017</b>,</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;"><b>and as notified by state under GST Law.Classification of supply Exempted</b></p>
                    </td>
                    <td style=" border:none;float: right; padding-left:200px;text-align: center;
            border-collapse: collapse;">
                        <p style="padding-left: 220px;text-align: left;margin: 0%;font-size: 12PX;">E & O.E</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">Company's Bank DETAILS:</p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">Bank Name:<b>HDFC BANK</b></p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">A/C No.:<b>16392000002774</b></p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">IFSC:<b>HDFC0001639</b></p>
                        <p style="text-align: left;margin: 0%;font-size: 12PX;">Branch:<b>Vivekananda nagar</b></p>
                        <div style="border: 1px solid black; margin-right: -2px; margin-top: 10px; margin-bottom: -3px; ">
                            <p style="margin-right: 20px; text-align: center;">for<h4 style="color: green;text-align: center;margin-top: 5px;margin-bottom: 0%;"><b> SRI ANJANA TRANSPORT </b></h4>
                            <br>
                            <br>
                            <br>
                            <p style="margin-right: 20px; text-align: center;font-size: 12px"><b>Authorised Signature</b></p>
                        </div>


                    </td>
                </tr>
            </table>

        </div>
    </div>-->
</div>