<div class="col-xs-12 gpsListView" ng-controller="gpsListViewController">
    <div class="col-xs-12">
        <div class="lisk-block col-xs-12">
            <div class="col-xs-12">
                <ul class="list-inline">

                    <li class="col-sm-4"><h2>All Vehicles Location</h2></li>

                    <li class="col-sm-4">
                        <div class="search-box1">
                            <input type="text" class="form-control textfiled1" placeholder="search">
                            <input type="button" class="sea-btn">
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li><a href="#" class="map" ui-sref="mapView">Map view</a></li>

                    <li><a href="#" class="map activeView" ui-sref="listView">List view</a></li>

                    <li  class="mar-rgt-space pull-right map-wid"><a href="#" class="map" ui-sref="gpsReports">Reports</a></li>

                </ul>
            </div>
            <div class="col-xs-12 mt-25">
                <table class="table table-bordered table-striped table-condensed table-hover" ng-table="partyParams">
                    <tr style="text-align: center;" ng-repeat="truck in trucksData">
                        <td data-title="'Date & Time'" sortable="'createdAt'" class="clickable-item col-sm-2">
                            <a href="#"></a>
                            {{truck.attrs.latestLocation.createdAt |date : "dd/MM/y HH:mm" }}
                        </td>
                        <td data-title="'Vehicle Num'" sortable="'registrationNo'" class="clickable-item col-sm-1">
                            <a href="#" ng-if="truck.attrs.latestLocation" ng-click="trackView(truck.registrationNo)">{{truck.registrationNo | uppercase}}</a>
                            <span ng-if="!truck.attrs.latestLocation">{{truck.registrationNo | uppercase}}</span>
                        </td>
                        <td data-title="'Location'" sortable="'address'" class="clickable-item col-sm-2">
                            {{truck.attrs.latestLocation.address}}
                        </td>
                        <td data-title="'Speed'" sortable="'speed'" class="clickable-item col-sm-1">
                            {{truck.attrs.latestLocation.speed | number:0}}
                        </td>
                        <td data-title="'Odo Meter'" sortable="'totalDistance'" class="clickable-item col-sm-2">
                            {{truck.attrs.latestLocation.totalDistance | number:0}}
                        </td>
                        <td data-title="'Driver'" sortable="'driverId'" class="clickable-item col-sm-1">
                            {{truck.driverId}}
                        </td>
                        <!--<td data-title="'Fuel'" sortable="'totalPayment'" class="clickable-item col-sm-1">
                            NA
                        </td>-->
                        <td data-title="'Status'"  class="clickable-item col-sm-2">{{truck.status}}
                        </td>
                        <td data-title="'Share'"  class="clickable-item col-sm-2">
                            <button class="btn btn-info" ng-click="shareTracking(truck._id, truck.registrationNo)"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
                        </td>
                        <!--<td data-title="'Action'" sortable="'totalPayment'" class="clickable-item col-sm-1">
                            <i class="fa fa-edit" style="font-size: 20px;"></i>
                        </td>-->
                    </tr>
                    <!-- <tr ng-if="!parties || parties.length === 0">
                         <td colspan="8">No Records exist.</td>
                     </tr>-->

                </table>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<script type="text/ng-template" id="shareLink.html">
    <!--<a href="#" class="btn btn-primary" ui-sref="services.gpsDevices"> Cancel</a>-->
    <!--<a href="#" class="btn btn-primary" ng-click="transferDevices()"> Submit</a>-->
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Share truck tracking</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <h3>Please click on this link <b><a href="mailto:?subject=GPS Tracking link for vehicle {{registrationNumber}} &body=Hi there, please the following link for tracking vehicle {{registrationNumber}} {{link}}  Regards, www.easygaadi.com">Email Link</a></b></h3>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel();">Cancel</button>
    </div>
</script>