<div class="col-xs-12 gpsListView" ng-controller="gpsListViewController">
    <div class="col-xs-12">
        <div class="lisk-block col-xs-12">
            <div class="col-xs-12">
                <ul>

                    <li class="vehicle1"><h2>All Vehicles Location</h2></li>

                    <li class="sea-wid1">
                        <div class="search-box1">
                            <input type="text" class="form-control textfiled1" placeholder="search">
                            <input type="button" class="sea-btn">
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="map-wid"><a href="#" class="map" ui-sref="mapView">Map view</a></li>

                    <li class="map-wid"><a href="#" class="map activeView" ui-sref="listView">List view</a></li>

                    <li  class="mar-rgt-space pull-right map-wid"><a href="#" class="map" ui-sref="gpsReports">Reports</a></li>

                </ul>
            </div>
            <div class="col-xs-12 mt-25">
                <table class="table table-bordered table-striped table-condensed table-hover" ng-table="partyParams">
                    <tr style="text-align: center;" ng-repeat="truck in trucksData">
                        <td data-title="'Date & Time'" sortable="'partyName'" class="clickable-item col-sm-2">
                            <a href="#"></a>
                            {{truck.attrs.latestLocation.createdAt |date : "dd/MM/y HH:mm" }}
                        </td>
                        <td data-title="'V Num'" sortable="'partyName'" class="clickable-item col-sm-1">
                            <a href="#"></a>
                            {{truck.registrationNo}}
                        </td>
                        <td data-title="'Location'" sortable="'partyContact'" class="clickable-item col-sm-2">
                            {{truck.attrs.latestLocation.address}}
                        </td>
                        <td data-title="'Speed'" sortable="'totalFright'" class="clickable-item col-sm-1">
                            {{truck.attrs.latestLocation.speed}}
                        </td>
                        <td data-title="'Odo Meter'" sortable="'totalPayment'" class="clickable-item col-sm-2">
                            150KM
                        </td>
                        <td data-title="'Driver'" sortable="'totalPayment'" class="clickable-item col-sm-1">
                            {{truck.driverId}}
                        </td>
                        <td data-title="'Fuel'" sortable="'totalPayment'" class="clickable-item col-sm-1">
                            NA
                        </td>
                        <td data-title="'Load'" sortable="'totalPayment'" class="clickable-item col-sm-2">
                         <input type="checkbox" /> Looking For Load
                        </td>
                        <td data-title="'Action'" sortable="'totalPayment'" class="clickable-item col-sm-1">
                            <i class="fa fa-edit" style="font-size: 20px;"></i>
                        </td>
                    </tr>
                    <!-- <tr ng-if="!parties || parties.length === 0">
                         <td colspan="8">No Records exist.</td>
                     </tr>-->

                </table>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>