<div class="col-xs-12 gpsListView" ng-controller="TruckTrackingController">
    <div class="col-xs-12">
        <div class="lisk-block col-xs-12">
            <div class="col-xs-12">
                <ul class="list-inline">
                    <li class="col-sm-4"><h2>All Vehicles Location</h2></li>
                    <li class="col-sm-4">
                        <div class="search-box1">
                            <input type="text" class="form-control textfiled1" placeholder="search">
                            <input type="button" class="sea-btn">
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class=" "><a href="#" class="map activeView" ui-sref="mapView">Map view</a></li>

                    <li class=""><a href="#" class="map" ui-sref="listView">List view</a></li>

                    <li  class="mar-rgt-space pull-right map-wid"><a href="#" class="map" ui-sref="gpsReports">Reports</a></li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row mt-20">
            <div class="col-xs-9">
                <div>
                    <div  id="map" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row mt-10">
                    <label>Truck Reg No :</label>
                    <label>{{truckTrackingParams.regNo}} </label>
                </div>
                <div class="row">
                    <label>Start Date</label>
                    <date-picker class="'textfield'" ban-future="'banFutureDate'" ng-model="truckTrackingParams.startDate"></date-picker>
                </div>
                <div class="row">
                    <label>End Date</label>
                    <date-picker class="'textfield'" ban-future="'banFutureDate'" ng-model="truckTrackingParams.endDate"></date-picker>
                </div>
                <!--<center>-->
                <div class="row">

                    <input type="button" ng-click="getTruckPositions()" class="btn btn-danger mt-20" value="Track"/>
                    <input type="button" ng-click="animate()" class="btn btn-danger mt-20" value="Play"/>
                    <input type="button" ng-click="stopAnimation()" class="btn btn-danger mt-20" value="Stop"/>
                    <input type="button" ng-click="downloadReport()" class="btn btn-danger mt-20" value="Download">
                    <div class="checkbox" ng-show="distance">
                        <label>
                            <input type="checkbox" ng-change="renderStops()" ng-model="truckTrackingParams.showOnlyStops">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            : Only Stops
                        </label>
                    </div>
                </div>
                <!--</center>-->

                <div class="mt-20">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Summary </strong>
                        </li>

                        <li class="list-group-item">
                            Distance Travelled : <b>{{distance| number:2}}</b>
                        </li>
                        <li class="list-group-item">
                           Top Speed : <b>{{topSpeed | number:2}}</b>
                        </li>
                        <li class="list-group-item">
                            Average Speed : <b>{{averageSpeed | number : 2}}</b>
                        </li>

                        <li class="list-group-item">
                            Total Time : <b>{{timeTravelled | number : 2}}</b>
                        </li>
                    </ul>
                </div>
                <div class="mt-10">
                    <ul class="list-group" ng-show="averageSpeed">

                        <li class="list-group-item">
                            <label>                         Pushpin Legend
                            </label>
                        </li>

                        <li class="list-group-item">
                    <img height="25" width="25" src="/images/green_marker.svg"> <label> - Start Position </label>
                        </li>
                        <li class="list-group-item">
                    <img height="25" width="25" src="/images/red_marker.svg"> <label> - End Position </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>