/*Common CSS*/
.pall-zero {
    padding: 0 !important;
}
.mb-zero{
    margin:0 !important;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pl-0 {
    padding-left:0 !important;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    font-size: 15px;
    background: #666;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 2px 0px;
    cursor: pointer;
}

.mtb-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.window-custom .modal-dialog{
    width: 800px !important;
    margin: 30px auto !important;
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium/Gotham-Medium.otf') format('opentype'), url('../fonts/Gotham-Medium/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book/Gotham-Book.otf') format('opentype'), url('../fonts/Gotham-Book/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Light/Gotham-Light.otf') format('opentype'), url('../fonts/Gotham-Light/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    height: 100% !important;
}

body {
    font-family: Gotham-Light !important;
    font-size: 14px !important;
    background-color: #fff;
    color: #000 !important;
    height: 100% !important;
}

.main-page {
    width: 100%;
    padding: 0;
    height: 100% !important;
}

.custom-navbar {
    background-color: #fff;
    border-radius: 0 !important;
    height: 75px;
    margin: 0 !important;
    border-bottom: 1px solid #CCCCCC !important;
    box-shadow: -2px 0px 20px -2px rgba(150,164,168,1);
}

.admin-login {
    display: block;
    margin: 80px auto;
    float: none !important;
    background-color: #fff;
    padding: 25px 25px 0 25px;
    text-align: center;
    width:100%;
}

.admin-login h3 {
    padding: 20px 0 0;
    margin: 0;
    font-weight: bold;
    color: #ccc;
}

.login-form {
    width: 100%;
    display: block;
    padding: 20px;
}

.login-form li {
    width: 90%;
    margin: 15px auto;
    list-style-type: none;
}

.login-form-control {
    height: 42px !important;
    padding: 10px !important;
}

.logo {
    padding: 0 !important;
    height: 0 !important;
}
.nav-admin>li>a{
    padding: 9px !important;
}

.custom-btn {
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: rgb(117, 117, 117);
    color: #fff;
}

.custom-btn:focus {
    color: #fff !important;
}

.login-user {
    padding: 10px 0 !important;
}
.main-table{
    height: 100% !important;
    margin-top: 75px;
}
.left-nav {
    background-color: #000;
    padding: 0 !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 999;
}

.left-menu ul {
    margin-top: 18px;
}

.left-menu-li {
    margin-bottom: 10px;
    font-size: 18px;
    height: 100%;
}

.left-menu-li:hover {
    color: #000;
    background-color: #f5f5f5;
    width: 100%;
}

.left-menu-anchor {
    font-family: 'Gotham-Book';
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 12px 15px;
    color: #fff;
}

.left-menu-anchor:focus {
    text-decoration: none;
    color: #fff;
}
.left-menu-anchor:hover{
    text-decoration: none;
    color: #000;
}

.right-nav {
    background-color: #fff;
    height: 100% !important;
    position: relative !important;
    left: 16%;
    padding: 0 10px !important;
}

.cus-main {
    padding: 15px;
}

.custom-ul li {
    padding: 10px 0 0;
    font-size: 13px;
    line-height: 31px;
}

.title-ul {
    margin: 20px 0px 5px 0;
    line-height: 30px;
}

.custom-ul li a {
    text-decoration: none;
    padding: 0 5px;
}

.active {
    background-color: #fff;
    color: #000 !important;
}

.custom-form-control {
    height: 42px !important;
    width: 80% !important;
    margin: 0 auto;
}
.order-form-control {
    height: 42px !important;
    width: 100% !important;
}

.newCust {
    padding: 25px;
    border-radius: 10px;
    -webkit-box-shadow: -8px 11px 33px -4px rgba(150,164,168,1);
    -moz-box-shadow: -8px 11px 33px -4px rgba(150,164,168,1);
    box-shadow: -3px 0px 20px -5px rgba(150,164,168,1);
}

.pos-relative {
    position: relative;
}

.date-pick {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 7px;
}

.routes {
    display: block;
}

.routes h4 {
    margin: 15px 24% 25px 0;
    display: inline-block;
    font-weight: bold;
}

.routes span {
    font-size: 24px;
    cursor: pointer;
}

.checkbox label {
    font-size: 15px;
    padding-left: 0 !important;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}

.save-btns {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.accordion-toggle span {
    text-decoration: none;
    font-size: 14px;
}

.accordion-toggle:hover,
.accordion-toggle:focus {
    text-decoration: none !important;
    color: #c9302c;
}

.activated {
    border-bottom: 2px solid #000;
}

footer {
    background-color: #615f5f;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

.name-head {
    font-size: 20px;
}

.smsenabled {
    margin: 0 !important;
}

.account-rotues p {
    display: inline-block;
    font-size: 17px;
    margin: 10px 0 22px 0px;
    padding-right: 10px;
}

.account-rotues span {
    display: inline-block;
}

.plans li {
    width: 22% !important;
}

.planfc {
    width: 100% !important;
}

.ui-notification {
    position: fixed;
    right: 0;
}


/* Nagesh CSS */

.plus-pos {
    position: absolute;
    top: 9px;
    right: 15px;
    cursor: pointer;
}

.plus-pos>i {
    font-size: 25px;
}

.clr-green {
    color: #30b518;
}

.clr-red {
    color: #f00;
}

.bg-diff {
    background: #f8f8f8;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.ui-select-choices-row:hover{
    background-color: #e83b13 !important;
    color: #fff !important;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
    background: #fff;
    position: relative;
    z-index: 1;
}
.alert-info.positioned {
    margin-top: 1em;
    position: relative;
    z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    padding: 10px;
    background: #c7553a;
    color: #fff;
    font-weight: bold;
}
.ng-table th.sortable.sort-desc .sort-indicator:after{
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff !important;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}
.ng-table th.sortable .sort-indicator:before {
    margin-top: 2px;
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff !important;
}
.ng-table th.sortable .sort-indicator:after, .ng-table th.sortable .sort-indicator:before {
    content: "";
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #fff transparent !important;
    visibility: visible;
    right: 5px;
    top: 50%;
    position: absolute;
    opacity: .3;
    margin-top: -4px;
}
.edit_icon, .delete_icon{
    font-size: 16px;
    padding: 5px;
}
/*------------------Input Label Styling-----------*/

.styling-input-list {
    position: relative;
    z-index: 0;
}
.focus-effect-for-input {
    position: absolute;
    top: 10px;
    left: 55px;
    color: #989898;
    font-size: 14px;
    font-weight: lighter;
    z-index: -99999;
    width: auto;
    background-color: #fff;
    padding: 0 5px;
}
.order-effect-for-input {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #989898;
    font-size: 14px;
    font-weight: lighter;
    z-index: -99999;
    width: auto;
    background-color: #fff;
    padding: 0 5px;
}
.custom-form-control, .order-form-control {
    background-color: transparent !important;
    z-index: 10 !important;
}

.custom-form-control:not([disabled]):focus ~ .focus-effect-for-input {
    /*whsOnd:not([disabled]):focus~.AxOyFc*/
    transform: scale(.9) translateY(-20px);
    left: 55px;
    color: #000;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
    width: auto;
    background-color: #fff;
    padding: 0 5px;
    z-index: 2;
}

 .order-form-control:not([disabled]):focus ~ .order-effect-for-input {
    /*whsOnd:not([disabled]):focus~.AxOyFc*/
    transform: scale(.9) translateY(-20px);
    left: 0px;
    color: #000;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
    width: auto;
    background-color: #fff;
    padding: 0 5px;
    z-index: 2;
}

.ng-not-empty + .focus-effect-for-input {
    transform: scale(.9) translateY(-20px);
    left: 55px;
    top: 8px;
    color: #000;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
    z-index: 2;
}

.ng-not-empty + .order-effect-for-input {
    transform: scale(.9) translateY(-20px);
    left: 10px;
    top: 8px;
    color: #000;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
    z-index: 2;
}

/*sign-up input css*/

.top_sign .focus-effect-for-input, .top_sign .focus-effect-for-input-trucks {
    color: #467371;
}
.panel-default>.panel-heading {
    color: #fff !important;
    background-color: #21345d !important;
    border-color: #9a1f1f;
    font-weight: bold !important;
}
.panel-title{
    font-weight: bold;
}
.accordion-toggle:hover, .accordion-toggle:focus {
    text-decoration: none !important;
    color: #ffffff;
}

.top-border{
    border-top: 1px solid #21345d;
    padding-top: 10px;
}
/* UI Select with Search theme 2 CSS */

/*
Version: 3.4.5 Timestamp: Mon Nov  4 08:22:42 PST 2013
*/
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    /*
      Force border-box so that % widths fit the parent
      container without overlap because of margin/padding.

      More Info : http://www.quirksmode.org/css/box.html
    */
    -webkit-box-sizing: border-box; /* webkit */
    -moz-box-sizing: border-box; /* firefox */
    box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
width: 85% !important;
    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
}
.customSelect .select2-container .select2-choice{
    width: 74% !important;
}


.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('../images/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    /* styles required for IE to work */
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    border-radius: 0 0 4px 4px;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-active {
    border: 1px solid #5897fb;
    border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #5897fb;
}

.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    border-left: 1px solid #aaa;
    border-radius: 0 4px 4px 0;

    background-clip: padding-box;

}

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/select2.png') no-repeat 0 7px;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;
    border-radius: 0;

    -webkit-box-shadow: none;
    box-shadow: none;

}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('../images/select2-spinner.gif') no-repeat 100%;

}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #eee;
    width: 74% !important;

}
    .select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #5897fb;
    border-top-color: transparent;
}

.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}



.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}


.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('../images/select2-spinner.gif') no-repeat 100%;
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}


/* multiselect */

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;

    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(top, #eee 1%, #fff 15%);
}

.select2-locked {
    padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;

    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('../images/select2-spinner.gif') no-repeat 100% !important;
}

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    border-radius: 3px;

    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);

    background-clip: padding-box;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;

    font-size: 1px;
    outline: none;
    background: url('../images/select2.png') right top no-repeat;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
    background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {    display: none;
    background: none;
}
/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)  {
    .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
        background-image: url('../images/select2x2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 60px 40px !important;
    }
    .select2-search input {
        background-position: 100% -21px !important;
    }
}

/* UI Select ends here */



/* Responsive Design */

@media only screen and (max-width: 767px) {
    .left-nav {
        position: static !important;
    }
    .right-nav{
    left: 15px !important;
     }
}



