
<div class="main-right col-xs-9" ng-controller="paymentsById">
    <h3>Expense - {{vehicleNumber}}</h3>
    <div class="toolbar-button-div pull-right mb-10">
        &nbsp;
    </div>
    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="expenseParams">
        <tr ng-repeat="listOfExpensesByVehicleId in expensesByVehicleId" style="text-align: center;">
            <td data-title="'Date'" sortable="'regNumber'" class="clickable-item col-sm-2">
                {{listOfExpensesByVehicleId.date | date:'dd-MM-yyyy' }}
            </td>
            <td data-title="'Diesel'" sortable="'dieselExpense'" class="clickable-item col-sm-2">
                {{ listOfExpensesByVehicleId.attrs.expenseName == 'Diesel' ? listOfExpensesByVehicleId.cost : "0" }}
            </td>
            <td data-title="'Toll'" sortable="'tollExpense'" class="clickable-item col-sm-2">
                {{ listOfExpensesByVehicleId.attrs.expenseName == 'Toll' ? listOfExpensesByVehicleId.cost : "0" }}
                
            </td>

            <td data-title="'Maintenance'" sortable="'mExpense'" class="clickable-item col-sm-2">
                {{ listOfExpensesByVehicleId.attrs.expenseName == 'Maintenance' ? listOfExpensesByVehicleId.cost : "0" }}
            </td>
            
            <td data-title="'Miscellaneous'" sortable="'misc'" class="clickable-item col-sm-2" >
               <a href="#" ng-click="GetExpense(sravan)"></a>{{GetExpense(listOfExpensesByVehicleId.attrs.expenseName,listOfExpensesByVehicleId.cost)}}</a>
            </td>
           
        </tr>
        <tr ng-if="!expensesByVehicleId || expensesByVehicleId.length === 0">
            <td colspan="8">No Records exist.</td>
        </tr>
        <tr class="text-center">
            <td><b>Total</b></td>
            <td><b>{{totalExpenses.totalDieselExpense}}</b></td>
            <td><b>{{totalExpenses.totaltollExpense}}</b></td>
            <td><b>{{totalExpenses.totalmExpense}}</b></td>
            <td><b>{{totalExpenses.totalmisc}}</b></td>

        </tr>
    </table>
</div>
</div>

