
<div class="main-right col-xs-9" ng-controller="dashboardController">
    <h3>Expense by Vehicle</h3>
    <div class="toolbar-button-div pull-right mb-10">
        &nbsp;
    </div>
    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="expenseParams">
        <tr ng-repeat="expensesByVehicle in totalExpensesbyVehicle" style="text-align: center;">
            <td data-title="'Registration No'" sortable="'regNumber'" class="clickable-item col-sm-2">
                <a href="#"
                ng-click="gotoExpenseByVehicleId(expensesByVehicle.id)"> 
                  {{expensesByVehicle.regNumber }}</a>
            </td>
            <td data-title="'Diesel'" sortable="'dieselExpense'" class="clickable-item col-sm-2">
                {{ expensesByVehicle.exps[0].dieselExpense}}
            </td>
            <td data-title="'Toll'" sortable="'tollExpense'" class="clickable-item col-sm-2">
                {{ expensesByVehicle.exps[0].tollExpense}}
            </td>

            <td data-title="'Maintenance'" sortable="'mExpense'" class="clickable-item col-sm-2">
                {{ expensesByVehicle.exps[0].mExpense}}
            </td>
            
            <td data-title="'Miscellaneous'" sortable="'misc'" class="clickable-item col-sm-2">
                {{ expensesByVehicle.exps[0].misc}}
            </td>
           
        </tr>
        <tr ng-if="expensesByVehicle || expensesByVehicle.length === 0">
            <td colspan="8">No Records exist.</td>
        </tr>
    </table>
</div>
</div>

