
        <div class="main-right col-xs-12" ng-controller="dashboardController">
            <h3>Insurance Expiry Trucks List</h3>
            <div class="toolbar-button-div pull-right mb-10">
                &nbsp;
            </div>
            <table class="table table-bordered table-striped table-condensed table-hover" ng-table="paymentsParams">
                <tr ng-repeat="insuranceExpiryList in insuranceExpiryTrucksdata" style="text-align: center;">
                    <td data-title="'Registration No'" sortable="'registrationNo'" class="clickable-item col-sm-2">
                        {{insuranceExpiryList.registrationNo }}
                    </td>
                    <td data-title="'insurance Expiry Date'" sortable="'insuranceExpiry'" class="clickable-item col-sm-2">
                        {{ insuranceExpiryList.insuranceExpiry | date:'MM-dd-yyyy'}}
                    </td>
                </tr>
                <tr ng-if="!insuranceExpiryTrucksdata || insuranceExpiryTrucksdata.length === 0">
                    <td colspan="8">No Payments Records exist.</td>
                </tr>
            </table>
        </div>

