
        <div class="main-right col-xs-9" ng-controller="dashboardController">
            <h3>Permit Expiry Trucks List</h3>
            <div class="toolbar-button-div pull-right mb-10">
                &nbsp;
            </div>
            <table class="table table-bordered table-striped table-condensed table-hover" ng-table="paymentsParams">
                <tr ng-repeat="permitExpiryList in permitExpiryTrucksdata" style="text-align: center;">
                    <td data-title="'Registration No'" sortable="'registrationNo'" class="clickable-item col-sm-2">
                        {{permitExpiryList.registrationNo }}
                    </td>
                    <td data-title="'permit Expiry Date'" sortable="'permitExpiry'" class="clickable-item col-sm-2">
                        {{ permitExpiryList.permitExpiry | date:'MM-dd-yyyy'}}
                    </td>
                </tr>
                <tr ng-if="!permitExpiryTrucksdata || permitExpiryTrucksdata.length === 0">
                    <td colspan="8">No Payments Records exist.</td>
                </tr>
            </table>
        </div>
