<div class="main-right col-xs-12" ng-controller="AddEditTripCtrl">
    <div class="col-xs-12 account-edit">
        <h2 class="title-name">{{pagetitle}}</h2>
        <form class="mt-10" autocomplete="off">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group col-xs-12">
                    <div class="">
                        <date-picker id="permitExpiry" ng-model="trip.date" ban-future="'banFutureDate'"
                                     placeholder="'Trip Date*'" class="'custom-form-control'">
                        </date-picker>
                    </div>
                </div>

                <div class="form-group col-xs-12 styling-input-list">
                    <div class="trip-select-box search-box">
                        <ui-select ng-model="trip.registrationNo" theme="select2" ng-change="selectedTruckTonnage()"
                                   title="Choose a Truck" append-to-body="true">
                            <ui-select-match class="form-control custom-form-control">
                                {{$select.selected.registrationNo || truckRegNo}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="truck in trucks | propsFilter: {registrationNo: $select.search}">
                                <div ng-bind-html="truck.registrationNo | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <label class="focus-effect-for-input-trucks">Select a Truck*</label>
                    </div>
                    <div class="addingData">
                        <a href="#" ng-click="addTruckFromTrips();">+ Add Truck</a>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-xs-12 styling-input-list">
                    <div class="trip-select-box select-box ">
                        <ui-select ng-model="trip.driverId" theme="select2"
                                   title="Choose a person" append-to-body="true">
                            <ui-select-match class="form-control custom-form-control">
                                {{$select.selected.fullName || driverName}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="driver in drivers | propsFilter: {fullName: $select.search}">
                                <div ng-bind-html="driver.fullName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <label class="focus-effect-for-input-trucks">Driver Name</label>
                    </div>
                    <div class="addingData">
                        <a href="#" ng-click="addDriverFromTrip();">+ Add Driver </a>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="trip-select-box select-box">
                        <ui-select ng-model="trip.partyId" theme="select2"
                                   title="Choose a Party" append-to-body="true">
                            <ui-select-match class="form-control custom-form-control">
                                {{$select.selected.name || partyName}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="party in parties | propsFilter: {name: $select.search}">
                                <div ng-bind-html="party.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <label class="focus-effect-for-input-trucks">Select Party*</label>
                    </div>
                    <div class="addingData">
                        <a href="#" ng-click="addPartyFromTrip();">+ Add Party </a>
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <div class="styling-input-list">
                        <input ng-model="trip.source" type="text" class="form-control custom-form-control" id="source"
                               ng-change="searchSource()">
                        <label class="focus-effect-for-input" aria-hidden="true">Source</label>

                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <div class="styling-input-list">
                        <input ng-model="trip.destination" type="text" class="form-control custom-form-control"
                               id="destination"
                               ng-change="searchDestination()">
                        <label class="focus-effect-for-input" aria-hidden="true">Destination</label>

                    </div>
                </div>
                <div class="clearfix"></div>
                <h2 class="inner-title">Additional Charges</h2>
                <div class="form-group pos-relative" ng-repeat="exp in trip.expense">
                    <div class="col-xs-6">
                        <div class=" styling-input-list form-group">
                            <select class="form-control custom-form-control" ng-model="exp.type">
                                <option ng-repeat="e in expenses" value="{{e._id}}">{{e.expenseName}}</option>
                                <option value="others">Others</option>
                            </select>
                            <label class="focus-effect-for-input" aria-hidden="true">Type *</label>
                        </div>

                        <div class="styling-input-list form-group" ng-show="exp.type==='others'">
                            <input ng-model="exp.expenseName" type="text" class="form-control custom-form-control">
                            <label class="focus-effect-for-input" aria-hidden="true"> Type *</label>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <div class="styling-input-list">
                            <input ng-model="exp.amount" type="number" class="form-control custom-form-control">
                            <label class="focus-effect-for-input" aria-hidden="true">Amount*</label>
                        </div>
                    </div>
                        <a href="#" class="addingMaster" ng-click="addExpense()" ng-show="$index==0">
                            <i class="fa fa-plus-square"></i> </a>
                        <a href="#" class="addingMaster" ng-click="deleteExpense($index)" ng-show="$index>0">
                            <i class="fa fa-minus-square"></i> </a>
                        <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>

                <div class="form-group col-xs-12" ng-show="partyType=='Commission'">
                    <div class=" styling-input-list">
                        <input ng-model="trip.commission" type="number" class="form-control custom-form-control"
                               id="commission">
                        <label class="focus-effect-for-input" aria-hidden="true">Commission*</label>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="trip.tonnage" type="number" class="form-control custom-form-control"
                               id="tonnage">
                        <label class="focus-effect-for-input" aria-hidden="true">Tonnage</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="trip.rate" type="number" class="form-control custom-form-control"
                               id="rate">
                        <label class="focus-effect-for-input" aria-hidden="true">Rate</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="trip.deductAmount" type="number" class="form-control custom-form-control"
                               id="deductAmount">
                        <label class="focus-effect-for-input" aria-hidden="true">Deductions</label>

                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="trip.freightAmount" type="number" class="form-control custom-form-control"
                               id="freightAmount">
                        <label class="focus-effect-for-input" aria-hidden="true">Fight amount</label>

                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="trip.advanceAmount" type="number" class="form-control custom-form-control"
                               id="advanceAmount">
                        <label class="focus-effect-for-input" aria-hidden="true">Advance amount</label>

                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <textarea ng-model="trip.remarks" class="form-control custom-form-control"
                                  id="remarks"></textarea>
                        <label class="focus-effect-for-input" aria-hidden="true">Remarks</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" trip-share">
                        <div class="checkbox">
                            <label>
                                <input ng-model="trip.share" type="checkbox" checked>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Share
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-6 col-xs-push-3 margin-top-20">
                <div>
                    <div class="alert alert-danger" role="alert" ng-show="trip.errors.length">
                        <ul>
                            <li ng-repeat="error in trip.errors">{{error}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 mtb-25 sub-can">
                    <button type="submit" class="btn can" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn can last" ng-click="addOrUpdateTrip()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clearfix"></div>
<script type="text/ng-template" id="addTruck.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add Truck</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-9 popup-center">
                <div class="form-group col-xs-12">
                    <div class="styling-input-list">
                        <input type="text" class="form-control custom-form-control" ng-readonly="userType==='group'"
                               ng-disabled="userType==='group'" ng-model="truck.registrationNo"/>
                        <label class="focus-effect-for-input" aria-hidden="true">Truck Number *</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="styling-input-list">
                        <ui-select ng-model="truck.truckType" theme="select2"
                                   title="Choose a Truck Type" append-to-body="true">
                            <ui-select-match class="form-control custom-form-control">
                                {{$select.selected.title || title}} , {{$select.selected.tonnes || tonnes}} Tonnes
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="truck in truckTypesList | propsFilter: {title: $select.search}">
                                <b>
                                    <div ng-bind-html="truck.title | highlight: $select.search"></div>
                                </b>
                                <small>
                                    Tones: {{truck.tonnes || '---'}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                        <label class="focus-effect-for-input">Select Truck Type*</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="margin-top-20">
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="truck.errors.length">
                            <ul class="">
                                <li ng-repeat="error in truck.errors">{{error}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="addNewTruck();">Submit</button>
            <button class="btn btn-danger" type="button" ng-click="close();">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="addDriver.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Driver</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-9 popup-center">
                <div class="form-group col-xs-12">
                    <div class="styling-input-list">
                        <input ng-model="driver.fullName" type="text" class="form-control custom-form-control"
                               id="fullName">
                        <label class="focus-effect-for-input" aria-hidden="true">Full Name*</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="styling-input-list">
                        <input ng-model="driver.mobile" type="number" class="form-control custom-form-control"
                               id="mobile">
                        <label class="focus-effect-for-input" aria-hidden="true">Contact Number</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="margin-top-20">
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="driver.errors.length">
                            <ul class="">
                                <li ng-repeat="error in driver.errors">{{error}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="addNewDriver();">Submit</button>
            <button class="btn btn-danger" type="button" ng-click="close();">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="addParty.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Party</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-10 popup-center">
                <div class="form-group col-xs-12">
                    <div class="styling-input-list">
                        <input ng-model="party.name" type="text" class="form-control custom-form-control"
                               id="accountId">
                        <label class="focus-effect-for-input" aria-hidden="true">Party Name*</label>

                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="styling-input-list">
                        <input ng-model="party.contact" type="number" class="form-control custom-form-control"
                               id="contactPhone">
                        <label class="focus-effect-for-input" aria-hidden="true">Contact Phone*</label>

                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="styling-input-list">
                        <input ng-model="party.email" type="number" class="form-control custom-form-control"
                               id="email">
                        <label class="focus-effect-for-input" aria-hidden="true">Email</label>

                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group sms-email">
                        <div class="sms">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="party.isSms">
                                    <span class="cr ntfns">
                                        <i class="cr-icon ntfns-icon fa fa-check"></i>
                                    </span>
                                    SMS Notification
                                </label>
                            </div>
                        </div>
                        <div class="email">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="party.isEmail">
                                    <span class="cr ntfns">
                                        <i class="cr-icon ntfns-icon fa fa-check"></i>
                                    </span>
                                    Email Notification
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="margin-top-20">
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="party.errors.length">
                            <ul class="">
                                <li ng-repeat="error in party.errors">{{error}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="addNewParty();">Submit</button>
        <button class="btn btn-danger" type="button" ng-click="close();">Cancel</button>
    </div>
</script>
