<div class="main-right col-xs-12" ng-controller="AddEditTripCtrl">
    <div class="col-xs-12 account-edit">
        <h2 class="title-name">{{pagetitle}}</h2>
        <form class="mt-10" autocomplete="off">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group col-xs-12">
                    <div class="">
                        <date-picker id="permitExpiry" ng-model="trip.date" past-present="'pastPresentDate'"
                                     placeholder="'Trip Date*'" class="'custom-form-control'">
                        </date-picker>
                    </div>
                </div>

                <div class="form-group col-xs-12">
                    <div class=" select-box">
                        <ui-select ng-model="trip.registrationNo" theme="select2" ng-change="selectedTruckTonnage()"
                                   style="min-width: 390px;"
                                   title="Choose a Truck" append-to-body="true">
                            <ui-select-match class="form-control custom-form-control">
                                {{$select.selected.registrationNo || truckRegNo}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="truck in trucks | propsFilter: {registrationNo: $select.search}">
                                <div ng-bind-html="truck.registrationNo | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <label class="focus-effect-for-input-trucks">Select a Truck*</label>

                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-xs-12 styling-input-list">
                    <div class=" select-box ">
                        <ui-select ng-model="trip.driverId" theme="select2"
                                   style="min-width: 390px;"
                                   title="Choose a person" append-to-body="true">
                            <ui-select-match  class="form-control custom-form-control">
                                {{$select.selected.fullName || driverName}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="driver in drivers | propsFilter: {fullName: $select.search}">
                                <div ng-bind-html="driver.fullName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <label class="focus-effect-for-input-trucks">Driver Name*</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">

                    <div class=" select-box">
                        <ui-select ng-model="trip.partyId" theme="select2" ng-change="selectParty(trip)"
                                   style="min-width: 390px;"
                                   title="Choose a Party" append-to-body="true">
                            <ui-select-match class="form-control custom-form-control">
                                {{$select.selected.name || partyName}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="party in parties | propsFilter: {name: $select.search}" >
                                <div ng-bind-html="party.name | highlight: $select.search" ></div>
                            </ui-select-choices>
                        </ui-select>
                        <label class="focus-effect-for-input-trucks">Select Party*</label>

                    </div>
                </div>
                <div class="form-group col-xs-6" >
                    <div class="styling-input-list">
                        <input ng-model="trip.source" type="text" class="form-control custom-form-control" id="source"
                               ng-change="searchSource()">
                        <label class="focus-effect-for-input" aria-hidden="true">Source</label>

                    </div>
                </div>
                <div class="form-group col-xs-6" >
                    <div class="styling-input-list">
                        <input ng-model="trip.destination" type="text" class="form-control custom-form-control" id="destination"
                               ng-change="searchDestination()">
                        <label class="focus-effect-for-input" aria-hidden="true">Destination</label>

                    </div>
                </div>
                <div class="form-group col-xs-12" ng-show="partyType=='Commission'" >
                    <div class=" styling-input-list">
                        <input ng-model="trip.commission" type="number" class="form-control custom-form-control"
                               id="commission">
                        <label class="focus-effect-for-input" aria-hidden="true">Commission*</label>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="trip.tonnage" type="number" class="form-control custom-form-control"
                               id="tonnage" readonly>
                        <label class="focus-effect-for-input" aria-hidden="true">Tonnage*</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="trip.rate" type="number" class="form-control custom-form-control"
                               id="rate">
                        <label class="focus-effect-for-input" aria-hidden="true">Rate*</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="trip.freightAmount" type="number" class="form-control custom-form-control"
                               id="freightAmount" readonly >
                        <label class="focus-effect-for-input" aria-hidden="true">Fight amount</label>

                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <textarea ng-model="trip.remarks" class="form-control custom-form-control"
                                  id="remarks"></textarea>
                        <label class="focus-effect-for-input" aria-hidden="true">Remarks</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" trip-share">
                        <div class="checkbox">
                            <label>
                                <input ng-model="trip.share" type="checkbox" checked>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Share
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-6 col-xs-push-3 margin-top-20">
                <div>
                    <div class="alert alert-danger" role="alert" ng-show="trip.errors.length">
                        <ul>
                            <li ng-repeat="error in trip.errors">{{error}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 mtb-25 sub-can">
                    <button type="submit" class="btn can" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn can last" ng-click="addOrUpdateTrip()">Submit</button>
                </div>
            </div>
        </form>
    </div>


</div>
<div class="clearfix"></div>
