<div class="main-right col-xs-12" ng-controller="AddEditTripCtrl">
    <div class="col-xs-12 account-edit">
        <h2 class="title-name">{{pagetitle}}</h2>
        <form class="mt-10" autocomplete="off">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group col-xs-12">
                    <div class="col-xs-12">
                        <date-picker id="permitExpiry" ng-model="trip.date" past-present="'pastPresentDate'"
                                     placeholder="'Trip Date*'" class="'custom-form-control'">
                        </date-picker>
                    </div>
                </div>

                <div class="form-group col-xs-12">
                    <div class="col-xs-12 pos-relative">
                        <span class="bot-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        <input id="registrationNo" type="text" ng-model="truckRegNo"
                               uib-typeahead="truck.registrationNo for truck in trucks | filter:$viewValue"
                               class="form-control custom-form-control" typeahead-min-length="1"
                               typeahead-on-select="selectTruckId($item)"
                               typeahead-select-on-exact="true" placeholder="Vehicle Number*"
                               typeahead-no-results="noTrucks" autocomplete="false">

                        <div ng-show="noTrucks && truckRegNo.length" class="mt-5">
                            <i class="glyphicon glyphicon-remove red"></i>
                            <span class="red"> No Results Found </span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="col-xs-12 pos-relative">
                        <span class="bot-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        <input type="text" id="driverId" ng-model="driverId"
                               uib-typeahead="driver.fullName for driver in drivers | filter:$viewValue"
                               class="form-control custom-form-control" typeahead-min-length="1"
                               typeahead-on-select="selectTruckDriver($item);"
                               typeahead-select-on-exact="true" placeholder="Driver Name*"
                               typeahead-no-results="noDriver" autocomplete="false">
                        <div ng-show="noDriver">
                            <i class="glyphicon glyphicon-remove red"></i>
                            <span class="red"> No Results Found </span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12">

                    <div class="col-xs-12 pos-relative">
                        <span class="bot-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        <input type="text" id="bookedFor" ng-model="partyName"
                               uib-typeahead="party.name for party in parties | filter:$viewValue"
                               class="form-control custom-form-control" typeahead-min-length="1"
                               typeahead-on-select="selectParty($item);"
                               typeahead-select-on-exact="true" placeholder="Party Name*"
                               typeahead-no-results="noBooked" autocomplete="false">
                        <div ng-show="noBooked">
                            <i class="glyphicon glyphicon-remove red"></i>
                            <span class="red"> No Results Found </span>
                        </div>
                    </div>
                </div>

                <div class="form-group col-xs-12">
                    <div class="col-xs-12 pos-relative">
                        <span class="bot-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        <input id="tripLane" type="text" ng-model="trip.tripLane"
                               uib-typeahead="tripLane.name for tripLane in tripLanesList | filter:$viewValue"
                               class="form-control custom-form-control" typeahead-min-length="1"
                               typeahead-on-select="selectTripLane($item)"
                               typeahead-select-on-exact="true" typeahead-no-results="noTlane"
                               placeholder="Traip Lane*" autocomplete="false">

                        <div ng-show="noTlane">
                            <i class="glyphicon glyphicon-remove red"></i>
                            <span class="red"> No Results Found </span>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="form-group col-xs-12">
                    <div class="col-xs-12">
                        <input ng-model="trip.tonnage" type="number" class="form-control custom-form-control"
                               id="tonnage" placeholder="Tonnage*">
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="col-xs-12">
                        <input ng-model="trip.rate" type="number" class="form-control custom-form-control"
                               id="rate" placeholder="Rate*">
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="col-xs-12">
                        <input ng-model="trip.freightAmount" type="number" class="form-control custom-form-control"
                               id="freightAmount" placeholder="Freight Amount" readonly>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="col-xs-12">
                        <textarea ng-model="trip.remarks" class="form-control custom-form-control"
                                  id="remarks" placeholder="Remarks"></textarea>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="col-xs-12 trip-share">
                        <div class="checkbox">
                            <label>
                                <input ng-model="trip.share" type="checkbox" checked>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Share
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-4 col-xs-push-4 margin-top-20">
                <div>
                    <div class="alert alert-danger" role="alert" ng-show="trip.errors.length">
                        <ul>
                            <li ng-repeat="error in trip.errors">{{error}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 mtb-25 sub-can">
                    <button type="submit" class="btn can" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn can last" ng-click="addOrUpdateTrip()">Submit</button>
                </div>
            </div>
        </form>
    </div>


</div>
<div class="clearfix"></div>
