<div class="main-right col-xs-12" ng-controller="DriversListCtrl">

    <div class="col-xs-12 pall-zero mb-10">
        <div class="col-sm-3 pall-zero"><h3>Driver Details</h3></div>
        <ul class="col-sm-9 pall-zero list-inline">
            <li class="col-sm-6">
                <form>
                    <div class="input-group stylish-input-group">
                        <input type="text" ng-model="driver2" class="form-control" placeholder="Search by Driver Id and Name">
                        <span class="input-group-addon">
                        <button type="submit" ng-click="searchByDriverName(driver2)">
                           <i class="fa fa-search sear" aria-hidden="true"></i>
                        </button>
                    </span>
                    </div>
                </form>
            </li>
            <li class="col-sm-4 ">
                <div class="select-box erp-box">
                    <ui-select ng-model="driverName" theme="select2"
                               title="Choose a person" append-to-body="true"
                               ng-change="searchByDriverName(driverName.fullName);">
                        <ui-select-match placeholder=" Select a Driver" class="form-control ui-select-control">
                            {{$select.selected.fullName || fullName}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="drivers in driversList  | propsFilter: {fullName: $select.search}">
                            <div ng-bind-html="drivers.fullName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </li>
            <li class="col-sm-1">
                <button type="button" ng-click="shareDetailsViaEmail()"
                        class="btn mailImage"><img src="images/Reports_Mail.png">
                </button>
            </li>
            <li class="col-sm-1">
                <button type="button" ng-click="downloadDetails();" class="btn mailImage">
                    <img src="images/Reports_Download.png"></button>
            </li>
        </ul>
    </div>
    <div class="mt-10">
        <table class="table table-bordered table-striped table-condensed table-hover"
               ng-table="driverParams">
            <tr ng-repeat="drivers in currentPageOfDrivers" style="text-align: center;">
                <td data-title="'S No'">{{ (driverParams.page() - 1) * driverParams.count() + $index + 1 }}</td>
                <td data-title="'Driver ID'" sortable="'driverId'" class="clickable-item">
                    {{drivers.driverId}}
                </td>
                <td data-title="'Name'" sortable="'fullName'" class="clickable-item">{{
                    drivers.fullName || '--'}}
                </td>
                <td data-title="'Mobile'" sortable="'mobile'" class="clickable-item">{{
                    drivers.mobile || '--' }}
                </td>
                <td data-title="'V No'" sortable="'truckId'" class="clickable-item">{{
                    drivers.truckId.registrationNo  || '--'| uppercase }}
                </td>
                <td data-title="'Salary'" sortable="'salary'" class="clickable-item">{{
                    drivers.salary || '--'}}
                </td>
                <td data-title="'License'" sortable="'licenseNumber'" class="clickable-item">{{
                    drivers.licenseNumber || '--' }}
                </td>
                <td data-title="'Validity'" sortable="'licenseValidity'" class="clickable-item">{{
                    drivers.licenseValidity || '--' | date:'dd-MM-yyyy'
                    }}
                </td>
                <td data-title="'Created By'" sortable="'createdByName'"
                    class="clickable-item">{{ drivers.attrs.createdByName }}
                </td>

                <td data-title="'Action'" class="col-sm-2">
                    <a href="#" ng-show="userType=='account' || userId==drivers.createdBy" class="btn"
                       ng-click="goToEditDriverPage(drivers._id)">
                        <span class="glyphicon glyphicon-pencil"></span></a>

                    <a href="#" ng-show="userType=='account' || userId==drivers.createdBy" class="btn"
                       ng-click="deleteDriver(drivers._id)">

                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            <tr ng-if="!currentPageOfDrivers || currentPageOfDrivers.length === 0">
                <td colspan="9">No drivers Records exist.</td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="add-image pull-right">
        <figure>
            <a href="#" ng-click="goToEditDriverPage()"><img src="images/Add_Driver.png" alt="Add Driver"
                                                             title="Add Driver"></a>
        </figure>
    </div>
</div>
