
<div class="container-fluid" ng-controller="AddEditDriverCtrl">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>


        <div class="main-right col-xs-9">
            <div class="col-xs-6 account-edit">
                <h2 class="login-heading">Add Driver</h2>
                <form ng-submit="addOrUpdateAccount()" class="margin-top-20">
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input ng-model="driver.fullName" type="text" class="form-control" id="fullName" placeholder="Driver full name">
                    </div>

                    <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input ng-model="driver.mobile" type="text" class="form-control" id="mobile"
                               placeholder="Mobile Number">
                    </div>

                    <div class="form-group">
                        <label for="truckId">Truck Registration Number</label>
                        <select ng-model="driver.truckId" ng-options="truck._id as truck.registrationNo for truck in trucks" type="text" class="form-control" id="truckId">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="licenseValidity">License Validity</label>
                        <date-picker id="licenseValidity" ng-model="driver.licenseValidity"></date-picker>
                    </div>

                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input ng-model="driver.salary.value" type="text" class="form-control" id="salary" placeholder="Salary">
                    </div>

                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="driver.errors.length">
                            <ul>
                                <li ng-repeat="error in driver.errors">{{error}}</li>
                            </ul>
                        </div>
                        <div class="alert alert-success" role="alert" ng-show="driver.success.length">
                            <ul>
                                <li ng-repeat="success in driver.success">{{success}}</li>
                            </ul>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="addOrSaveDriver()">Submit</button>
                        <input type="button" value="Cancel" class="btn btn-primary" ng-click="cancel()"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>