<div class="main-right col-xs-12" ng-controller="expenseEditController">
    <div class="col-xs-12 account-edit">
        <h2 class="title-name">{{pagetitle}}</h2>
        <form class="mt-10">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group col-xs-12">
                    <div class="col-xs-12">
                        <date-picker id="date" ban-future="'banFutureDate'"
                                     ng-model="expenseDetails.date" placeholder="'Date*'"
                                     class="'custom-form-control'"></date-picker>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" col-xs-12 pos-relative">
                        <span class="bot-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        <input type="text" ng-model="truckRegNo"
                               uib-typeahead="truck.registrationNo for truck in trucks | filter:$viewValue"
                               class="form-control custom-form-control" typeahead-min-length="1"
                               typeahead-on-select="selectTruckId($item)"
                               typeahead-select-on-exact="true" placeholder="Vehicle Number*"
                               typeahead-no-results="noTrucks" autocomplete="false">
                        <div ng-show="noTrucks">
                            <i class="glyphicon glyphicon-remove red"></i>
                            <span class="red"> No Results Found </span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="col-xs-12 pos-relative">
                        <span class="bot-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                        <select class="form-control custom-form-control" ng-model="expenseTitle">
                            <option value="">Select Expense Type*</option>
                            <option selected>Select Expense Type*</option>
                        </select>
                        <div class="pull-right">
                            <button class="btn add-group mt-20" ng-click="addExpenseType()">add more</button>
                        </div>
                    </div>
                </div>
                <div ng-show="addExpenseTypeField">
                    <div class="form-group col-xs-12">
                        <div class="col-xs-12">
                            <input type="text" class="form-control custom-form-control"
                                   id="name" placeholder="Expense Type*">
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            <button class="btn add-group pull-right">Add</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group col-xs-12">
                    <div class="col-xs-12 trip-share">
                        <ul class="list-inline">
                            <li class="radio">
                                <label>
                                    <input ng-model="expenseDetails.mode" type="radio"  id="Credit" value="Credit">
                                    <span class="cr"><i class="rad-icon fa fa-circle"></i></i></span>
                                    Credit
                                </label>
                            </li>
                            <li class="radio">
                                <label>
                                    <input ng-model="expenseDetails.mode" type="radio"  id="Cash" value="Cash">
                                    <span class="cr"><i class="rad-icon fa fa-circle"></i></span>
                                    Cash
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="col-xs-12">
                        <input ng-model="expenseDetails.cost" type="number" class="form-control custom-form-control"
                               id="amount" placeholder="Amount*"></div>
                </div>
                <div class="form-group col-xs-12">
                    <div class="col-xs-12">
                        <input ng-model="expenseDetails.description" type="text"
                               class="form-control custom-form-control" id="description" placeholder="Remarks">
                    </div>
                </div>
                <div class="form-group col-xs-12" ng-if="expenseTitle == 'Other'">
                    <label for="expenseName" class="col-xs-12 col-sm-4 pall-zero">Other Expense</label>
                    <div class="col-xs-12">
                        <input ng-model="expenseDetails.expenseName" type="text"
                               class="form-control custom-form-control" id="expenseName" placeholder="Other Expenses">
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-xs-4 col-xs-push-4">

                <div class="alert alert-danger" role="alert" ng-show="expenseDetails.error.length">
                    <ul>
                        <li ng-repeat="error in expenseDetails.error">{{error}}</li>
                    </ul>
                </div>
                <div class="alert alert-success" role="alert" ng-show="expenseDetails.success.length">
                    <ul>
                        <li ng-repeat="success in expenseDetails.success">{{success}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 mtb-25 sub-can">
                    <button type="submit" class="btn can" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn can last" ng-click="AddorUpdateExpense()">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
