<div class="mainRight col-xs-12" ng-controller="expensesSheetController">
    <div class="row">
        <div class="col-sm-3">
            <h3>Expenses Sheet</h3>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-3">
                <ui-select ng-model="expensesSheetsDetails.registrationNo" theme="select2"
                           title="Choose a person" append-to-body="true">
                    <ui-select-match placeholder=" Select a Truck" class="form-control">
                        {{$select.selected.registrationNo || registrationNo}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="trucks in trucksList">
                        <div ng-bind-html="trucks.registrationNo | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div>
                <ul class="list-inline report-expense">
                    <li class="filterFromDate" style="width: 29%;">
                        <date-picker ng-model="fromDate" past-present="'pastPresentDate'"
                                     class="'textfield'" placeholder="'from date'">
                        </date-picker>
                    </li>
                    <li class="filterToDate" style="width: 29%;">
                        <date-picker ng-model="toDate" past-present="'pastPresentDate'"
                                     class="'textfield'" placeholder="'to date'"></date-picker>
                    </li>
                    <li class="col-sm-1 pall-zero">
                        <button type="submit"
                                ng-click="validateFilters(expensesSheetsDetails.registrationNo._id, fromDate, toDate );"
                                class="btn go" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-search sear" aria-hidden="true"></i>
                        </button>
                    </li>
                    <!--<li class="col-sm-1 pall-zero">-->
                    <!--<button type="button" ng-click="printArea( )" class="btn mailImage">-->
                    <!--<i class="fa fa-print fa-2x" aria-hidden="true"></i>-->
                    <!--</button>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-20">
        <div class="col-sm-1">
            <button type="button" class="btn btn-default" ng-click="previousDay()"><i
                    class="glyphicon glyphicon-chevron-left"></i></button>
        </div>

        <div class="col-sm-2 mb-10 pall-zero">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened"
                       datepicker-options="dateOptions" ng-required="true" close-text="Close"
                       style="height: 34px !important;" ng-change="getAllExpensesSheets(dt)"/>
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default" ng-click="nextDay()"><i
                    class="glyphicon glyphicon-chevron-right"></i></button>
        </div>

        <div class="pull-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#createNewExpense">New Expense</button>
            <button class="btn btn-primary" ng-click="saveAll()"> Save</button>
        </div>
    </div>

    <div style="width: 972px;overflow-x: auto;">
        <table class="table table-bordered table-striped table-condensed table-hover table-responsive" style="width: 1200px;">
        <tr>
            <th>S No {{expense.registrationNo}}</th>
            <th>Vehicle No</th>
            <th>From</th>
            <th>To</th>
            <th>Party</th>
            <th>Driver Name</th>
            <th>Diesel Slip</th>
            <th>Diesel Amount</th>
            <th>Cash</th>
            <th>Payment Type</th>
            <th>LR No</th>
            <th>Unloading Date</th>
            <th>Remarks</th>
        </tr>
        <tr style="text-align: center;" ng-repeat="expensesSheet in expensesSheetsDetails">
            <td>{{$index+1}}</td>
            <td>{{expensesSheet.vehicleNo || '---'}}</td>
            <td class="col-sm-1">{{expensesSheet.from || '---'}}</td>
            <td class="col-sm-1">{{expensesSheet.to || '---'}}</td>
            <td class="col-sm-1">{{expensesSheet.partyName || '---'}}</td>
            <td> {{expensesSheet.driverName || '---'}}</td>
            <td class="col-sm-1">
                <input type="text" class="form-control" ng-model="expensesSheet.dieselSlip">
            </td>
            <td class="col-sm-1">
                <input type="number" class="form-control" ng-model="expensesSheet.dieselAmount" value="0" min="0">
            </td>
            <td class="col-sm-2">
                <input type="number" class="form-control" ng-model="expensesSheet.cash" value="0" min="0">
            </td>
            <td class="col-sm-1">
                <label><input type="checkbox" ng-model="expensesSheet.throughOnline" value=""/>
                    Paid through Online</label>
            </td>
            <td class="col-sm-1">
                <input type="text" class="form-control" ng-model="expensesSheet.lrNo">
            </td>
            <td class="col-sm-1">
                <input type="text" class="form-control" ng-model="expensesSheet.unloadingDate">
            </td>
            <td class="col-sm-2">
                <input type="text" class="form-control" ng-model="expensesSheet.remarks">
            </td>
        </tr>
        <tr ng-if="expensesSheetsDetails.length == 0">
            <td colspan="13">No Records Found</td>
        </tr>
        <tr>
            <td colspan="7"><b>Total</b></td>
            <td><b>{{dieselTotal}}</b></td>
            <td><b>{{cashTotal}}</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </div>
    <div class="clearfix"></div>
    <div class="row mt-20">
        <div class="col-sm-4">
            <ul class="col-sm-3 list-inline expenseSheetTotals">
                <li>Advance:</li>
            </ul>
            <ul class="list-inline col-sm-9 mb-7">
                <li><input type="number" class="form-control" ng-model="totalAmounts[0].advanceAmount"
                           ng-change="fullAmounts(totalAmounts[0].advanceAmount)"></li>
            </ul>
        </div>
        <div class="col-sm-5 pull-right">
            <ul class="list-inline col-sm-6 expenseSheetTotals">
                <li>Opening Balance</li>
                <li>Advance</li>
                <li>Total</li>
                <li>Expenditure</li>
                <li>ClosingBalance</li>
            </ul>
            <ul class="col-sm-6 mb-7">
                <li><input type="number" class="form-control" ng-model="totalAmounts[0].openingBalance" disabled
                           min="0"></li>
                <li><input type="number" class="form-control" ng-model="totalAmounts[0].advanceAmount" disabled min="0">
                </li>
                <li><input type="number" class="form-control" ng-model="totalAmounts[0].totalAmount" disabled min="0">
                </li>
                <li><input type="number" class="form-control" ng-model="totalAmounts[0].expenditureAmount" disabled>
                </li>
                <li><input type="number" class="form-control" ng-model="totalAmounts[0].closingBalance" disabled></li>
            </ul>
        </div>
    </div>
    <div class="center-block" style="width: 60%;">
        <!--<div class="alert alert-danger" role="alert" ng-show="errors.length">-->
        <!--<ul>-->
        <!--<li ng-repeat="error in errors">{{error}}</li>-->
        <!--</ul>-->
        <!--</div>-->
    </div>

    <div class="col-sm-12">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="saveAll()">Save</button>
        </div>
    </div>


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content sheet-content">
                <div class="modal-header">
                    <div class="row">
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->

                        <h4 class="modal-title col-sm-5"><b>Expenses Sheet Report - {{expenseSheetReports[0].vehicleNo}}</b></h4>
                        <!--<div class="pall-zero col-sm-5">-->
                        <!--<b> <a href="#"-->
                        <!--ng-click="downloadTripSheetReport(tripSheets.registrationNo._id, fromDate, toDate );">Download-->
                        <!--Report</a></b>-->
                        <!--</div>-->
                        <div class="col-sm-2 pull-right">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="height: 450px;overflow: auto;">
                    <table class="table table-bordered table-striped table-condensed table-hover mt-20"
                           ng-show="validateTable">
                        <tr>
                            <th>S No</th>
                            <th>Date</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Party Name</th>
                            <th>Driver Name</th>
                            <th>Diesel Slip</th>
                            <th>Diesel Amount</th>
                        </tr>
                        <tr ng-repeat="report in expenseSheetReports"
                            style="text-align: center;">
                            <td>{{$index+1}}</td>
                            <td>{{report.date || '---'}}</td>
                            <td>{{report.from || '---'}}</td>
                            <td>{{report.to || '---'}}</td>
                            <td>{{report.partyName || '---'}}</td>
                            <td>{{report.driverName || '---'}}</td>
                            <td>{{report.dieselSlip || '---'}}</td>
                            <td>{{report.dieselAmount || '---'}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="createNewExpense" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Expense</h4>
                </div>
                <div class="modal-body col-sm-10 dis-center">
           <!--         <div class="form-group col-xs-12">
                        <label class="col-sm-5 control-label">Vehicle No*:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="newExpense.vehicleNo" placeholder="Enter Vehicle No">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-5 control-label">From:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="newExpense.from" placeholder="Enter From">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-5 control-label">To:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="newExpense.to" placeholder="Enter To">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-5 control-label">Party Name*:</label>
                        <div class="col-sm-7">
                            <ui-select ng-model="newExpense.partyId" theme="select2" title="Choose a Party"
                                       append-to-body="true">
                                <ui-select-match placeholder=" Select a Party" class="form-control">
                                    {{$select.selected.name || sheet.partyName}}
                                </ui-select-match>
                                <ui-select-choices repeat="party in parties | propsFilter: {name: $select.search}">
                                    <div ng-bind-html="party.name | highlight: $select.search">
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-5 control-label">Driver Name:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="newExpense.driverName" placeholder="Enter Driver Name">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-5 control-label">Diesel Slip:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="newExpense.dieselSlip" placeholder="Enter Diesel Slip">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-5 control-label">LR No:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="newExpense.lrNo" placeholder="LR No">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-5 control-label">Unloading Date</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" ng-model="newExpense.date" placeholder="Unloading Date">
                        </div>
                    </div>-->
                    <div class="form-group col-xs-12" style="display: none;">
                        <label class="col-sm-5 control-label">Diesel Amount:</label>
                        <div class="col-sm-7">
                            <input type="hidden" value="0" class="form-control" ng-model="newExpense.dieselAmount" placeholder="Enter Diesel Amount">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-4 control-label">Cash:</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" ng-model="newExpense.cash" placeholder="Enter Cash">
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-4 control-label">Payment Type:</label>
                        <div class="col-sm-8">
                            <input type="checkbox" ng-model="newExpense.throughOnline" value="">
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <label class="col-sm-4 control-label">Remarks</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" ng-model="newExpense.remarks" rows="5" placeholder="Enter Description"></textarea>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="saveNewExpense()">Save
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="clearfix"></div>

        </div>

    </div>


</div>
