<div class="main-right col-xs-12" ng-controller="expenseEditController">
    <div class="col-xs-12 account-edit">
        <h2 class="title-name">{{pagetitle}}</h2>
        <form class="mt-10">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group col-xs-12">
                    <div class="">
                        <date-picker id="date" ban-future="'banFutureDate'" ng-model="expenseDetails.date"
                                     placeholder="'Date*'" class="'custom-form-control'"></date-picker>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" select-box">
                        <ui-select ng-model="expenseDetails.vehicleNumber" theme="select2"
                                   style="min-width: 390px;"
                                   title="Choose a Truck" append-to-body="true">
                            <ui-select-match placeholder="Select a Truck*" class="form-control custom-form-control">
                                {{$select.selected.registrationNo || truckRegNo}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="truck in trucks | propsFilter: {registrationNo: $select.search}">
                                <div ng-bind-html="truck.registrationNo | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" pos-relative">
                        <span class="bot-arrow">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                        <select class="form-control custom-form-control" ng-model="expenseDetails.expenseType">
                            <option value="" selected>Select Expense Type*</option>
                            <option ng-repeat="e in expenses" value="{{e._id}}">{{e.expenseName}}</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                </div>
                <div ng-show="expenseDetails.expenseType=='others'">
                    <div class="form-group col-xs-12">
                        <div class="">
                            <input type="text" ng-model="expenseDetails.expenseName"
                                   class="form-control custom-form-control" id="name" placeholder="Expense Type*">

                        </div>
                    </div>

                </div>

            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group col-xs-12">
                    <div class=" trip-share">
                        <ul class="list-inline">
                            <li class="radio">
                                <label>
                                    <input ng-model="expenseDetails.mode" type="radio" id="Credit" value="Credit">
                                    <span class="cr">
                                        <i class="rad-icon fa fa-circle"></i>
                                    </span>
                                    Credit
                                </label>
                            </li>
                            <li class="radio">
                                <label>
                                    <input ng-model="expenseDetails.mode" type="radio" id="Cash" value="Cash">
                                    <span class="cr">
                                        <i class="rad-icon fa fa-circle"></i>
                                    </span>
                                    Cash
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="expenseDetails.mode == 'Credit'">
                <div class="form-group col-xs-12">
                    <div class="">
                        <input type="text" ng-model="partyName"
                               uib-typeahead="party.name for party in partyBySupplier | filter:$viewValue"
                               class="form-control custom-form-control" typeahead-min-length="1"
                               typeahead-on-select="selectPartyId($item)"
                               typeahead-select-on-exact="true"
                               typeahead-no-results="noParty" autocomplete="false" placeholder="Party Name*">
                        <div ng-show="noParty">
                            <i class="glyphicon glyphicon-remove red"></i>
                            <span class="red"> No Results Found </span>
                        </div>
                    </div>
                </div>
                    <div class="form-group col-xs-12">
                        <div class=" styling-input-list">
                            <input type="number" class="form-control custom-form-control" ng-model="expenseDetails.totalAmount"/>
                            <label class="focus-effect-for-input" aria-hidden="true">Total Amount*</label>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="col-xs-12 styling-input-list">
                            <input type="number" class="form-control custom-form-control" ng-model="expenseDetails.paidAmount"/>
                            <label class="focus-effect-for-input" aria-hidden="true">Paid Amount*</label>

                        </div>
                    </div>
                </div>


                <div class="form-group col-xs-12" ng-show="expenseDetails.mode == 'Cash'">
                    <div class=" styling-input-list">
                        <input type="number" class="form-control custom-form-control" ng-model="expenseDetails.cost"/>
                        <label class="focus-effect-for-input" aria-hidden="true">Total Amount*</label>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="expenseDetails.description" type="text"
                               class="form-control custom-form-control" id="description">
                        <label class="focus-effect-for-input" aria-hidden="true">Remarks</label>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
            <div class="col-xs-6 col-xs-push-3">

                <div class="alert alert-danger" role="alert" ng-show="expenseDetails.error.length">
                    <ul>
                        <li ng-repeat="error in expenseDetails.error">{{error}}</li>
                    </ul>
                </div>
                <div class="alert alert-success" role="alert" ng-show="expenseDetails.success.length">
                    <ul>
                        <li ng-repeat="success in expenseDetails.success">{{success}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 mtb-25 sub-can">
                    <button type="submit" class="btn can" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn can last" ng-click="AddorUpdateExpense()">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>