<div class="col-xs-12 newCust" ng-controller="loadRequestCtrl" ng-init="getTruckTypes();getAllAccountsExceptTruckOwners();">
    <h4>{{title}}</h4>
    <div class="col-xs-12">
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpen">
                <uib-accordion-heading>
                    Load Details <i class="pull-right glyphicon"
                                     ng-class="{'glyphicon-chevron-down': status.isOpen,
                                     'glyphicon-chevron-right': !status.isOpen}"></i>
                </uib-accordion-heading>
                <div class="row pos-relative top-border">
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control order-form-control " name="source"
                                   ng-model="loadRequest.sourceAddress" id="searchSource{{$index}}"
                                   ng-change="editSearchSource($index)"/>
                            <label class="order-effect-for-input">Source *</label>
                        </div>
                        <div class="form-group pos-relative styling-input-list" ng-repeat="destination in loadRequest.destination">
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control custom-form-control" name="destination"
                                       ng-model="destination.destinationAddress" id="searchDestination{{$index}}"
                                       ng-change="editSearchDestination($index)"/>
                                <label class="focus-effect-for-input">Destination *</label>
                            </div>
                            <div class="form-group styling-input-list">
                                <input type="text" class="form-control order-form-control " name="state"
                                       ng-model="destination.price" id="price" />
                                <label class="order-effect-for-input">Price *</label>
                            </div>
                            <span class="plus-pos" ng-show="$index >= 1">
                                <i class="fa fa-times-circle clr-red"
                                   ng-click="deleteDestinationAndPriceEdit($index)"></i></span>
                            <span class="plus-pos" ng-show="$index == 0">
                                <i class="fa fa-plus-square" aria-hidden="true"
                                   ng-click="addDestinationAndPriceEdit($index)"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <select class="form-control order-form-control"
                                    ng-model="loadRequest.truckType">
                                <option value="">Truck Type *</option>
                                <option ng-repeat="truckType in truckTypesList">
                                    {{truckType.title}}/{{truckType.tonnes}}Tons
                                </option>

                            </select>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control order-form-control " name="registrationNo"
                                   ng-model="loadRequest.registrationNo" id="registrationNo" />
                            <label class="order-effect-for-input">Registration No *</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control order-form-control " name="makeYear"
                                   ng-model="loadRequest.makeYear" id="makeYear" />
                            <label class="order-effect-for-input">Make Year</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <admin-date-picker id="dateAvailable" ng-model="loadRequest.dateAvailable" placeholder="'Date Time Available'"
                                               class="'form-control order-form-control'"></admin-date-picker>
                        </div>
                        <div class="form-group">
                            <admin-date-picker id="expectedDateReturn" ng-model="loadRequest.expectedDateReturn" placeholder="'Expected Date Return'"
                                               class="'form-control order-form-control'"></admin-date-picker>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control order-form-control" name="driverInfo"
                                   ng-model="loadRequest.driverInfo"/>
                            <label class="order-effect-for-input">Driver Info / Comment</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>

        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenTwo">
                <uib-accordion-heading>
                    Customer Details <i class="pull-right glyphicon"
                                        ng-class="{'glyphicon-chevron-down': status.isOpenTwo, 'glyphicon-chevron-right': !status.isOpenTwo}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="firstName"
                                   ng-model="loadRequest.customerDetails.firstName" readonly/>
                            <label class="focus-effect-for-input">Full Name*</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="contactPhone"
                                   ng-model="loadRequest.customerDetails.contactPhone" readonly/>
                            <label class="focus-effect-for-input">Mobile*</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="email"
                                   ng-model="loadRequest.customerDetails.email" readonly/>
                            <label class="focus-effect-for-input">Email</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="address"
                                   ng-model="loadRequest.customerDetails.address" readonly/>
                            <label class="focus-effect-for-input">Address</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="company"
                                   ng-model="loadRequest.customerDetails.companyName" readonly/>
                            <label class="focus-effect-for-input">Company</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="state"
                                   ng-model="loadRequest.customerDetails.state" readonly/>
                            <label class="focus-effect-for-input">State</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="city"
                                   ng-model="loadRequest.customerDetails.city" readonly/>
                            <label class="focus-effect-for-input">City</label>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <div class="col-xs-12 save-btns">
            <a href="#" class="btn btn-danger" ng-click="cancel()">Cancel</a>
            <a href="#" class="btn btn-primary" ng-click="updateLoadRequest()">Submit</a>
        </div>
    </div>
</div>