<div ng-controller="loadRequestCtrl" ng-init="countLoadRequest()">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">Load Request</li>
        <li class="pull-right">
            <button class="btn btn-primary" ui-sref="orderprocess.createLoadRequest">Create New</button>
        </li>
        <li class="pull-right col-xs-2">
            <select class="form-control">
                <option>Select</option>
                <option>Qualified</option>
                <option>Request for Approval</option>
                <option>Initiate</option>
                <option>Callback</option>
                <option>Duplicate</option>
                <option>Junk Lead</option>
                <option>Language Barrier</option>
                <option>Not Interested</option>
            </select>
        </li>
    </ul>
    <div class="clearfix"></div>
    <table class="table table-bordered table-striped table-condensed table-hover mt-20 text-center"
           ng-table="loadRequestParams">
        <tbody>
        <tr ng-repeat="load in currentPageOfLoadRequests">
            <!--<td data-title="'S No'" class="col-sm-1">{{$index+1}}</td>-->
            <td data-title="'S.No'" class="clickable-item col-sm-1">
                {{$index+1}}
            </td>
            <td data-title="'Customer Name'" sortable="'firstName'" class="clickable-item col-sm-1">
                {{load.firstName}}
            </td>
            <td data-title="'mobile'" sortable="'contactPhone'" class="clickable-item col-sm-1">{{load.contactPhone}}</td>
            <td data-title="'Truck No'" sortable="'registrationNo'" class="clickable-item col-sm-1">{{load.registrationNo}}</td>
            <td data-title="'Make Year'" sortable="'makeYear'" class="clickable-item col-sm-1">{{load.makeYear}}</td>
            <td data-title="'Source'" sortable="'sourceAddress'" class="clickable-item col-sm-1">{{load.sourceAddress}}</td>
            <td data-title="'Destination / Price'" sortable="'destinationAddress'" class="clickable-item col-sm-1">
                <span ng-repeat="destination in load.destination">{{destination.destinationAddress}} / Rs.{{destination.price}}<br /></span></td>
            <td data-title="'Date'" sortable="'dateAvailable'" class="clickable-item col-sm-1">{{load.dateAvailable | date:'dd-MM-yyyy'}}</td>
            <td data-title="'Status'" sortable="'Status'" class="clickable-item col-sm-1">{{load.status || 'NA'}}</td>

            <td data-title="'Action'" class="col-sm-1">
                <a href="#" ui-sref="orderprocess.editLoadRequest({loadRequestId:load._id})" class="edit_icon">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" ng-click="deleteLoadRequest(load._id)" class="delete_icon">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr ng-if="!currentPageOfLoadRequests || currentPageOfLoadRequests.length === 0">
            <td colspan="8">No Loads exist.</td>
        </tr>
        </tbody>
    </table>
</div>