<div class="col-xs-12 newCust" ng-controller="viewOrderCtrl">
    <h4>Edit Order Request</h4>
    <div class="col-xs-12">
        <div class="tabs-title">
            <ul class="nav nav-tabs">
                <li><a href="#" ui-sref="orderprocess.editOrderRequest({orderId:orderDetails._id})">Truck Owner
                    Billing</a></li>
                <li class="active"><a href="#" ui-sref="orderprocess.loadOwnerBilling">Load Owner Billing</a></li>
            </ul>
        </div>
        <div class="active col-xs-12" ng-init="loadOwnerInfo();">
            <uib-accordion>
                <div uib-accordion-group class="panel-default pos-relative" is-open="status.isOpen">
                    <uib-accordion-heading>
                        Load Owner Billing <i class="pull-right glyphicon"
                                              ng-class="{'glyphicon-chevron-down': status.isOpen,
                                           'glyphicon-chevron-right': !status.isOpen}"></i>
                    </uib-accordion-heading>
                    <a href="#" class="print-icon" ng-click="printLoadOwnerBill();"><span class="glyphicon glyphicon-print"></span></a>
                    <div class="row truckinfomain">
                        <div class="truckinfo">
                            <p><b>{{orderDetails.orderId}} Given Commission: 1000.00 | Expected Commission: 0 | Obtained
                                Commission:
                                0</b></p>
                            <div class="truckOwnerInfo col-sm-4">
                                <p><b>Load Owner Info: {{orderDetails.orderId}}</b></p>
                                <ul class="list-inline">
                                    <li><b>Name:</b> {{orderDetails.loadOwnerDetails.firstName || '---'}}</li>
                                    <li><b>Mobile:</b> {{orderDetails.loadOwnerDetails.contactPhone || '---'}}</li>
                                    <li><b>Email:</b> {{orderDetails.loadOwnerDetails.email || '---'}}</li>
                                </ul>
                            </div>
                            <div class="truckOwnerInfo col-sm-4">
                                <p><b>Load Owner Company Info:</b></p>
                                <ul class="list-inline">
                                    <li><b>Company:</b> {{orderDetails.loadOwnerDetails.companyName || '---'}}</li>
                                    <li><b>Address:</b> {{orderDetails.loadOwnerDetails.contactAddress || '---'}}</li>
                                    <li><b>City:</b> {{orderDetails.loadOwnerDetails.city || '---'}}</li>
                                    <li><b>State:</b> {{orderDetails.loadOwnerDetails.state || '---'}}</li>
                                </ul>
                            </div>
                            <div class="truckOwnerInfo col-sm-4">
                                <p><b>Load Agent Info:</b></p>
                                <ul class="list-inline">
                                    <li><b>Name:</b> {{orderDetails.loadingAgentNo || '---'}}</li>
                                    <li><b>Mobile:</b> {{orderDetails.loadingAgentNumber || '---'}}</li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 perTransct">
                            <ul class="list-inline">
                                <li class="pull-left"><b>Load Owner Billing</b></li>
                                <li class="pull-right">
                                    <button class="btn btn-primary" ng-click="truckPayment('Load Owner')">New</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <table class="table table-hover">
                                    <thead>
                                    <th>Date</th>
                                    <th>Comment</th>
                                    <th>Prefix</th>
                                    <th>Amount</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="payments in paymentsDetails.payments">
                                        <td>{{payments.createdAt | date:'dd-MM-yyyy'}}</td>
                                        <td>{{payments.comment}}</td>
                                        <td>{{payments.prefix}}</td>
                                        <td><i class="fa fa-inr"></i> {{payments.amount}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><b>Total</b></td>
                                        <td><b><i class="fa fa-inr"></i> {{paymentsDetails.total}}.00</b></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p><b>NOTE:</b> +:You receive Money from load owner,-:you pay Money to load owner</p>
                            </div>
                        </div>

                        <div class="col-xs-12 perTransct">
                            <ul class="list-inline">
                                <li class="pull-left"><b>Load Owner Transactions</b></li>
                                <li class="pull-right">
                                    <button class="btn btn-primary" ng-click="truckTransaction('Load Owner')">New
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <table class="table table-hover">
                                    <thead>
                                    <th>Date</th>
                                    <th>Comment</th>
                                    <th>Payment By</th>
                                    <th>Payment Type</th>
                                    <th>Prefix</th>
                                    <th>Amount</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="transacDetails in transactionsDetails.transactions">
                                        <td>{{transacDetails.createdAt | date:'dd-MM-yyyy'}}</td>
                                        <td>{{transacDetails.comment}}</td>
                                        <td>{{transacDetails.paymentBy.firstName || 'NA'}}</td>
                                        <td>{{transacDetails.paymentType || 'NA'}}</td>
                                        <td>{{transacDetails.prefix}}</td>
                                        <td><i class="fa fa-inr"></i> {{transacDetails.amount}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><b>Total</b></td>
                                        <td><b><i class="fa fa-inr"></i> {{transactionsDetails.total}}.00</b></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="col-xs-12 perTransct">
                            <ul class="list-inline">
                                <li class="pull-left"><b>Update Status</b></li>
                                <li class="pull-right">
                                    <button class="btn btn-primary" ng-click="addOrderComment('Load Owner')">New
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <table class="table table-hover">
                                    <thead>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Comment</th>
                                    <th>Notify</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="comment in comments">
                                        <td>{{comment.createdAt | date:'dd-MM-yyyy'}}</td>
                                        <td>{{comment.status}}</td>
                                        <td>{{comment.comment}}</td>
                                        <td>{{comment.notify}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion>
            <uib-accordion>
                <div uib-accordion-group class="panel-default" is-open="status.isOpenOne">
                    <uib-accordion-heading>
                        Truck Booking Details <i class="pull-right glyphicon"
                                                 ng-class="{'glyphicon-chevron-down': status.isOpenOne,
                                        'glyphicon-chevron-right': !status.isOpenOne}"></i>
                    </uib-accordion-heading>
                    <div class="row truckBooking">
                        <div class="col-sm-4 col-xs-12">
                            <ul class="list-inline">
                                <li><b>Date Ordered:</b> {{orderDetails.dateOfOrder | date:'dd-MM-yyyy'}}</li>
                                <li><b>Order Status:</b> {{orderDetails.status}}</li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <ul class="list-inline">
                                <li><b>Date Available:</b> 21-06-2016 05:00 AM</li>
                                <li><b>Tracking Available:</b> Yes</li>
                                <li><b>Insurance Available:</b>No</li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <ul class="list-inline">
                                <li><b>Pickup Point:</b> {{orderDetails.source}}</li>
                                <li><b>Pickup Date/Time:</b> {{orderDetails.pickupDate | date:'dd-MM-yyyy'}}</li>
                                <li><b>Goods Type:</b> All</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group styling-input-list">
                                <input class="form-control order-form-control" type="text"
                                       ng-model="orderDetails.source"/>
                                <label class="order-effect-for-input">Source Address*</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group styling-input-list">
                                <input class="form-control order-form-control" type="text"
                                       ng-model="orderDetails.destination"/>
                                <label class="order-effect-for-input">Destination Address*</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group styling-input-list">
                                <input class="form-control order-form-control" type="text"
                                       ng-model="orderDetails.payableAmount"/>
                                <label class="order-effect-for-input">Payable Amount</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group styling-input-list">
                                <input class="form-control order-form-control" type="text"
                                       ng-model="orderDetails.truckType"/>
                                <label class="order-effect-for-input">Truck Type*</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group styling-input-list">
                                <input class="form-control order-form-control" type="text"
                                       ng-model="orderDetails.registrationNo"/>
                                <label class="order-effect-for-input">Truck Reg No*</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group styling-input-list">
                                <input class="form-control order-form-control" type="text"
                                       ng-model="orderDetails.driverName"/>
                                <label class="order-effect-for-input">Driver Name</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group styling-input-list">
                                <input class="form-control order-form-control" type="text"
                                       ng-model="orderDetails.driverMobile"/>
                                <label class="order-effect-for-input">Driver Mobile</label>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
        <div class="col-xs-12 save-btns">
            <a href="#" class="btn btn-danger" ng-click="cancel()">Cancel</a>
            <a href="#" class="btn btn-primary" ng-click="updateOrderProcess()">Submit</a>
        </div>
        <script type="text/ng-template" id="addPayment.html">
            <div class="modal-header">
                <h3 class="modal-title">Add Payment</h3>
                <span class="close-btn" ng-click="cancel()"><i class="fa fa-close"></i></span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-6 col-xs-12">
                        <select class="form-control order-form-control" ng-model="initAddTruckPayment.comment"
                                ng-change="paymentCommentPrefix();">
                            <option value="" selected>--Comment--</option>
                            <option ng-repeat="comments in paymentComments" value="{{comments}}">
                                {{comments.comment}}({{comments.prefix}})
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <input type="text" class="form-control order-form-control" ng-model="initAddTruckPayment.amount"
                               placeholder="Amount *"/>
                    </div>

                    <div class="col-sm-12 text-center">
                        <input type="button" class="btn btn-primary" value="Submit" ng-click="addTruckPayment()"/>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="addTransaction.html">
            <div class="modal-header">
                <h3 class="modal-title">Add Transaction</h3>
                <span class="close-btn" ng-click="cancel()"><i class="fa fa-close"></i></span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <select class="form-control order-form-control" ng-model="transaction.comment">
                                <option value="" selected>--Comment--</option>
                                <option ng-repeat="comments in transactionComments" value="{{comments}}">
                                    {{comments.comment}}({{comments.prefix}})
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control order-form-control" ng-model="transaction.paymentType">
                                <option value="" selected>&#45;&#45;Payment Type&#45;&#45;</option>
                                <option value="Cash">Cash</option>
                                <option value="Cheque">Cheque</option>
                                <option value="Account Transfer">Account Transfer</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control order-form-control" ng-model="transaction.amount"
                                   placeholder="Amount *"/>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control order-form-control"
                                   ng-model="transaction.transactionDate"
                                   placeholder="Transaction Date *"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-show="transaction.paymentType=='Cheque'">
                            <input type="text" class="form-control order-form-control" ng-model="transaction.chequeNo"
                                   placeholder="Cheque No *"/>
                        </div>
                        <div class="form-group" ng-show="transaction.paymentType=='Cash'">
                            <select class="form-control order-form-control" ng-model="transaction.paymentBy">
                                <option value="" selected>--Payment By--</option>
                                <option ng-repeat="employee in employessList" value="employee._id">
                                    {{employee.firstName}}
                                </option>

                            </select>
                        </div>
                        <div class="form-group" ng-show="transaction.paymentType=='Account Transfer'">
                            <select class="form-control order-form-control" ng-model="transaction.bank">
                                <option value="" selected>--Select Bank--</option>
                                <option value="SBI">SBI</option>
                                <option value="ICICI">ICICI</option>
                                <option value="HDFC">HDFC</option>
                                <option value="AXIS">AXIS</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center">
                        <input type="button" class="btn btn-primary" value="Submit" ng-click="addOrderTransaction()"/>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="addOrderComment.html">
            <div class="modal-header">
                <h3 class="modal-title">Add Commnet</h3>
                <span class="close-btn" ng-click="cancel()"><i class="fa fa-close"></i></span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                    <textarea class="form-control" ng-model="comment.comment"
                              placeholder="Comment..." rows="4"></textarea>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="'YES'" ng-false-value="'NO'"
                                           ng-model="comment.notify"/>
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                    Notify Customer
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control order-form-control" ng-model="comment.status">
                                <option value="" selected>--Select--</option>
                                <option value="Pending">Pending</option>
                                <option value="Rejected">Rejected</option>
                                <option value="Processing">Processing</option>
                                <option value="Delivered">Delivered</option>
                                <option value="Pending Pod">Pending Pod</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <input type="button" class="btn btn-primary" value="Submit" ng-click="addOrderComment()"/>
                    </div>
                </div>
            </div>
        </script>
    </div>
</div>
