<div ng-controller="orderProcessCtrl" ng-init="numOfTruckRequest()">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">Truck Request</li>
        <li class="pull-right">
            <button class="btn btn-primary" ui-sref="orderprocess.createTruckRequest">Create New</button>
        </li>
        <li class="pull-right col-xs-2">
            <select class="form-control">
                <option>Select</option>
                <option>Qualified</option>
                <option>Request for Approval</option>
                <option>Initiate</option>
                <option>Callback</option>
                <option>Duplicate</option>
                <option>Junk Lead</option>
                <option>Language Barrier</option>
                <option>Not Interested</option>
            </select>
        </li>
    </ul>
    <div class="clearfix"></div>
    <table class="table table-bordered table-striped table-condensed table-hover mt-20 text-center"
           ng-table="requestTruckParams">
        <tbody>
        <tr ng-repeat="truck in truckRequestsList">
            <td data-title="'S No'">{{$index+1}}</td>
            <td data-title="'Title'" sortable="'title'" class="clickable-item">{{truck.title}}</td>
            <td data-title="'Customer Name'" sortable="'type'" class="clickable-item">{{truck.customerName}}</td>
            <td data-title="'Source'" sortable="'date'" class="clickable-item">{{truck.source}}</td>
            <td data-title="'Destination'" sortable="'yes'" class="clickable-item">{{truck.destination}}</td>
            <td data-title="'Truck Type'" sortable="'truckType'" class="clickable-item">{{truck.truckType.title}}</td>
            <!--<td data-title="'Goods Type'" sortable="'goodsType'" class="clickable-item col-sm-1">{{truck.goodsType}}</td>-->
            <td data-title="'Estimated Price'" sortable="'goodsType'" class="clickable-item">{{truck.expectedPrice}}</td>
            <td data-title="'Approved'" sortable="'load'" class="clickable-item">{{truck.load}}</td>
            <td data-title="'Status'" sortable="'Status'" class="clickable-item">{{truck.status || 'NA'}}</td>

            <td data-title="'Action'">
                <a href="#" ui-sref="orderprocess.editTruckRequest({_id:truck._id})" class="edit_icon">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" ng-click="deleteTruckRequest(truck._id)" class="delete_icon">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <tr ng-if="!truckRequestsList || truckRequestsList.length === 0">
            <td colspan="8">No Trucks exist.</td>
        </tr>
        </tbody>
    </table>
</div>