<ul class="list-inline title-ul">
    <li class="pull-left name-head">Truck Request</li>
    <li class="pull-right">
        <button class="btn btn-primary" ui-sref="orderprocess.createTruckRequest">Create New</button>
    </li>
    <li class="pull-right col-xs-2">
        <select class="form-control">
            <option>Select</option>
            <option>Qualified</option>
            <option>Request for Approval</option>
            <option>Initiate</option>
            <option>Callback</option>
            <option>Duplicate</option>
            <option>Junk Lead</option>
            <option>Language Barrier</option>
            <option>Not Interested</option>
        </select>
    </li>
    <div class="clearfix"></div>
</ul>
<table class="table table-bordered table-responsive mt-20">
    <thead>
    <tr>
        <th>S No</th>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Type</th>
        <th>Mobile</th>
        <th>Reg Date</th>
        <th>is Lead</th>
        <th>ERP</th>
        <th>GPS</th>
        <th>Load</th>
        <th>Lead Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>TO</td>
        <td>9618485858</td>
        <td>01/05/2017</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>Yes</td>
        <td class="col-xs-2"> <select class="form-control">
            <option ng-repeat="item in leadStatus">{{item}}</option>
        </select></td>
        <td>Edit/Delete</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>TO</td>
        <td>9618485858</td>
        <td>01/05/2017</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>Yes</td>
        <td class="col-xs-2"> <select class="form-control">
            <option ng-repeat="item in leadStatus">{{item}}</option>
        </select></td>
        <td>Edit/Delete</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>TO</td>
        <td>9618485858</td>
        <td>01/05/2017</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>Yes</td>
        <td class="col-xs-2"> <select class="form-control">
            <option ng-repeat="item in leadStatus">{{item}}</option>
        </select></td>
        <td>Edit/Delete</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>TO</td>
        <td>9618485858</td>
        <td>01/05/2017</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>Yes</td>
        <td class="col-xs-2"> <select class="form-control">
            <option ng-repeat="item in leadStatus">{{item}}</option>
        </select></td>
        <td>Edit/Delete</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>TO</td>
        <td>9618485858</td>
        <td>01/05/2017</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>Yes</td>
        <td class="col-xs-2"> <select class="form-control">
            <option ng-repeat="item in leadStatus">{{item}}</option>
        </select></td>
        <td>Edit/Delete</td>
    </tr>
    </tbody>
</table>