<div class="main-right col-xs-12" ng-controller="TripSheetCtrl">
    <div class="row">
        <div class="col-sm-4">
            <h3>Trip Sheet</h3>
        </div>
        <div class="col-sm-4">
            <ui-select ng-model="tripSheets.registrationNo" theme="select2"
                       title="Choose a person" append-to-body="true">
                <ui-select-match placeholder=" Select a Truck" class="form-control ui-select-control">
                    {{$select.selected.registrationNo || registrationNo}}
                </ui-select-match>
                <ui-select-choices
                        repeat="trucks in trucksList  | propsFilter: {registrationNo: $select.search}">
                    <div ng-bind-html="trucks.registrationNo | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="col-sm-3 mb-10 pall-zero">
            <date-picker id="permitExpiry" ng-model="tripSheets.date" placeholder="'Select Date*'"
                         class="'textfield'" past-present="'pastPresentDate'">
            </date-picker>
        </div>
        <span class="col-sm-1 pall-zero">
            <button type="submit" ng-click="getAllTripssheets(tripSheets.date);" class="btn go">
                                <i class="fa fa-search sear" aria-hidden="true"></i>
                            </button>
        </span>
    </div>
    <div class="col-sm-12">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="saveAll()"> Save</button>
        </div>
    </div>


    <table class="table table-bordered table-striped table-condensed table-hover">
        <tr>
            <th>S No</th>
            <th>Registration No</th>
            <th>loading Point</th>
            <th>Unloading Point</th>
            <th>Party Name</th>
        </tr>
        <tr ng-repeat="sheet in tripSheets | filter:{registrationNo: tripSheets.registrationNo}" style="text-align: center;">
            <td class="col-sm-1">{{$index+1}}</td>
            <td class="col-sm-1">{{sheet.registrationNo | uppercase}}</td>
            <td class="col-sm-2">
                <div class=" pos-relative">
                        <span class="bot-arrow">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                    <!--<select class="form-control" ng-model="sheet.loadingPoint">-->
                        <!--<option ng-repeat="points in loadingPoints" value="{{points.loadingPoint}}">{{points.loadingPoint}}</option>-->
                    <!--</select>-->

                    <select  class="form-control"  ng-model="sheet.loadingPoint"
                            ng-options="p.loadingPoint for p in loadingPoints track by p._id"  >
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="mt-5" ng-show="sheet.loadingPoint.loadingPoint === 'other'" >
                    <input type="text" class="form-control" name="others"
                           ng-model="sheet.loadingPointOthers"
                           placeholder="Loading Point">
                </div>
            </td>
            <td class="col-sm-2">
                <div class=" pos-relative">
                        <span class="bot-arrow">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                    <select  class="form-control"  ng-model="sheet.unloadingPoint"
                             ng-options="q.unloadingPoint for q in unloadingPoints track by q._id"  ng-disabled="sheet.loadingPoint.loadingPoint != 'other'"">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="mt-5"  ng-show="sheet.unloadingPoint.unloadingPoint === 'other'">
                    <input type="text" class="form-control" name="others"
                           ng-model="sheet.unloadingPointOthers"
                          placeholder="Unloading Point">
                </div>
            </td>
            <td class="col-sm-2">
                <ui-select ng-model="sheet.partyId" theme="select2" title="Choose a Party"
                           append-to-body="true" style="width: 250px;" ng-disabled = "sheet.loadingPoint.loadingPoint != 'other'">
                    <ui-select-match placeholder=" Select a Party" class="form-control" style="height: 42px;text-align: left;">
                        {{$select.selected.name || partyName}}
                    </ui-select-match>
                    <ui-select-choices repeat="party in parties | propsFilter: {name: $select.search}">
                        <div ng-bind-html="party.name | highlight: $select.search">
                        </div>
                    </ui-select-choices>
                </ui-select>
            </td>
        </tr>
    </table>


    <div class="print-invoice" style="display: none">
        <head>
            <title>Easygaadi Invoice</title>
            <style>
                table {
                    border-collapse: collapse;
                    text-align: center;
                    width: 100%;

                }

                table, td, th {

                    border: 1px solid black;
                }

                td {
                    padding: 5px 0px 5px 8px;
                }
            </style>

        </head>
        <body>
        <div class="logo"></div>
        <div class="container">
            <table>
                <tr>
                    <td colspan="2"><span style="font-size: 20px">{{print.accDetails.userName}}</span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span style="font-size: 18px">Address: {{print.accDetails.address1}},{{print.accDetails.address2}}</span>
                        <span style="font-size: 18px">Phone:{{print.accDetails.contactPhone || 'NA'}}  Email:{{print.accDetails.email || 'NA'}}</span>
                    </td>

                </tr>
                <tr>
                    <td colspan="2"><span style="font-size: 22px"><b>Invoice for trip details</b></span></td>
                </tr>
                <tr>
                    <td>GST No:{{print.accDetails.GST || 'NA'}}</td>
                    <td>GST Rate:{{print.accDetails.GSTRate || 'NA'}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span><b>Customer Details</b></span>
                    </td>
                </tr>
                <tr style="text-align: left">
                    <td colspan="2">
                        Name:{{print.partyDetails.name}}
                    </td>
                </tr>
                <tr style="text-align: left">
                    <td colspan="2">
                        Phone:{{print.partyDetails.contact || 'NA'}}
                    </td>
                </tr>
                <tr style="text-align: left">
                    <td colspan="2">
                        Email:{{print.partyDetails.email || 'NA'}}
                    </td>
                </tr>
                <tr style="text-align: left">
                    <td colspan="2">
                        Address:{{print.partyDetails.city || 'NA'}}
                    </td>
                </tr>
                <tr style="text-align: left">
                    <td colspan="2">
                        GST No:{{print.partyDetails.gstNo || 'NA'}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><b>Trip Details</b></td>
                </tr>
                <tr style="text-align: left">
                    <td>Trip ID : {{print.tripDetails.tripId || 'NA'}}</td>
                    <td>Vechicle No : {{print.tripDetails.registrationNo.registrationNo || 'NA'}}</td>
                </tr>
                <tr style="text-align: left">
                    <td>Source : {{print.tripDetails.sourceAddress || 'NA'}}</td>
                    <td>Destination : {{print.tripDetails.destinationAddress || 'NA'}}</td>
                </tr>
                <tr style="text-align: left">
                    <td>Tonnes :{{print.tripDetails.tonnage || 'NA'}}</td>
                    <td>Rate : {{print.tripDetails.rate || 'NA'}}</td>
                </tr>
                <tr style="text-align: left">
                    <td><b>Amount : </b></td>
                    <td>{{print.tripDetails.freightAmount || 'NA'}}</td>

                </tr>
                <tr style="text-align: left">
                    <td><b>Additional Charges : </b></td>
                    <td>{{print.tripDetails.totalExpense || 0}}</td>

                </tr>

                <tr style="text-align: left">
                    <td><b>Paid Amount : </b></td>
                    <td>{{print.tripDetails.advanceAmount || '0'}}</td>

                </tr>
                <tr style="text-align: left">
                    <td><b>Total Amount : </b></td>
                    <td>{{print.tripDetails.totalAmount-print.tripDetails.advanceAmount || 0}}</td>

                </tr>
            </table>


        </div>
        </body>

    </div>
</div>
