
        <div class="main-right col-xs-12" ng-controller="TrucksController">

            <div class="col-xs-12 pall-zero mb-10">
                <div class="col-sm-3 pall-zero"><h3>Trucks</h3></div>
                <div class="col-xs-8 col-xs-push-1 pall-zero">
                <div class="col-sm-8">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon">
                        <button type="submit">
                           <i class="fa fa-search sear" aria-hidden="true"></i>
                        </button>
                    </span>
                    </div>
                </div>
                <div class="col-sm-4 pall-zero pos-relative">
                    <span class="bot-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    <select class="form-control">
                        <option value="" selected>All Vehicles</option>
                        <option ng-repeat="trucks in currentPageOfTrucks">{{trucks.registrationNo}}</option>
                    </select>
                </div>
                </div>
            </div>


            <table class="table table-bordered table-striped table-condensed table-hover" ng-table="truckParams">
                <tr ng-repeat="trucks in currentPageOfTrucks" style="text-align: center;">
                    <td data-title="'Reg No'" sortable="'registrationNo'" class="clickable-item col-sm-1">
                        {{trucks.registrationNo}}
                    </td>
                    <!--<td data-title="'TruckType'" sortable="'truckType'" class="clickable-item col-sm-1">{{-->
                        <!--trucks.truckType}}-->
                    <!--</td>-->
                    <!--<td data-title="'Tonnage'" sortable="'tonnage'" class="clickable-item col-sm-1">{{-->
                        <!--trucks.tonnage }}-->
                    <!--</td>-->
                    <td data-title="'Permit'" sortable="'permitExpiry'" class="clickable-item col-sm-1">{{
                        trucks.permitExpiry | date:'yyyy-MM-dd'
                        }}
                    </td>
                    <td data-title="'Pollution'" sortable="'pollutionExpiry'" class="clickable-item col-sm-1">{{
                        trucks.pollutionExpiry | date:'yyyy-MM-dd' }}
                    </td>
                    <td data-title="'Insurance'" sortable="'insuranceExpiry'" class="clickable-item col-sm-1">{{
                        trucks.insuranceExpiry | date:'yyyy-MM-dd' }}
                    </td>
                    <td data-title="'Fitness'" sortable="'fitnessExpiry'" class="clickable-item col-sm-1">{{
                        trucks.fitnessExpiry | date:'yyyy-MM-dd' }}
                    </td>
                    <td data-title="'Driver'" sortable="'fullName'" class="clickable-item col-sm-1">{{
                        trucks.attrs.fullName }}
                    </td>
                    <td data-title="'Driver Num'" sortable="'mobile'" class="clickable-item col-sm-1">{{
                        trucks.attrs.mobile }}
                    </td>
                    <td data-title="'Created By'" sortable="'createdByName'"
                        class="clickable-item col-sm-1">{{ trucks.attrs.createdByName }}
                    </td>
                    <td data-title="'Action'" class="col-sm-1">
                        <a href="#" class="btn" ng-click="goToEditTruckPage(trucks._id)">
                            <span class="glyphicon glyphicon-pencil"></span></a>

                        <a href="#" class="btn" ng-click="deleteTruck(trucks._id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                <tr ng-if="!currentPageOfTrucks || currentPageOfTrucks.length === 0">
                    <td colspan="8">No trucks Records exist.</td>
                </tr>
            </table>
            <div class="add-image pull-right">
                <figure>
                    <a href="#"  ng-click="goToEditTruckPage()"><img src="images/Add_Truck.png" alt="Add Truck" title="Add Truck"></a>
                </figure>
            </div>

        </div>


