<div class="main-right col-xs-12" ng-controller="inventoryController">
    <div class="col-xs-12 account-edit">
        <h2 class="title-name ">{{pageTitle}}</h2>
        <div class="col-sm-6 col-xs-12 mt-10">
            <div class="form-group col-xs-12">
                <div class="styling-input-list">
                    <input type="text" class="form-control custom-form-control" ng-readonly="userType==='group'"
                           ng-disabled="userType==='group'" ng-model="inventory.id"/>
                    <label class="focus-effect-for-input" aria-hidden="true">Inventory Id *</label>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="styling-input-list">
                    <input type="text" class="form-control custom-form-control" ng-readonly="userType==='group'"
                           ng-disabled="userType==='group'" ng-model="inventory.name"/>
                    <label class="focus-effect-for-input" aria-hidden="true">Inventory Name *</label>
                </div>

           
            </div>
           
        </div>
        <div class="col-sm-6 col-xs-12 mt-10">
            <div class="form-group col-xs-12">
                <date-picker ng-moduel="inventory.purdate"
                             class="'custom-form-control'" placeholder="'purchase date'"></date-picker>
            </div>
            <div class="form-group col-xs-12">
                <date-picker  ng-model="inventory.insdate"
                           class="'custom-form-control'" placeholder="'Installation dates'"></date-picker>
            </div>
            
            
            
        </div>
        <div class="clearfix"></div>

        

        <div class="col-xs-12">
            <div class="col-xs-4 mtb-25 sub-can">
                <button type="submit" class="btn can" ng-click="goToTrucksPage()">Cancel</button>
                <button type="submit" class="btn can  last" ng-click="addorupdateinventory()">Submit</button>
            </div>
        </div>
    </div>


</div>