<div class="col-xs-12" ng-controller="GpsSettingsCrtl">
    <div class="col-xs-12">
        <div class="col-xs-12 profile-page">
            <div class="col-xs-9 profile-tabs">
                <div class="top-block">
                    <ul class="list-inline">
                        <li><a href="#" ui-sref="gpsSettings" class="activeProfileTab">GPS</a></li>
                        <li><a href="#" ui-sref="reportsSettings">Reports</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-6  mt-20">
                    <div class="col-xs-12 pall-zero gps-settings">
                        <h3>GPS Settings</h3>
                        <div class="form-group">
                            <div class="col-xs-12 styling-input-list">
                                <input type="text" ng-model="gpsSettingsParams.idleTime" class="form-control custom-form-control">
                                <label class="focus-effect-for-input" aria-hidden="true">Min Stop Duration 10</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 pall-zero">
                        <div class="form-group">
                            <div class="col-xs-12 styling-input-list">
                                <input type="text" ng-model="gpsSettingsParams.overSpeedLimit" class="form-control custom-form-control">
                                <label class="focus-effect-for-input" aria-hidden="true">Over Speed Limit KMPH</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 pall-zero">
                        <div class="form-group">
                            <div class="col-xs-12 styling-input-list">
                                <input type="text" ng-model="gpsSettingsParams.routeNotificationInterval" class="form-control custom-form-control">
                                <label class="focus-effect-for-input" aria-hidden="true">Route Notification
                                    Interval</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 pall-zero">
                        <div class="form-group">
                            <div class="col-xs-12 styling-input-list">
                                <input type="text" ng-model="gpsSettingsParams.stopTime" class="form-control custom-form-control">
                                <label class="focus-effect-for-input" aria-hidden="true">Stop Alert Time</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 pall-zero">
                        <button class="btn can last" ng-click="updateGpsSettings()" type="submit">Submit</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6  mt-20">
                    <div class="gpssettings-right">
                        <uib-accordion close-others="oneAtATime">
                            <div uib-accordion-group class="panel-default" is-open="status.open">
                                <uib-accordion-heading>
                                    <h3>Set Operating Routes</h3>
                                    <i class="pull-right glyphicon plus-icon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
                                </uib-accordion-heading>
                                <div class="form-group">
                                    <div class="col-xs-12 styling-input-list">
                                        <input type="text" class="form-control custom-form-control">
                                        <label class="focus-effect-for-input" aria-hidden="true">Min Stops Duration
                                            10</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 styling-input-list">
                                        <input type="text" class="form-control custom-form-control">
                                        <label class="focus-effect-for-input" aria-hidden="true">Over Speed Limit
                                            KMPH</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </uib-accordion>
                    </div>
                    <div class="">
                        <button class="btn can" type="reset">clear</button>
                        <button class="btn can last" type="submit">Submit</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="userEmail">
                        <p> testuser@gmail.com</p>
                    </div>
                    <div class="">
                        <input type="text" class="form-control" placeholder="secret key" ng-model="secretkey">
                        <input type="text" class="form-control mt-5" placeholder="Email" ng-model="email">
                        <button class="btn btn-danger mt-20" type="submit" ng-click="addSecret()">Add Secret Key</button>
                        <button class="btn btn-primary pull-right mt-20" type="submit" ui-sref="secretKeys">View Secret Keys</button>
                    </div>
                    <div ng-show="secretkeyerror">
                        {{secretkeyerror}}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>