<div class="col-xs-12" ng-controller="LeftNavCtrl">
    <div class="col-xs-12">
        <div class="col-xs-12 profile-page">
            <div class="col-xs-9 profile-tabs">
                <div class="top-block">
                    <ul class="list-inline">
                        <li><a href="#" ui-sref="gpsSettings" class="activeProfileTab">GPS</a></li>
                        <li><a href="#" ui-sref="reportsSettings">Reports</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>