<div class="permission" ng-controller="accessPermissionCtrl" ng-init="adminRolesDropDown();">
    <div class="col-sm-12 roleTable" style="width: 1000px;overflow-x: scroll;">
        <table class="table table-res table-bordered rolesTable">
            <thead>
            <tr>
                <th style="text-align: left;border-right: 1px solid #ccc;">Modules</th>
                <th style="text-align: left;border-right: 1px solid #ccc;">Sub Modules</th>
                <th ng-repeat="role in roles">{{role.role}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="module in modulesFormatted" ng-init="i = $index">
                <!-- {{module.span}} -->
                <td rowspan="{{module.span}}" ng-if="module.showMainModule"
                    style="text-align: left;border-right: 1px solid #ccc;vertical-align: middle">{{module.parentModule}}
                </td>
                <td style="text-align: left;border-right: 1px solid #ccc;vertical-align: middle">{{module.subModule}}</td>
                <td ng-repeat="role in roles" ng-init="j = $index" style="text-align: center;">
                    <div class="permissions" style="display: inline-block;text-align: center">
                        <p>View</p>
                        <input type="checkbox" ng-model="modulesAccessArray[(roles.length*i)+j].v">
                    </div>
                    <div class="permissions" style="display: inline-block;text-align: center;padding-left: 20px;">
                        <p>Edit</p>
                        <input type="checkbox" ng-model="modulesAccessArray[(roles.length*i)+j].e">
                    </div>
                   <!-- <div class="permissions">
                        <p>Update</p>
                        <input type="checkbox" ng-model="modulesAccessArray[(roles.length*i)+j].u">
                    </div>
                    <div class="permissions">
                        <p>Delete</p>
                        <input type="checkbox" ng-model="modulesAccessArray[(roles.length*i)+j].d">
                    </div>-->
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row text-center">
            <button class="btn btn-primary" ng-click="permissionsSave()">Submit</button>
        </div>
    </div>
</div>