    <ul class="list-inline title-ul">
        <li class="pull-left name-head">Administrators</li>
        <li class="pull-right">
            <button class="btn btn-primary" ui-sref="createAdministrator">Create New</button>
        </li>
        <li class="pull-right col-xs-2">
            <select class="form-control">
                <option>Select by Role</option>
                <option>Qualified</option>
                <option>Request for Approval</option>
                <option>Initiate</option>
                <option>Callback</option>
                <option>Duplicate</option>
                <option>Junk Lead</option>
                <option>Language Barrier</option>
                <option>Not Interested</option>
            </select>
        </li>
        <div class="clearfix"></div>
    </ul>
    <table class="table table-bordered table-striped table-condensed table-hover ng-table-responsive"
           ng-table="employeeParams">
        <thead>
        <tr>
            <th>S No</th>
            <th>Contact Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>City</th>
            <th>State</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>2889</td>
            <td>Sravan Kumar</td>
            <td>TO</td>
            <td>9618485858</td>
            <td>01/05/2017</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
            <td>Edit/Delete</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2889</td>
            <td>Sravan Kumar</td>
            <td>TO</td>
            <td>9618485858</td>
            <td>01/05/2017</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
            <td>Edit/Delete</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2889</td>
            <td>Sravan Kumar</td>
            <td>TO</td>
            <td>9618485858</td>
            <td>01/05/2017</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
            <td>Edit/Delete</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2889</td>
            <td>Sravan Kumar</td>
            <td>TO</td>
            <td>9618485858</td>
            <td>01/05/2017</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
            <td>Edit/Delete</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2889</td>
            <td>Sravan Kumar</td>
            <td>TO</td>
            <td>9618485858</td>
            <td>01/05/2017</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
            <td>Edit/Delete</td>
        </tr>
        </tbody>
    </table>
