<div class="col-xs-12 cus-main" ng-controller="administratorsCtrl">
    <ul class="list-inline custom-ul">
        <li ui-sref-active="activated"><a href="#" ui-sref="admin.administrators">Administrators</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="admin.adminRoles">Admin Roles</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="admin.accessPermission">Access Permission</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="admin.adminLogHistory">Admin Log History</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="admin.franchises">Franchise</a></li>
        <li >
            <button class="btn btn-primary" ng-click="syncAccountsToUserLogins()">SyncToUserLogins</button>
        </li>
        <!--<li >-->
            <!--<button class="btn btn-primary" ng-click="syncDatabase()">SyncAccounts</button>-->
        <!--</li>-->
    </ul>
    <button>
    <ui-view></ui-view>

</div>
