<div class="col-xs-12 cus-main">
    <ul class="list-inline custom-ul">
        <li ui-sref-active="activated"><a href="#" ui-sref="admin.administrators">Administrators</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="admin.adminRoles">Admin Roles</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="admin.adminLogHistory">Admin Log History</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="admin.franchise">Franchise</a></li>
        <li class="col-xs-3 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </li>

    </ul>
    <ui-view></ui-view>
</div>
