<div ng-controller="administratorsCtrl" ng-init="countEmployee();adminRolesDropDown()">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">Administrators
        </li>
        <li class="pull-right">
            <button class="btn btn-primary" ui-sref="admin.addUpdateEmployee">Create New</button>
        </li>
        <li class="pull-right col-xs-2">
            <select class="form-control" ng-model="role1" ng-change="init(role1);">
                <option value="" selected>Select by Role</option>
                <option ng-repeat="adminRole in adminRoles">{{adminRole.role}}</option>
            </select>
        </li>
        <li class="col-xs-3 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="employee1">
                <span class="input-group-addon" ng-click="searchByEmployee(employee1);"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>
    <table class="table table-bordered table-striped table-condensed table-hover ng-table-responsive" ng-table="employeeParams">
        <tr ng-repeat="employee in currentPageOfEmployees" style="text-align: center;">
            <td data-title="'First Name'" sortable="'firstName'" class="clickable-item">
                {{employee.firstName}}
            </td>
            <td data-title="'Last Name'" sortable="'lastName'" class="clickable-item">
                {{employee.lastName}}
            </td>
            <td data-title="'Mobile'" sortable="'contactPhone'" class="clickable-item">
                {{employee.contactPhone}}
            </td>
            <td data-title="'Email'" sortable="'email'" class="clickable-item">
                {{employee.email}}
            </td>
            <td data-title="'City'" sortable="'city'" class="clickable-item">
                {{employee.city}}
            </td>
            <td data-title="'State'" sortable="'state'" class="clickable-item">
                {{employee.state}}
            </td>
            <td data-title="'Role'" sortable="'adminRoleId'" class="clickable-item">
                {{employee.adminRoleId.role}}
            </td>
            <td data-title="'Status'" sortable="'isActive'" class="clickable-item">
                {{employee.isActive?'Enabled':'Disabled'}}
            </td>
            <td data-title="'Action'" sortable="'contactPhone'" class="clickable-item">
                <a href="#" ui-sref="admin.addUpdateEmployee({employeeId: employee._id})">Edit</a> /
                <a href="#" ng-click="deleteEmployee($index)">Delete</a>
            </td>
        </tr>
        <tr ng-if="!currentPageOfEmployees || currentPageOfEmployees.length === 0">
            <td colspan="8">No Employees Records exist.</td>
        </tr>
    </table>
</div>