<div ng-controller="administratorsCtrl" ng-init="countFranchise();">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head"><Franchise></Franchise>
        </li>
        <li class="pull-right">
            <button class="btn btn-primary" ui-sref="admin.addUpdateFranchise">Create New</button>
        </li>
        <li class="pull-right col-xs-2">
            <select class="form-control" ng-model="franchise2" ng-change="initFranchise(franchise2);">
                <option value="" selected>Select by Status</option>
                <option ng-value="true">Enabled</option>
                <option ng-value="false">Disabled</option>
            </select>
        </li>
        <li class="col-xs-3 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search By Account" ng-model="franchise1">
                <span class="input-group-addon" ng-click="initFranchise(franchise1);"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </li>
        <div class="clearfix"></div>
    </ul>
    <table class="table table-bordered table-striped table-condensed table-hover ng-table-responsive" ng-table="franchiseParams">
        <tr ng-repeat="franchise in currentPageOfFranchises" style="text-align: center;">
            <td data-title="'Full Name'" sortable="'fullName'" class="clickable-item">
                {{franchise.fullName}}
            </td>
            <td data-title="'Account'" sortable="'account'" class="clickable-item">
                {{franchise.account}}
            </td>
            <td data-title="'Mobile'" sortable="'mobile'" class="clickable-item">
                {{franchise.mobile}}
            </td>
            <td data-title="'Landline'" sortable="'landLine'" class="clickable-item">
                {{franchise.email}}
            </td>
            <td data-title="'City'" sortable="'city'" class="clickable-item">
                {{franchise.city}}
            </td>
            <td data-title="'DOJ'" sortable="'doj'" class="clickable-item">
                {{franchise.doj | date:'dd-MM-yyyy'}}
            </td>
            <td data-title="'Status'" sortable="'isActive'" class="clickable-item">
                {{franchise.status?'Enabled':'Disabled'}}
            </td>
            <td data-title="'Edit/Delete'" sortable="'contactPhone'" class="clickable-item">
                <a href="#" ui-sref="admin.addUpdateFranchise({franchiseId: franchise._id})">Edit</a> /
                <a href="#" ng-click="deleteFranchise($index)">Delete</a>
            </td>
        </tr>
        <tr ng-if="!currentPageOfFranchises || currentPageOfFranchises.length === 0">
            <td colspan="8">No Franchises Records exist.</td>
        </tr>
    </table>
</div>