
<div class="main">
    <div class="container">
        <div class="row">

            <div class="reports-lft col-sm-8 col-xs-12">

                <div class="reports-cont">
                    <h3 class="reports-h3">REPORTS</h3>

                    <div class="reports-slider multiple-slider">

                        <div class="reports-block">
                            <img src="images/report1.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Revenue</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report2.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Payments</h4>
                            <small class="reports-small">&#8377; 5,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report3.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Expenses</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report4.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Expiry</h4>
                            <small class="reports-small">&#8377; 12</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report5.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Fuel</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report1.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Revenue</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report2.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Payments</h4>
                            <small class="reports-small">&#8377; 5,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report3.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Expenses</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report4.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Expiry</h4>
                            <small class="reports-small">&#8377; 12</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report5.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Fuel</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                    </div>

                </div>

                <div class="reports-cont">
                    <h3 class="reports-h3">MASTER LIST</h3>

                    <div class="reports-slider multiple-slider">

                        <div class="reports-block">
                            <img src="images/report6.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">parties</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report7.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Trucks</h4>
                            <small class="reports-small">&#8377; 5,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report8.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Location</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report5.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Fuel Cards</h4>
                            <small class="reports-small">&#8377; 12</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report9.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Troll</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report6.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">parties</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report7.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Trucks</h4>
                            <small class="reports-small">&#8377; 5,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report8.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Location</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report5.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Fuel Cards</h4>
                            <small class="reports-small">&#8377; 12</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report9.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Troll</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                    </div>

                </div>

                <div class="reports-cont">
                    <h3 class="reports-h3">ADD NEW</h3>

                    <div class="reports-slider multiple-slider">

                        <div class="reports-block">
                            <img src="images/report10.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Trip</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report2.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Payments</h4>
                            <small class="reports-small">&#8377; 5,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report11.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Driver</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report12.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Group</h4>
                            <small class="reports-small">&#8377; 12</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report7.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Trucks</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report10.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Trip</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report2.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Payments</h4>
                            <small class="reports-small">&#8377; 5,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report11.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Driver</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report12.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Group</h4>
                            <small class="reports-small">&#8377; 12</small>
                        </div>

                        <div class="reports-block">
                            <img src="images/report7.png" width="73" height="52" alt="img">
                            <h4 class="reports-h4">Trucks</h4>
                            <small class="reports-small">&#8377; 2,00,000</small>
                        </div>

                    </div>

                </div>


            </div>


            <div class="reports-rgt col-sm-4 col-xs-12">
                <div class="form-block">
                    <div class="top-block">
                        <ul>
                            <li><a href="#">Add Payment</a></li>
                            <li><a href="#">Add Trip</a></li>
                            <li class="last"><a href="#">Expenses</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="mdl-block">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control form-text" placeholder="Date">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-text" placeholder="Part Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-text" placeholder="Amount">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-text" placeholder="Description">
                            </div>

                            <button type="submit" class="btn can">Cancel</button>
                            <button type="submit" class="btn can last">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){

        $('.multiple-slider').slick({
            infinite: true,
            autoplay: true,
            dots: false,
            slidesToShow:5,
            slidesToScroll:3,
            responsive: [


                {
                    breakpoint:1210,
                    settings: {
                        slidesToShow:4,
                        slidesToScroll:2,
                    }
                },

                {
                    breakpoint:992,
                    settings: {
                        slidesToShow:3,
                        slidesToScroll: 3,
                    }
                },
                {
                    breakpoint:768,
                    settings: {
                        slidesToShow:3,
                        slidesToScroll:2,
                    }

                },
                {
                    breakpoint:600,
                    settings: {
                        slidesToShow:2,
                        slidesToScroll:1
                    }
                },

            ]

        });


    });

</script>