<div class="login-page" ng-controller="liveTrackingController" ng-init="loadLiveTracking()">
    <div class="clearfix"></div>
    <div  class="clo-xs-12 ">
        <div class="col-xs-12 gpsListView" >

            <div class="col-xs-10 col-xs-offset-1 margin-top-120">
                <div class="text-center">
                    <h1>Live Tracking</h1>
                </div>
                <div>
                    <div id="map" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>

</div>