<div class="container-fluid" ng-controller="PartyListController">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>
        <div class="main-right col-xs-9">
            <h3>Party</h3>
            <button class="btn btn-success pull-right" ng-click="goToEditPartyPage()">Add Party</button>

            <div class="margin-top-40">
                <div class="grid" ui-grid="partyGridOptions" ui-grid-selection></div>
            </div>

            <ul uib-pagination total-items="totalItems" ng-model="pageNumber" max-size="maxSize" class="pagination-sm"
                boundary-link-numbers="true" rotate="false" ng-change="getParties()"></ul>


        </div>
    </div>
</div>
