<top-navigation></top-navigation>
<div class="container-fluid">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>
        <div class="main-right col-xs-9" ng-controller="ShowTripsCtrl">

            <h3>Trips</h3>
            <button class="btn  btn-blue pull-right" ng-click="goToEditTripPage()">Add Trips</button>

            <div class="margin-top-40">
                <div class="grid" ui-grid="tripGridOptions"></div>
            </div>

            <ul uib-pagination total-items="totalItems" ng-model="pageNumber" max-size="maxSize" class="pagination-sm pull-right    "
                boundary-link-numbers="true" rotate="false" ng-change="getTripsData()" ng-show="totalItems > 10"></ul>

        </div>
    </div>
</div>
