<top-navigation></top-navigation>
<div class="container-fluid">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>
        <div class="main-right col-xs-9" ng-controller="TrucksController">

            <h3>Trucks</h3>
            <button class="btn btn-blue pull-right mb-10" ng-click="goToEditTruckPage()">Add Truck</button>

            <table class="table table-bordered table-striped table-condensed table-hover" ng-table="truckParams">
                <tr ng-repeat="trucks in currentPageOfTrucks" style="text-align: center;">
                    <td data-title="'Reg No'" sortable="'registrationNo'" class="clickable-item col-sm-1">
                        {{trucks.registrationNo}}
                    </td>
                    <td data-title="'TruckType'" sortable="'truckType'" class="clickable-item col-sm-1">{{
                        trucks.truckType}}
                    </td>
                    <td data-title="'Tonnage'" sortable="'tonnage'" class="clickable-item col-sm-1">{{
                        trucks.tonnage }}
                    </td>
                    <td data-title="'Permit'" sortable="'permitExpiry'" class="clickable-item col-sm-1">{{
                        trucks.permitExpiry | date:'yyyy-MM-dd'
                        }}
                    </td>
                    <td data-title="'Pollution'" sortable="'pollutionExpiry'" class="clickable-item col-sm-1">{{
                        trucks.pollutionExpiry | date:'yyyy-MM-dd' }}
                    </td>
                    <td data-title="'Insurance'" sortable="'insuranceExpiry'" class="clickable-item col-sm-1">{{
                        trucks.insuranceExpiry | date:'yyyy-MM-dd' }}
                    </td>
                    <td data-title="'Fitness'" sortable="'fitnessExpiry'" class="clickable-item col-sm-1">{{
                        trucks.fitnessExpiry | date:'yyyy-MM-dd' }}
                    </td>
                    <td data-title="'Driver'" sortable="'fullName'" class="clickable-item col-sm-1">{{
                        trucks.attrs.fullName }}
                    </td>
                    <td data-title="'Driver Num'" sortable="'mobile'" class="clickable-item col-sm-1">{{
                        trucks.attrs.mobile }}
                    </td>
                    <td data-title="'Created By'" sortable="'createdByName'"
                        class="clickable-item col-sm-1">{{ trucks.attrs.createdByName }}
                    </td>
                    <td data-title="'Action'" class="col-sm-2">
                        <a href="#" class="btn" ng-click="goToEditTruckPage(trucks._id)">
                            <span class="glyphicon glyphicon-pencil"></span></a>

                        <a href="#" class="btn" ng-click="deleteTruck(trucks._id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                <tr ng-if="!currentPageOfTrucks || currentPageOfTrucks.length === 0">
                    <td colspan="8">No trucks Records exist.</td>
                </tr>
            </table>

        </div>
    </div>
</div>

