<top-navigation></top-navigation>
<div class="container-fluid">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>
        <div class="main-right col-xs-9">

            <h3>Trucks List</h3>
            <button class="btn btn-success pull-right" ng-click="goToEditTrucksPage()">Add Truck</button>

            <div class="margin-top-40">
                <div class="grid" ui-grid="truckGridOptions" ></div>
            </div>


            <ul uib-pagination total-items="totalItems" ng-model="pageNumber" max-size="maxSize" class="pagination-sm"
                boundary-link-numbers="true" rotate="false" ng-change="getTrucksData()"></ul>
        </div>
    </div>
</div>

