
<div class="container-fluid" ng-controller="trucksCntrl">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>
        <div class="main-right col-xs-9">
            <div class="col-xs-6 account-edit">
                <h2 class="login-heading">Add Truck</h2>
                <form ng-submit="addOrUpdateAccount()" class="margin-top-20">
                    <div class="form-group">
                        <label for="accountId">Account Name</label>
                        <input ng-model="account.name" ng-readonly="account._id" type="text" class="form-control" id="accountId"
                               placeholder="Account Name">
                    </div>

                    <div class="form-group" ng-hide="account._id">
                        <label for="userName">User Name</label>
                        <input ng-model="account.userName" type="text" class="form-control" id="userName"
                               placeholder="User name">
                    </div>

                    <div class="form-group" ng-hide="account._id">
                        <label for="password">Password</label>
                        <input ng-model="account.password" type="password" class="form-control" id="password"
                               placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input ng-model="account.address" type="text" class="form-control" id="address"
                               placeholder="Address">
                    </div>

                    <div class="form-group">
                        <label for="contact">Contact Number</label>
                        <input ng-model="account.contact" type="text" class="form-control" id="contact"
                               placeholder="Contact Number">
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="account.error">
                            <strong>{{account.error}}</strong>
                        </div>
                        <div class="alert alert-success" role="alert" ng-show="account.success">
                            <strong>{{account.success}}</strong>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <input type="button" value="Cancel" class="btn btn-primary" ng-click="cancel()"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




