<top-navigation></top-navigation>
<div class="container-fluid" ng-controller="AddEditTruckCtrl">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>
        <div class="main-right col-xs-9">
            <div class="col-xs-6 account-edit">
                <h2 class="login-heading">{{pageTitle}}</h2>
                    <div class="form-group">
                        <label>Registration No</label>
                        <input type="text" class="form-control" ng-model="truck.registrationNo" placeholder="Registration No"/>
                    </div>
                    <div class="form-group">
                        <label>Truck Type</label>
                        <input type="text" class="form-control" ng-model="truck.truckType" placeholder="Truck Type"/>
                    </div>
                    <div class="form-group">
                        <label>Modal and Year</label>
                        <input type="text" class="form-control" ng-model="truck.modelAndYear" placeholder="Modal and Year"/>
                    </div>
                    <div class="form-group">
                        <label>Fitness Expiry</label>
                        <date-picker id="fitnessExpiry" ng-model="truck.fitnessExpiry"></date-picker>
                    </div>
                    <div class="form-group">
                        <label>Permit Expiry</label>
                        <date-picker id="permitExpiry" ng-model="truck.permitExpiry"></date-picker>
                    </div>
                    <div class="form-group">
                        <label>Insurance Expiry</label>
                        <date-picker id="insuranceExpiry" ng-model="truck.insuranceExpiry"></date-picker>
                    </div>

                    <div class="form-group">
                        <label>Pollution Expiry</label>
                        <date-picker id="pollutionExpiry" ng-model="truck.pollutionExpiry"></date-picker>
                    </div>

                    <div class="form-group">
                        <label>Tax Due Date</label>
                        <date-picker id="taxDueDate" ng-model="truck.taxDueDate"></date-picker>
                    </div>
                    <div>
                        <div class="alert alert-danger" role="alert" ng-show="truck.error">
                            <strong>{{truck.error}}</strong>
                        </div>
                        <div class="alert alert-success" role="alert" ng-show="truck.success">
                            <strong>{{truck.success}}</strong>
                        </div>
                         <input type="button" value="Submit" class="btn btn-primary" ng-click="addOrUpdateTruck()"/>
                        <input type="button" value="Cancel" class="btn btn-primary" ng-click="goToRolesPage()"/>
                    </div>
            </div>
        </div>
    </div>
</div>




