<div class="container-fluid" ng-controller="userEditController">
    <div class="row pall-zero">
        <div class="col-xs-2 pall-zero">
            <left-navigation></left-navigation>
        </div>
        <div class="main-right col-xs-9">
            <div class="col-xs-6 account-edit">
                <h2 class="login-heading">Add User</h2>
                <form ng-submit="AddorUpdateUSer()" class="margin-top-20">
                    <div class="form-group">
                        <label for="accountId">Account Id</label>
                        <input ng-model="userDetails.accountId" type="text" class="form-control" id="accountId"
                               placeholder="Account Id">
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input ng-model="userDetails.firstName" type="text" class="form-control" id="firstName"
                               placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input ng-model="userDetails.lastName" type="text" class="form-control" id="lastName"
                               placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="firstName">E mail</label>
                        <input ng-model="userDetails.email" type="text" class="form-control" id="email"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="userName">User Name</label>
                        <input ng-model="userDetails.userName" type="text" class="form-control" id="userName"
                               placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <input ng-model="userDetails.role" type="text" class="form-control" id="role"
                               placeholder="Role">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ng-model="userDetails.password" type="text" class="form-control" id="password"
                               placeholder="password">
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
