
        <div class="main-right col-xs-9" ng-controller="TrucksController">
            <h3>Tax Expiry Trucks List</h3>
            <div class="toolbar-button-div pull-right mb-10">
                &nbsp;
            </div>
            <table class="table table-bordered table-striped table-condensed table-hover" ng-table="paymentsParams">
                <tr ng-repeat="taxExpiryList in taxExpiryTrucksdata" style="text-align: center;">
                    <td data-title="'Registration No'" sortable="'registrationNo'" class="clickable-item col-sm-2">
                        {{taxExpiryList.registrationNo }}
                    </td>
                    <td data-title="'tax Expiry Date'" sortable="'taxExpiry'" class="clickable-item col-sm-2">
                        {{ taxExpiryList.taxDueDate | date:'MM-dd-yyyy'}}
                    </td>
                </tr>
                <tr ng-if="!taxExpiryTrucksdata || taxExpiryTrucksdata.length === 0">
                    <td colspan="8">No Payments Records exist.</td>
                </tr>
            </table>
        </div>
