<!DOCTYPE html>
<html>
<head>
    <title>Easy Gaadi</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/fav.png" type="image/png" sizes="32x32">

    <!--Bower CSS Files here ---->
    <link rel="stylesheet" href="css/adminStyles.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link href="components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="components/angular-bootstrap/ui-bootstrap-csp.css" type="text/css">



</head>

<body>
<div class="main-page" ng-app="easygaadiAdmin">
    <div class="container-fluid pall-zero">
        <nav class="navbar custom-navbar">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand logo" href="#"><img src="images/logo-login.png"> </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="login-user"><img src="images/user.png">Sravan Kumar</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 pall-zero">
                <div class="col-sm-2 col-xs-12 left-nav">
                    <adminleft-menu label="Dashboard"></adminleft-menu>
                    <adminleft-menu label="Customers" ui-sref="customers.customersLead"></adminleft-menu>
                    <adminleft-menu label="Services" ui-sref="services.gpsAccounts"></adminleft-menu>
                    <adminleft-menu label="Order Process" ui-sref="orderprocess.truckRequest"></adminleft-menu>
                    <adminleft-menu label="Settings"></adminleft-menu>
                    <adminleft-menu label="Set Notifications"></adminleft-menu>
                    <adminleft-menu label="Admin"></adminleft-menu>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-12 col-sm-10 right-nav pall-zero">
                   <div ui-view></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 pall-zero text-center">
                    Powered by easygaadi.com. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>

<!--bower scripts-->
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="components/angular/angular.min.js"></script>
<script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


<!---Routing adminApp.js File-->
<script src="js/adminApp.js"></script>

<!---Controllers--->
<script src="js/modules/admin/customerModule.js"></script>
<script src="js/modules/admin/orderProcessModule.js"></script>

<!---Directives--->
<script src="js/directives/adminLeftNav.js"></script>
<script src="js/directives/adminDatePicker.js"></script>

</body>
</html>
