<!DOCTYPE html>
<html>
<head>
    <title>Easy Gaadi</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="images/fav.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link href="components/angular-bootstrap/ui-bootstrap-csp.css" type="text/css">
    <link href="components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="components/angular-ui-grid/ui-grid.min.css">
    <link rel="stylesheet" type="text/css"
          href="components/angular-ui-notification/dist/angular-ui-notification.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="js/lib/bundles/ng-table.css">
</head>

<body ng-app="EasyGaadi">

<left-nav-li name="Accounts" link="drivers"></left-nav-li>
<span  ng-controller="NavCtrl">

<nav class="navbar navbar-default menu-header">
    <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#" ui-sref="dashboard"><img src="images/logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">How it Works</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">GPS</a></li>

                <li ng-show="isLoggedInn" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{displayName}}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" >
                        <li><a href="#"></a></li>
                        <li><a href="#" ng-click="logout()">Logout</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<top-navigation ng-if="isLoggedIn()"></top-navigation>
<div class="container-fluid">
    <div class="row pall-zero">
        <div class="col-sm-2 col-xs-12 pall-zero mt-5"  ng-if="isLoggedIn()" ng-controller="LeftNavCtrl">
            <left-menu label="Dashboard"></left-menu>
            <left-menu label="Accounts" ng-if="canEditAccounts()"></left-menu>
            <left-menu label="Drivers"></left-menu>
            <left-menu label="Trucks"></left-menu>
            <left-menu label="Trips"></left-menu>
            <left-menu label="Party"></left-menu>
            <left-menu label="Expense-Master" ></left-menu>
            <left-menu label="Expenses"></left-menu>
            <left-menu label="Payments"></left-menu>
        </div>

        <div>
            <ui-view></ui-view>
        </div>
    </div>
</div>

</span>
<!--bower scripts-->
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="components/angular/angular.min.js"></script>
<script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="components/angular-cookies/angular-cookies.min.js"></script>
<script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="components/underscore/underscore-min.js"></script>
<script src="components/angular-ui-grid/ui-grid.min.js"></script>
<script src="components/angular-ui-notification/dist/angular-ui-notification.js"></script>
<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?key=AIzaSyC3JuGIZkNVnzrOthyMWEWf3zA0J-aui0M"></script>


<!--app-->
<script src="js/app.js"></script>

<!--services-->
<script src="js/services.js"></script>
<script src="js/directives/leftMenu.js"></script>
<script src="js/directives/datePicker.js"></script>
<script src="js/directives/bodyMenu.js"></script>
<script src="js/services/paginationService.js"></script>
<script src="js/directives/checkList.js"></script>
<script src="js/lib/bundles/ng-table.js"></script>

<!--controllers-->
<script src="js/modules/nav.js"></script>
<script src="js/modules/login.js"></script>
<script src="js/modules/accountsModule.js"></script>
<script src="js/modules/tripsModule.js"></script>
<script src="js/modules/driversModule.js"></script>
<script src="js/modules/trucksModule.js"></script>
<script src="js/modules/groupModule.js"></script>
<script src="js/modules/rolesModule.js"></script>
<script src="js/modules/partyModule.js"></script>
<script src="js/modules/expenseModule.js"></script>
<script src="js/modules/paymentsModule.js"></script>
<script src="js/modules/tripLanesModule.js"></script>
<script src="js/modules/expenseMasterModule.js"></script>
<script src="/js/modules/pendingBalanceModule.js"></script>
<script src="js/modules/trackMapModule.js"></script>
<script src="js/modules/groupMap.js"></script>
<script src="js/modules/dashBoardModule.js"></script>
</body>
</html>
