<div ng-controller="commissionAgentCtrl" ng-init="countCommissionAgent()">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">Commission Agents
        </li>
        <li class="pull-right col-xs-3">
            <select class="form-control" ng-model="status1" ng-change="initCommissionAgent(status1);">
                <option value="" selected>Search by Status</option>
                <option ng-value="true">Enabled</option>
                <option ng-value="false">Disabled</option>
            </select>
        </li>
        <li class="col-xs-4 pull-right">
            <form role="search">
                <div class="input-group add-on">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="commissionAgent1" >
                    <div class="input-group-btn" ng-click="searchByCommissionAgent(commissionAgent1)">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </li>
        <div class="clearfix"></div>
    </ul>
    <div class="table-res">
    <table class="table table-bordered table-striped table-condensed table-hover" ng-table="commissionAgentParams">
        <tr ng-repeat="commissionAgent in currentPageOfCommissionAgents" style="text-align: center;">
            <td data-title="'S.No'">
                {{$index+1}}
            </td>
           <!-- <td data-title="'ID'" sortable="'userId'" class="clickable-item">
                {{commissionAgent.userId || '&#45;&#45;'}}
            </td>-->
            <td data-title="'User Name'" sortable="'userId'" class="clickable-item">
                {{commissionAgent.userName}}
            </td>
            <td data-title="'Customer Name'" sortable="'firstName'" class="clickable-item">
                {{commissionAgent.firstName || '--'}}
            </td>
            <td data-title="'Company'" sortable="'companyName'" class="clickable-item">
                {{commissionAgent.companyName || '--'}}
            </td>
           <!-- <td data-title="'Upload'">
                <a ui-sref="">Click Here</a>
            </td>-->
            <td data-title="'Mobile'" sortable="'contactPhone'" class="clickable-item">
                {{commissionAgent.contactPhone || '--'}}
            </td>
            <td data-title="'Reg Date'" sortable="'createdAt'" class="clickable-item">
                {{commissionAgent.createdAt | date:'dd-MM-yyyy' || '--'}}
            </td>
            <td data-title="'No of Loads'" sortable="'noOfLoads'" class="clickable-item">
                {{commissionAgent.noOfLoads || '0'}}
            </td>
            <td data-title="'No of Trucks'" sortable="'noOfTrucks'" class="clickable-item">
                {{commissionAgent.noOfTrucks || '0'}}
            </td>
            <td data-title="'SMS/Email'" sortable="'smsEmailAds'" class="clickable-item">
                <span ng-show="commissionAgent.smsEmailAds === 0">NONE</span>
                <span ng-show="commissionAgent.smsEmailAds === 1">BOTH</span>
                <span ng-show="commissionAgent.smsEmailAds === 2">EMAIL</span>
                <span ng-show="commissionAgent.smsEmailAds === 3">SMS</span>
            </td>
            <td data-title="'Status'" sortable="'isActive'" class="clickable-item">
                {{commissionAgent.isActive?'Enabled':'Disabled' || '--'}}
            </td>
            <td data-title="'Action'" sortable="'contactPhone'" class="clickable-item">
                <a href="#" ui-sref="customers.addUpdateCommissionAgent({commissionAgentId: commissionAgent._id})" class="edit_icon"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" ng-click="deleteCommissionAgent($index)" class="delete_icon"><span class="glyphicon glyphicon-trash  "></span></a>
            </td>
        </tr>
        <tr ng-if="!currentPageOfCommissionAgents || currentPageOfCommissionAgents.length === 0" class="text-center">
            <td colspan="10">No Commission Agents Records exist.</td>
        </tr>
    </table>
    </div>
</div>