<div ng-controller="customerCtrl" ng-init="getCustomerLeads()">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">Customers Leads</li>
        <li class="pull-right">
            <button class="btn btn-primary" ui-sref="customers.createCustomer">Create New</button>
        </li>
        <li class="pull-right col-xs-12 col-sm-2">
            <select class="form-control">
                <option>Select</option>
                <option>Qualified</option>
                <option>Request for Approval</option>
                <option>Initiate</option>
                <option>Callback</option>
                <option>Duplicate</option>
                <option>Junk Lead</option>
                <option>Language Barrier</option>
                <option>Not Interested</option>
            </select>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed table-hover mt-20 text-center"
               ng-table="customerParams">

            <tbody>
            <tr ng-repeat="customer in customerLeads">
                <td>{{$index+1}}</td>
                <td data-title="'Customer Name'" sortable="'firstName'" class="clickable-item">{{customer.firstName}}</td>
                <td data-title="'Lead Type'" sortable="'leadType'" class="clickable-item">{{customer.leadType}}</td>
                <td data-title="'Mobile'" sortable="'contactPhone'" class="clickable-item">{{customer.contactPhone}}
                </td>
                <td data-title="'Reg Date'" sortable="'date'" class="clickable-item">{{customer.createdAt |
                    date:medium}}
                </td>
                <td data-title="'Yes'" sortable="'yes'" class="clickable-item">Yes</td>
                <td data-title="'ERP'" sortable="'erp'" class="clickable-item">{{customer.erpEnabled}}</td>
                <td data-title="'GPS'" sortable="'gps'" class="clickable-item">{{customer.gpsEnabled}}</td>
                <td data-title="'Load'" sortable="'load'" class="clickable-item">{{customer.loadEnabled}}</td>
                <td class="col-xs-2" data-title="'Lead Status'">
                    {{customer.leadStatus}}
                </td>
                <td data-title="'Action'">
                    <a href="#" ui-sref="customers.customerLeadsEdit({customerId:customer._id})" class="edit_icon">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#" ng-click="delCustomer(customer._id)" class="delete_icon">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>