<div class="col-xs-12 cus-main">
    <ul class="list-inline custom-ul">
        <li><a href="#">Customer Leads</a></li>
        <li><a href="#">Truck Owners</a></li>
        <li><a href="#">Transporters</a></li>
        <li><a href="#">Commission Agent</a></li>
        <li><a href="#">Factory Owners</a></li>
        <li><a href="#">Guest</a></li>
        <li><a href="#">Rest of All</a></li>
        <li class="col-xs-3 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </li>

    </ul>
    <ul class="list-inline">
        <li class="pull-left">Customers Leads</li>
        <li class="pull-right">
            <button class="btn btn-primary" ui-sref="createCustomer">Create New</button>
        </li>
        <li class="pull-right col-xs-2">
            <select class="form-control">
                <option>Select</option>
                <option>Qualified</option>
                <option>Request for Approval</option>
                <option>Initiate</option>
                <option>Callback</option>
                <option>Duplicate</option>
                <option>Junk Lead</option>
                <option>Language Barrier</option>
                <option>Not Interested</option>
            </select>
        </li>

    </ul>
</div>