<div class="col-xs-12 newCust" ng-controller="truckOwnerCtrl">
    <h4>{{title}}</h4>
    <div class="col-xs-12">
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpen">
                <uib-accordion-heading>
                    User Information <i class="pull-right glyphicon"
                                        ng-class="{'glyphicon-chevron-down':status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <h4 style="padding-left: 60px;">ID : {{truckOwner.userId || '--'}}</h4>
                        </div>
                        <div class="form-group styling-input-list">
                            <select class="form-control custom-form-control" ng-model="truckOwner.leadType">
                                <option ng-repeat="type in leadType" ng-value="type.value">{{type.key}}</option>
                            </select>
                            <label class="focus-effect-for-input">Lead Type*</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="fullName"
                                   ng-model="truckOwner.firstName"/>
                            <label class="focus-effect-for-input">Full Name*</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group pos-relative styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="mobile"
                                   ng-model="truckOwner.contactPhone" ng-pattern="/^[0-9]/"/>
                            <label class="focus-effect-for-input">Mobile*</label>
                        </div>
                        <div class="form-group pos-relative styling-input-list"
                             ng-repeat="mobile in truckOwner.alternatePhone track by $index">
                            <input type="text" class="form-control custom-form-control" name="mobile"
                                   ng-model="truckOwner.alternatePhone[$index]" ng-pattern="/^[0-9]/">
                            <label class="focus-effect-for-input">Alternate Mobile</label>

                            <span class="plus-pos" ng-show="$index >= 1">
                                <i class="fa fa-times-circle clr-red" ng-click="removeNumber($index)"></i></span>
                            <span class="plus-pos" ng-show="$index == 0">
                                <i class="fa fa-plus-square" aria-hidden="true" ng-click="addNumber()"></i></span>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="email"
                                   ng-model="truckOwner.email"/>
                            <label class="focus-effect-for-input">Email</label>
                        </div>
                    </div>
                </div>

            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenTwo">
                <uib-accordion-heading>
                    Address <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down':status.isOpenTwo, 'glyphicon-chevron-right': !status.isOpenTwo}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="companyName"
                                   ng-model="truckOwner.companyName"/>
                            <label class="focus-effect-for-input">Company Name</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="contactAddress"
                                   ng-model="truckOwner.contactAddress"/>
                            <label class="focus-effect-for-input">Address</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="city"
                                   ng-model="truckOwner.city"/>
                            <label class="focus-effect-for-input">city</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group pos-relative styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="state"
                                   ng-model="truckOwner.state"/>
                            <label class="focus-effect-for-input">State</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="pincode"
                                   ng-model="truckOwner.pincode"/>
                            <label class="focus-effect-for-input">Pincode</label>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenThree">
                <uib-accordion-heading>
                    Set Password <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down':status.isOpenThree, 'glyphicon-chevron-right': !status.isOpenThree}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="password"
                                   ng-model="truckOwner.password"/>
                            <label class="focus-effect-for-input">Password</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group pos-relative styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="confirmPassword"
                                   ng-model="truckOwner.confirmPassword"/>
                            <label class="focus-effect-for-input">Confirm Password</label>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenFour">
                <uib-accordion-heading>
                    Service Info <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': status.isOpenFour, 'glyphicon-chevron-right': !status.isOpenFour}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <ul class="list-inline">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="truckOwner.erpEnabled"/>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            ERP
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="truckOwner.gpsEnabled"/>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            GPS
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="truckOwner.loadEnabled"/>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            LOAD
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group styling-input-list">
                            <select class="form-control custom-form-control" ng-model="truckOwner.yearInService">
                                <option value="" selected>--Select Year--</option>
                                <option ng-repeat="years in yearInService" ng-value="years">{{years}}</option>
                            </select>
                            <label class="focus-effect-for-input" >Year In Service</label>

                        </div>
                        <div class="form-group styling-input-list" >

                            <ui-select multiple ng-model="truckOwner.selectTruckTypes" theme="bootstrap" close-on-select="false" title="Choose Truck Types">
                                <ui-select-match placeholder="Choose Truck Types">{{$item.title}} / {{$item.tonnes}}T</ui-select-match>

                                <ui-select-choices repeat="type in truckTypes | filter:$select.search">
                                    {{type.title}}
                                </ui-select-choices>
                            </ui-select>
<label class="focus-effect-for-input">Truck Types</label>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="routes">
                            <h4>Operating Routes</h4>
                            <div class="form-group pos-relative styling-input-list"
                                 ng-repeat="operatingRoute in truckOwner.operatingRoutes track by $index">
                                <div class="form-group styling-input-list">
                                    <input type="text" class="form-control custom-form-control" name="source"
                                           ng-model="operatingRoute.source" id="searchSource{{$index}}"
                                           ng-change="addSearchSource($index)"/>
                                    <label class="focus-effect-for-input">Source</label>
                                </div>
                                <div class="form-group styling-input-list">
                                    <input type="text" class="form-control custom-form-control" name="destination"
                                           ng-model="operatingRoute.destination" id="searchDestination{{$index}}"
                                           ng-change="addSearchDestination($index)"/>
                                    <label class="focus-effect-for-input">Destination</label>
                                </div>
                                <span class="plus-pos" ng-show="$index >= 1">
                                <i class="fa fa-times-circle clr-red"
                                   ng-click="deleteOperatingRoute($index)"></i></span>
                                <span class="plus-pos" ng-show="$index == 0">
                                <i class="fa fa-plus-square" aria-hidden="true"
                                   ng-click="addOperatingRoute()"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenFive">
                <uib-accordion-heading>
                    Upload Customer Docs <i class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down': status.isOpenFive, 'glyphicon-chevron-right': !status.isOpenFive}"></i>
                </uib-accordion-heading>
                <div class="row">
                  <!--  <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="file" ngf-select class="form-control custom-form-control"
                                   ng-model="truckOwner.newDocumentFile" name="documentFile" ngf-pattern="'image/*'"
                                   ngf-accept="'image/*'" ngf-resize="{width: 100, height: 100}"/>
                            <img src="{{truckOwner.documentFile}}" ng-if="truckOwner.documentFile">
                        </div>
                    </div>-->
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <p>Uploading Customer Documents</p>
                        </div>
                        <div ng-repeat="file in truckOwner.files">

                            <div class="form-group pos-relative">
                                    <span class="plus-pos" ng-show="$index == 0">
                                    <i class="fa fa-plus-square" aria-hidden="true" ng-click="addDoc()"></i></span>
                                <input type="file" class="form-control custom-form-control"
                                       ng-model="file.file" ngf-select ngf-pattern="'image/*'"
                                       ngf-accept="'image/*'">

                                <span class="plus-pos " ng-show="$index >= 1"> <i class="fa fa-times-circle clr-red"
                                                                                  ng-click="deleteDoc()"></i></span>


                            </div>
                        </div>
                        <div class="col-xs-12">
                            <span ng-repeat="doc in truckOwner.documentFiles" class="delfile">
                               <a href="assets/documents/{{doc}}" data-lightbox="assets/documents/{{doc}}">
                                   <img src="assets/documents/{{doc}}" width="100"></a>
                              <span class="del-pos ">
                                <i class="fa fa-times-circle clr-red" ng-click="removeDoc(doc,$index)"></i>
                              </span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </uib-accordion>

        <div class="col-xs-12 save-btns">
            <a href="#" class="btn btn-danger" ng-click="cancel()">Cancel</a>
            <a href="#" class="btn btn-primary" ng-click="updateTruckOwner()">Submit</a>
        </div>
    </div>
</div>