<div class="col-xs-12 newCust" ng-controller="truckOwnerCtrl">
    <h4>{{title}}</h4>
    <div class="col-xs-12">
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpen">
                <uib-accordion-heading>
                    User Information <i class="pull-right glyphicon"
                                        ng-class="{'glyphicon-chevron-down':status.isOpen, 'glyphicon-chevron-right': !status.isOpen}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <h4 style="padding-left: 60px;">ID : {{truckOwner.userId || '--'}}</h4>
                        </div>
                        <div class="form-group styling-input-list">
                            <select class="form-control custom-form-control" ng-model="truckOwner.leadType">
                                <option ng-value="" selected>-- Select --</option>
                                <option ng-repeat="type in leadType" ng-value="type.value">{{type.key}}</option>
                            </select>
                            <label class="focus-effect-for-input">Lead Type*</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="fullName"
                                   ng-model="truckOwner.firstName"/>
                            <label class="focus-effect-for-input">Full Name*</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="userName"
                                   ng-model="truckOwner.userName"/>
                            <label class="focus-effect-for-input">user Name*</label>
                        </div> <div class="form-group styling-input-list">
                        <input type="text" class="form-control custom-form-control" name="password"
                               ng-model="truckOwner.password"/>
                        <label class="focus-effect-for-input">Password*</label>
                    </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group pos-relative styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="mobile"
                                   ng-model="truckOwner.contactPhone" ng-pattern="/^[0-9]/"/>
                            <label class="focus-effect-for-input">Mobile*</label>
                        </div>
                        <div class="form-group pos-relative styling-input-list"
                             ng-repeat="mobile in truckOwner.alternatePhone track by $index">
                            <input type="text" class="form-control custom-form-control" name="mobile"
                                   ng-model="truckOwner.alternatePhone[$index]" ng-pattern="/^[0-9]/">
                            <label class="focus-effect-for-input">Alternate Mobile</label>

                            <span class="plus-pos" ng-show="$index >= 1">
                                <i class="fa fa-times-circle clr-red" ng-click="removeNumber($index)"></i></span>
                            <span class="plus-pos" ng-show="$index == 0">
                                <i class="fa fa-plus-square" aria-hidden="true" ng-click="addNumber()"></i></span>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="email"
                                   ng-model="truckOwner.email"/>
                            <label class="focus-effect-for-input">Email</label>
                        </div>
                    </div>
                </div>

            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenTwo">
                <uib-accordion-heading>
                    Address <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down':status.isOpenTwo, 'glyphicon-chevron-right': !status.isOpenTwo}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="companyName"
                                   ng-model="truckOwner.companyName"/>
                            <label class="focus-effect-for-input">Company Name</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="contactAddress"
                                   ng-model="truckOwner.contactAddress"/>
                            <label class="focus-effect-for-input">Address</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="city"
                                   ng-model="truckOwner.city"/>
                            <label class="focus-effect-for-input">city</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group pos-relative styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="state"
                                   ng-model="truckOwner.state"/>
                            <label class="focus-effect-for-input">State</label>
                        </div>
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="pincode"
                                   ng-model="truckOwner.pincode"/>
                            <label class="focus-effect-for-input">Pincode</label>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenThree">
                <uib-accordion-heading>
                    Set Password <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down':status.isOpenThree, 'glyphicon-chevron-right': !status.isOpenThree}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="password"
                                   ng-model="truckOwner.password"/>
                            <label class="focus-effect-for-input">Password</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group pos-relative styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="confirmPassword"
                                   ng-model="truckOwner.confirmPassword"/>
                            <label class="focus-effect-for-input">Confirm Password</label>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenFour">
                <uib-accordion-heading>
                    Service Info <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': status.isOpenFour, 'glyphicon-chevron-right': !status.isOpenFour}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <ul class="list-inline">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="truckOwner.erpEnabled"/>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            ERP
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="truckOwner.gpsEnabled"/>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            GPS
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="truckOwner.loadEnabled"/>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            LOAD
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" ng-model="truckOwner.dailyReportEnabled"/>
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            Daily Report
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="form-group styling-input-list">
                            <select class="form-control custom-form-control" ng-model="truckOwner.yearInService">
                                <option ng-repeat="years in yearInService" ng-value="years">{{years}}</option>
                            </select>
                            <label class="focus-effect-for-input">Year In Service</label>

                        </div>
                        <div class="form-group styling-input-list">

                            <ui-select multiple ng-model="truckOwner.selectTruckTypes" theme="bootstrap"
                                       close-on-select="false" title="Choose Truck Types">
                                <ui-select-match placeholder="Choose Truck Types">{{$item.title}} / {{$item.tonnes}}T
                                </ui-select-match>

                                <ui-select-choices repeat="type in truckTypes | filter:$select.search">
                                    {{type.title}}
                                </ui-select-choices>
                            </ui-select>
                            <label class="focus-effect-for-input">Truck Types</label>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="routes">
                            <h4>Operating Routes</h4>
                            <div class="form-group pos-relative styling-input-list"
                                 ng-repeat="operatingRoute in truckOwner.operatingRoutes track by $index">
                                <div class="form-group styling-input-list">
                                    <input type="text" class="form-control custom-form-control" name="source"
                                           ng-model="operatingRoute.source" id="searchSource{{$index}}"
                                           ng-change="addSearchSource($index)"/>
                                    <label class="focus-effect-for-input">Source</label>
                                </div>
                                <div class="form-group styling-input-list">
                                    <input type="text" class="form-control custom-form-control" name="destination"
                                           ng-model="operatingRoute.destination" id="searchDestination{{$index}}"
                                           ng-change="addSearchDestination($index)"/>
                                    <label class="focus-effect-for-input">Destination</label>
                                </div>
                                <span class="plus-pos" ng-show="$index >= 1">
                                <i class="fa fa-times-circle clr-red"
                                   ng-click="deleteOperatingRoute($index)"></i></span>
                                <span class="plus-pos" ng-show="$index == 0">
                                <i class="fa fa-plus-square" aria-hidden="true"
                                   ng-click="addOperatingRoute()"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenFive">
                <uib-accordion-heading>
                    Upload Customer Docs <i class="pull-right glyphicon"
                                            ng-class="{'glyphicon-chevron-down': status.isOpenFive, 'glyphicon-chevron-right': !status.isOpenFive}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <!--  <div class="col-xs-12 col-sm-6">
                          <div class="form-group">
                              <input type="file" ngf-select class="form-control custom-form-control"
                                     ng-model="truckOwner.newDocumentFile" name="documentFile" ngf-pattern="'image/*'"
                                     ngf-accept="'image/*'" ngf-resize="{width: 100, height: 100}"/>
                              <img src="{{truckOwner.documentFile}}" ng-if="truckOwner.documentFile">
                          </div>
                      </div>-->
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <p>Uploading Customer Documents</p>
                        </div>
                        <div ng-repeat="file in truckOwner.files">

                            <div class="form-group pos-relative">
                                    <span class="plus-pos" ng-show="$index == 0">
                                    <i class="fa fa-plus-square" aria-hidden="true" ng-click="addDoc()"></i></span>
                                <input type="file" class="form-control custom-form-control"
                                       ng-model="file.file" ngf-select ngf-pattern="'image/*'"
                                       ngf-accept="'image/*'">

                                <span class="plus-pos " ng-show="$index >= 1"> <i class="fa fa-times-circle clr-red"
                                                                                  ng-click="deleteDoc()"></i></span>


                            </div>
                        </div>
                        <div class="col-xs-12">
                            <span ng-repeat="doc in truckOwner.documentFiles" class="delfile">
                               <a href="assets/documents/{{doc}}" data-lightbox="assets/documents/{{doc}}">
                                   <img src="assets/documents/{{doc}}" width="100"></a>
                              <span class="del-pos ">
                                <i class="fa fa-times-circle clr-red" ng-click="removeDoc(doc,$index)"></i>
                              </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenSix">
                <uib-accordion-heading>
                    Route Config <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': status.isOpenSix, 'glyphicon-chevron-right': !status.isOpenSix}"></i>
                </uib-accordion-heading>
                <ul class="list-inline">
                    <li>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="truckOwner.routeConfigEnabled"/>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                RouteConfig
                            </label>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group styling-input-list">
                            <input type="text" class="form-control custom-form-control" name="homeAddress"
                                   ng-model="truckOwner.homeLocation.homeAddress"
                                   ng-show="truckOwner.routeConfigEnabled"
                                   id="accountHomeLocation"
                                   ng-change="searchHomeLocation()" placeholder="Select Home Location"/>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.isOpenSeven">
                <uib-accordion-heading>
                    Add / Edit Truck <i class="pull-right glyphicon"
                                        ng-class="{'glyphicon-chevron-down': status.isOpenSeven, 'glyphicon-chevron-right': !status.isOpenSeven}"></i>
                </uib-accordion-heading>
                <div class="row">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" ng-click="addNewTruck();">Add Truck</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-res mt-10">
                        <table class="table table-bordered table-striped table-condensed table-hover text-center"
                               ng-table="truckParams">
                            <tbody>
                            <tr ng-repeat="trucks in currentPageOfTrucks">
                                <td data-title="'S No'">{{$index+1}}</td>
                                <td data-title="'Registration No'" sortable="''" class="clickable-item">
                                    {{trucks.registrationNo}}
                                </td>
                                <td data-title="'Vehicle Type'" sortable="'vehicleType'" class="clickable-item">
                                    {{trucks.vehicleType}}
                                </td>
                                <td data-title="'Truck Type'" sortable="'truckType'" class="clickable-item">
                                    {{trucks.truckType }}
                                </td>
                                <td data-title="'Permit Expiry'" sortable="'permitExpiry'" class="clickable-item">
                                    {{trucks.permitExpiry ||'--' | date:'dd-MM-yyyy'}}
                                </td>
                                <td data-title="'Insurance Expiry'" sortable="'insuranceExpiry'" class="clickable-item">
                                    {{trucks.insuranceExpiry ||'--' | date:'dd-MM-yyyy'}}
                                </td>
                                <td data-title="'Pollution Expiry'" sortable="'pollutionExpiry'" class="clickable-item">
                                    {{trucks.pollutionExpiry ||'--' | date:'dd-MM-yyyy'}}
                                </td>
                                <td data-title="'Tax Expiry'" sortable="'taxDueDate'" class="clickable-item">
                                    {{trucks.taxDueDate ||'--' | date:'dd-MM-yyyy'}}
                                </td>
                                <td data-title="'Fitness Expiry'" sortable="'fitnessExpiry'" class="clickable-item">
                                    {{trucks.fitnessExpiry ||'--' | date:'dd-MM-yyyy'}}
                                </td>
                                <td data-title="'Action'">
                                    <a href="#" ng-click="editTruck(trucks._id)"
                                       class="edit_icon">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a href="#" ng-click="delTruck(trucks._id)" class="delete_icon">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="!currentPageOfTrucks || currentPageOfTrucks.length === 0">
                                <td colspan="10">There is no Trucks for this Account</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </uib-accordion>
        <div class="col-xs-12 save-btns">
            <a href="#" class="btn btn-danger" ng-click="cancel()">Cancel</a>
            <a href="#" class="btn btn-primary" ng-click="updateTruckOwner()">Submit</a>
        </div>
    </div>


    <script type="text/ng-template" id="addNewTruck.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">{{pageTitle}}</h3>
            <span class="close-btn" ng-click="cancel()"><i class="fa fa-close"></i></span>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <span>Registration Num*:</span>
                        <input type="text" class="form-control order-form-control" ng-model="addTruck.registrationNo"/>
                    </div>
                    <div class="form-group styling-input-list">
                        <span>Select Vehicle Type:</span>
                        <select class="form-control order-form-control" ng-model="addTruck.vehicleType">
                            <option value="" selected>--Select Vehicle Type--</option>
                            <option value="Car">Car</option>
                            <option value="Truck">Truck</option>
                            <option value="Non-Truck">Non Truck</option>
                        </select>
                    </div>
                    <div class="form-group styling-input-list">
                        <span>Select Truck Type:</span>
                        <select class="form-control order-form-control" ng-model="addTruck.truckType"
                                ng-init="getTruckTypes()">
                            <option value="" selected>--Select Truck Type--</option>
                            <option ng-repeat="type in getTruckTypes"> {{type.title}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Fitness Expiry:</span>
                        <admin-date-picker class="'order-form-control'"
                                           ng-model="addTruck.fitnessExpiry"></admin-date-picker>
                    </div>
                    <div class="form-group">
                        <span>Permit Expiry:</span>
                        <admin-date-picker class="'order-form-control'"
                                           ng-model="addTruck.permitExpiry"></admin-date-picker>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <span>Insurance Expiry:</span>
                        <admin-date-picker class="'order-form-control'"
                                           ng-model="addTruck.insuranceExpiry"></admin-date-picker>
                    </div>
                    <div class="form-group">
                        <span>Pollution Expiry:</span>
                        <admin-date-picker class="'order-form-control'"
                                           ng-model="addTruck.pollutionExpiry"></admin-date-picker>
                    </div>
                    <div class="form-group">
                        <span>Tax Expiry:</span>
                        <admin-date-picker class="'order-form-control'"
                                           ng-model="addTruck.taxDueDate"></admin-date-picker>
                    </div>
                </div>


                <div class="col-sm-12 text-center">
                    <input type="button" class="btn btn-primary" value="Submit" ng-click="addorUpdateTruck()"/>
                    <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancel()"/>
                </div>
            </div>
        </div>
    </script>
</div>



