
<ul class="list-inline title-ul">
    <li class="pull-left name-head">Factory Owners</li>
    <li class="pull-right col-xs-2">
        <select class="form-control">
            <option>Select</option>
            <option>Enabled</option>
            <option>Disabled</option>
        </select>
    </li>
    <div class="clearfix"></div>
</ul>
<div class="clearfix"></div>
<table class="table table-bordered table-responsive mt-20">
    <thead>
    <tr>
        <th>S No</th>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Company</th>
        <th>Mobile</th>
        <th>No of Loads</th>
        <th>Email</th>
        <th>City</th>
        <th>Reg Date</th>
        <th>SMS/Email</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>MTW Labs</td>
        <td>9618485858</td>
        <td>10</td>
        <td>pandu@gmail.com</td>
        <td>Hyd</td>
        <td>10/10/2078</td>
        <td>Yes</td>
        <td>Enabled</td>
        <td>Edit/Delete</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>MTW Labs</td>
        <td>9618485858</td>
        <td>10</td>
        <td>pandu@gmail.com</td>
        <td>Hyd</td>
        <td>10/10/2078</td>
        <td>Yes</td>
        <td>Enabled</td>
        <td>Edit/Delete</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>MTW Labs</td>
        <td>9618485858</td>
        <td>10</td>
        <td>pandu@gmail.com</td>
        <td>Hyd</td>
        <td>10/10/2078</td>
        <td>Yes</td>
        <td>Enabled</td>
        <td>Edit/Delete</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>MTW Labs</td>
        <td>9618485858</td>
        <td>10</td>
        <td>pandu@gmail.com</td>
        <td>Hyd</td>
        <td>10/10/2078</td>
        <td>Yes</td>
        <td>Enabled</td>
        <td>Edit/Delete</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2889</td>
        <td>Sravan Kumar</td>
        <td>MTW Labs</td>
        <td>9618485858</td>
        <td>10</td>
        <td>pandu@gmail.com</td>
        <td>Hyd</td>
        <td>10/10/2078</td>
        <td>Yes</td>
        <td>Enabled</td>
        <td>Edit/Delete</td>
    </tr>
    </tbody>
</table>
