<div ng-controller="transporterCtrl" ng-init="countGuest()">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">Guests
        </li>
        <li class="pull-right col-xs-2">
            <select class="form-control">
                <option>Select</option>
                <option>Enabled</option>
                <option>Disabled</option>
            </select>
        </li>
        <div class="clearfix"></div>
    </ul>
    <table class="table table-bordered table-striped table-condensed table-hover ng-table-responsive" ng-table="transporterParams">
        <tr ng-repeat="transporter in currentPageOfGuests" style="text-align: center;">
            <td data-title="'S.No'">
                {{$index+1}}
            </td>
            <td data-title="'ID'" sortable="'firstName'" class="clickable-item">
                {{transporter.firstName}}
            </td>
            <td data-title="'Customer Name'" sortable="'lastName'" class="clickable-item">
                {{transporter.lastName}}
            </td>
            <td data-title="'Company'" sortable="'contactPhone'" class="clickable-item">
                {{transporter.contactPhone}}
            </td>
            <td data-title="'Mobile'" sortable="'email'" class="clickable-item">
                {{transporter.email}}
            </td>
            <td data-title="'Reg Date'" sortable="'city'" class="clickable-item">
                {{transporter.city}}
            </td>
            <td data-title="'No of Loads'" sortable="'state'" class="clickable-item">
                {{transporter.state}}
            </td>
            <td data-title="'ERP'" sortable="'isActive'" class="clickable-item">
                {{transporter.isActive?'Enabled':'Disabled'}}
            </td>
            <td data-title="'GPS'" sortable="'isActive'" class="clickable-item">
                {{transporter.isActive?'Enabled':'Disabled'}}
            </td>
            <td data-title="'Status'" sortable="'isActive'" class="clickable-item">
                {{transporter.isActive?'Enabled':'Disabled'}}
            </td>
            <td data-title="'Action'" sortable="'contactPhone'" class="clickable-item">
                <a href="#" ui-sref="admin.addUpdateGuest({transporterId: transporter._id})" class="edit_icon"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" ng-click="deleteGuest($index)" class="delete_icon"><span class="glyphicon glyphicon-trash  "></span></a>
            </td>
        </tr>
        <tr ng-if="!currentPageOfGuests || currentPageOfGuests.length === 0">
            <td colspan="8">No Guests Records exist.</td>
        </tr>
    </table>
</div>