<head>
    <style>
        table td
        {
            table-layout:fixed;
            width:20px;
            overflow:hidden;
            word-wrap:break-word;
        }
    </style>
</head>
<div class="main-right col-xs-12" ng-controller="RouteConfigListCtrl">
    <div class="col-xs-12 pall-zero mb-10">
        <div class="col-sm-3 pall-zero"><h3>Details</h3></div>
    </div>
    <div class="mt-10">
        <table class="table table-bordered table-striped table-condensed table-hover"
               ng-table="studentParams">
            <tr ng-repeat="x in routeConfigs" style="text-align: center;">
                <td data-title="'Name'" sortable="'name'" class="clickable-item">
                    {{x.name}}
                </td>
                <td data-title="'Distance'" sortable="'distance'" class="clickable-item">
                    {{x.distance}}
                </td>
                <td data-title="'Source'" sortable="'source'" class="clickable-item">
                    {{x.source.address}}
                </td>
                <td data-title="'Destination'" sortable="'destination'" class="clickable-item">
                    {{x.destination.address}}
                </td>

                <td data-title="'Action'" class="col-sm-2">
                    <a href="#" class="btn" ng-click="goToEditPage(x._id)">
                        <span class="glyphicon glyphicon-pencil"></span></a>

                    <a href="#" class="btn" ng-click="delete(x._id)">

                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class="add-image pull-right">
        <figure>
            <a href="#" ng-click="goToEditPage()"><img src="images/Add_Truck.png" alt="Add Config" title="Add Config"></a>
        </figure>
    </div>
</div>
