<div ng-controller="NotificationCntrl">
    <ul class="list-inline title-ul">
        <li class="pull-left name-head">GPS Load Notification</li>
        <li class="pull-right">
            <button class="btn btn-primary" ng-click="newGpsLoadNtfcn()">Create New</button>
        </li>
        <div class="clearfix"></div>
    </ul>
    <table class="table table-bordered table-striped table-condensed table-hover mt-20" ng-table="customerParams">


    </table>
</div>


<script type="text/ng-template" id="newGpsLoadNtfcn.html">

    <!--<a href="#" class="btn btn-primary" ui-sref="services.gpsDevices"> Cancel</a>-->
    <!--<a href="#" class="btn btn-primary" ng-click="transferDevices()"> Submit</a>-->


    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add Load Notification</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Source City*" />
                </div>
                <div class="form-group" ng-init="getTruckTypes();">
                    <select class="form-control">
                        <option selected>Truck Type*</option>
                        <option ng-repeat="trucks in getTruckTypes">{{trucks.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Date Available*" />
                </div>
                <div class="form-group">
                    <textarea class="form-control">

                    </textarea>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Destination City*" />
                </div>
                <div class="form-group" ng-init="getGoodsTypes();">
                    <select class="form-control">
                        <option selected>Goods Type*</option>
                        <option ng-repeat="goods in getGoodsTypes">{{goods.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Price*" />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <p class="smsenabled">Send To All*:</p>
                        <ul class="list-inline">
                            <li>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="all">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        Yes
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="all">
                                        <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                        No
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--<div ng-dropdown-multiselect=""-->
            <!--options="allDevices"-->
            <!--selected-model="selectedDevices"-->
            <!--extra-settings="selected_baseline_settings" class="col-sm-4" translation-texts="customText">-->
            <!--</div>-->
            <!--<select class="form-control custom-form-control" ng-model="assignedTo" class ="col-xs-7">-->
            <!--<option value="" selected>Transfer To</option>-->
            <!--<option ng-repeat="employee in employees" value="{{employee.id_admin}}">{{employee.displayName}}-->
            <!--</option>-->
            <!--</select>-->
        </div>
        <div ng-show="error">{{error}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="transferDevices()">Submit</button>
        <button class="btn btn-danger" type="button" ng-click="closeGPS()">Cancel</button>
    </div>
</script>