<div class="col-xs-12 cus-main" ng-controller="settingsCtrl">
    <ul class="list-inline custom-ul">
        <li ui-sref-active="activated"><a href="#" ui-sref="notifications.avaTrucks">Available Trucks</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="notifications.avaLoads">Available Load</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="notifications.app">App</a></li>
        <li ui-sref-active="activated"><a href="#" ui-sref="notifications.lookingForLoad">Looking for Load</a></li>
    </ul>
    <ui-view></ui-view>
</div>