<div class="main-right col-xs-12" ng-controller="paymentsEditCtrl">
    <div class="col-xs-12 account-edit">
        <h2 class="title-name">{{pageTitle}}</h2>
        <form class="mt-10">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group col-xs-12">
                    <div class="">
                        <date-picker id="date" ban-future="'banFutureDate'" ng-model="paymentDetails.date"
                                     placeholder="'Date*'" class="'custom-form-control'"></date-picker>
                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" select-box">
                        <ui-select ng-model="paymentDetails.partyId" theme="select2"
                                   style="min-width: 390px;"
                                   title="Choose a Party" append-to-body="true">
                            <ui-select-match placeholder="Select a Party*" class="form-control custom-form-control">
                                {{$select.selected.name || partyName}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="party in parties | propsFilter: {name: $select.search}">
                                <div ng-bind-html="party.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <input ng-model="paymentDetails.amount" type="number" class="form-control custom-form-control"
                               id="amount">
                        <label class="focus-effect-for-input" aria-hidden="true">Amount*</label>

                    </div>
                </div>
                <div class="form-group col-xs-12">
                    <div class=" styling-input-list">
                        <textarea ng-model="paymentDetails.description" type="textarea"
                                  class="form-control custom-form-control"
                                  id="description"></textarea>
                        <label class="focus-effect-for-input" aria-hidden="true">Remarks</label>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-xs-6 col-xs-push-3">
                <div class="alert alert-danger" role="alert" ng-show="paymentDetails.error.length">
                    <ul>
                        <li ng-repeat="error in paymentDetails.error">{{error}}</li>
                    </ul>
                </div>
                <div class="alert alert-success" role="alert" ng-show="paymentDetails.success.length">
                    <ul>
                        <li ng-repeat="success in paymentDetails.success">{{success}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 mtb-25 sub-can">
                    <button type="submit" class="btn can" ng-click="cancel()">Cancel</button>
                    <button type="submit" class="btn can last" ng-click="AddorUpdatePayment()">Submit</button>

                </div>
            </div>
        </form>
    </div>


</div>

