
        <div class="main-right col-xs-12" ng-controller="PaymentsCtrl">
            <div class="col-xs-12 pall-zero mb-10">
                <div class="col-sm-3 pall-zero"><h3>Payments</h3></div>
                <div class="col-sm-6">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
                <div class="col-sm-3 pall-zero">
                    <select class="form-control">
                        <option value="" selected>All Vehicles</option>
                        <option ng-repeat="parties in currentPageOfParties">{{trips.attrs.truckName}}</option>
                    </select>
                </div>
            </div>
            <!--<div class="toolbar-button-div pull-right mb-10">-->
                <!--<button class="btn  btn-blue pull-right" ng-click="goToEditPaymentsPage()">Add Payments</button>-->
            <!--</div>-->
            <table class="table table-bordered table-striped table-condensed table-hover" ng-table="paymentParams">
                <tr ng-repeat="payments in currentPageOfPayments" style="text-align: center;">
                    <td data-title="'Date'" sortable="'date'" class="clickable-item col-sm-2">{{ payments.date |
                        date:'MM-dd-yyyy'}}
                    </td>
                    <td data-title="'Party'" sortable="'partyName'" class="clickable-item col-sm-2">{{
                        payments.attrs.partyName }}
                    </td>
                    <td data-title="'Description'" sortable="'description'" class="clickable-item col-sm-2">{{
                        payments.description}}
                    </td>
                    <td data-title="'Amount'" sortable="'amount'" class="clickable-item col-sm-2">{{
                        payments.amount }}
                    </td>
                    <td data-title="'Created By'" sortable="'createdByName'"
                        class="clickable-item col-sm-2">{{ payments.attrs.createdByName }}
                    </td>
                    <td data-title="'Action'" class="col-sm-2">
                        <a href="#" class="btn" ng-click="goToEditPaymentsPage(payments._id)">
                            <span class="glyphicon glyphicon-pencil"></span></a>

                        <a href="#" class="btn" ng-click="deletePaymentsRecord(payments._id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                <tr ng-if="!currentPageOfPayments || currentPageOfPayments.length === 0">
                    <td colspan="8">No Payments Records exist.</td>
                </tr>
            </table>
            <div class="add-image pull-right">
                <figure>
                    <a href="#" ng-click="goToEditPaymentsPage()"><img src="images/Add_Payments.png"></a>
                </figure>
            </div>
        </div>
